{% load forms_extras %}

{% if widget.attrs.disabled %}

<select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:opacity-50" disabled>
    <option value="">---------</option>
    <option value="{{ widget.value.0 }}" selected>{{ widget.optgroups|selected_option_label }}</option>
</select>

<input type="hidden" name="{{ widget.name }}" value="{{ widget.value.0 }}">

{% else %}


<div class="{{ widget.attrs.class }}">
    <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }

            this.$refs.button.focus()

            this.open = true
        },
        close(focusAfter) {
            if (! this.open) return

            this.open = false

            focusAfter && focusAfter.focus()
        },
        search: '',
        selectedValue: {% if widget.value %}{{ widget.value }}{% else %}'{{ widget.optgroups.0.1.0.value }}'{% endif %},
        selectedIndex: {{ widget.optgroups|selected_option_index }},
        selectedName: {% if widget.label %}{{ widget.label }}{% else %}document.querySelector('#{{ widget.attrs.id }} [d-selected]').textContent{% endif %},
        show_item(el) {
        return this.search === '' || el.textContent.toLowerCase().includes(this.search.toLowerCase())
        }
    }" 
        x-class="flex flex-col" x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']"
        class="relative shrink w-full">
    
        <div class="flex flex-col border bg-gray-50 border-gray-300 text-gray-900 rounded-t-lg focus:ring-blue-500 focus:border-blue-500 w-full pt-2.5 disabled:opacity-50" :class="open === false ? 'rounded-b-lg' : ''">
            <div x-ref="button"
            x-on:click="toggle(); $nextTick(() => { $refs.search.focus(); });"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button" class="h-8 cursor-pointer w-full px-2.5 flex flex-row justify-between truncate">
                <p x-text="selectedName" class="w-full truncate"></p><i class="fas fa-angle-down mt-1 mr-0.5 text-gray-800"></i>
            </div>
        </div>

        <div x-ref="panel"
            x-show="open"
            x-transition.origin.top.left
            x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')"
            style="display: none;"
            class="absolute left-0 right-0 rounded-md bg-gray-50 shadow-md z-10">
            <div class="flex flex-row space-x-0 w-full border-x border-gray-300 {{ widget.attrs.searchbar_class }}">
                <div class="my-auto search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input class="border-none focus:ring-0 bg-transparent w-full" type="search" placeholder="Search..." x-ref="search" x-model="search">
            </div>
            <div class="{{ widget.attrs.wrapper_class }}">

            {% comment %} <div>
            <p>Search Input: <span x-text="search"></span></p>
            </div> {% endcomment %}

                {% with id=widget.attrs.id %}
                <div {% if id %} id="{{ id }}"{% endif %} class="overflow-x-hidden break-words">
                    {% for group_name, group_choices, group_index in widget.optgroups %}
                        {% if group_name %}
                        <div>
                            <label>{{ group_name }}</label>
                        {% endif %}
                        {% for option in group_choices %}
                            <div x-show="show_item($el)">
                                {% include option.template_name with widget=option %}
                            </div>
                        {% endfor %}
                        {% if group_name %}</div>{% endif %}
                    {% endfor %}
                </div>{% endwith %}
                
            </div>
            <input type="hidden" id="{{ id }}_selected" name="{{ widget.name }}" x-bind:value="selectedValue" x-on:keyup="submitDisabled = false" @change="submitDisabled = false">
        </div>

    </div>
</div>


{% endif %}