{% extends 'back_office/base.html' %}

{% block title %}Risk Analyses{% endblock %}

{% load i18n static %}

{% block content %}
<div class="">
    {% with page_title='Risk Analyses' %}
    {% include 'back_office/snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="grid mb-4"
        x-data="modal()">
        <a x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
               class="add-button">
               <i class="fas fa-plus"></i>
               New Risk Analysis
        </a>
        {% include "back_office/snippets/analysis_create_modal.html" %}
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <th class="px-6 py-3">{% trans "ID" %}</th>
                <th class="px-6 py-3">{% trans "Auditor" %}</th>
                <th class="px-6 py-3">{% trans "Last Update" %}</th>
                <th class="px-6 py-3">  </th>
            </thead>
            <tbody>
                {% for analysis in page_obj %}
                    <tr class=" odd:bg-white even:bg-gray-50 ">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            <div class="flex items-center">
                                {% if analysis.is_draft %}
                                <span class="bg-blue-100 p-1 rounded-lg text-xs">{% trans "draft" %}</span>
                                {% else %}
                                <span class="bg-green-200 p-1 rounded-lg text-xs ">{% trans "ready" %}</span>
                                {% endif %}
                                <div class="ml-3">
                                    <a id="analysis{{ analysis.id }}" href="{% url 'ra-update' analysis.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ analysis }}
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {% if analysis.auditor %}{{ analysis.auditor }}{% else %}--{% endif %}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ analysis.updated_at|date }}
                            </p>
                        </td>
                        <td class="px-6 py-4">

                            <div class="">
                                <span><a href="#" class="table-action"><i class="far fa-eye"></i></a></span>
                                <span>
                                    <a href="{% url 'ra-update' analysis.id %}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>

                                <span x-data="modal()">
                                    <a x-on:click="open()" type="button" class="cursor-pointer table-action" data-toggle="modal" data-target="#exampleModalTwo">
                                        <i class="fas fa-trash"></i>
                                        
                                    </a>
                                          
                                {% include 'back_office/snippets/ra_delete_modal.html' %}
                                
                                </span>
                                          
                                          <script src="{% static 'js/modal.js' %}"></script>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'back_office/snippets/paginator.html' %}
    </div>
</div>


{% endblock %}