{% load static tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Back Office</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script defer src="https://unpkg.com/alpinejs@3.9.2/dist/cdn.min.js"></script>
		{% tailwind_css %}
	</head>

	<body class="bg-gray-100">
            {% include 'back_office/sidebar.html' %}
            <main class="ml-72 mr-8">
                {% block content %}
                {% endblock %}
            </main>
	</body>
</html>
