{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title='Fast Track' %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<main class="h-screen">

    <div class="container p-4 ">
        <div class="">
            <div class="flex w-full rounded bg-white p-4">
                <div class="w-1/5 bg-white h-48 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">Step 1</div>
                    <div class="font-semibold mb-4">Projects</div>
                    <div class="text-sm mb-2">Setup a <a href="#" class="simple-link">domain</a> to organize projects and <a href="#" class="simple-link">create one</a>. Start identifying your <a href="#" class="simple-link">assets</a> to keep focus.</div>
                    
                </div>

                <div class="w-1/5 bg-white h-48 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">Step 2</div>
                    <div class="font-semibold mb-4">Threats</div>
                    <div class="text-sm mb-2">This and that</div>
                </div>

                <div class="w-1/5 bg-white h-48 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">Step 3</div>
                    <div class="font-semibold mb-4">Security Functions</div>
                    <div class="text-sm mb-2">This and that</div>
                </div>

                <div class="w-1/5 bg-white h-48 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">Step 4</div>
                    <div class="font-semibold mb-4">Risk Analysis</div>
                    <div class="text-sm mb-2">This and that</div>
                </div>

                <div class="w-1/5 bg-white h-48 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">Step 5</div>
                    <div class="font-semibold mb-4">Scenarios and Remediations</div>
                    <div class="text-sm mb-2">This and that</div>
                </div>


            </div>




        </div>
    </div>

    
</main>
{% endblock %}