{% extends 'back_office/base.html' %}
{% load i18n %}

{% block content %}
<div class="">
    {% with page_title=_('Groups') %}
    {% include 'back_office/snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="flex flex-row">
        <div class="bg-white rounded-lg shadow w-72 h-24 px-4 my-4">
            <form action="" class="p-1">
                <p class="text-sm font-semibold mb-2">Action</p>
                <select name="action" id="action" class="rounded-md border-gray-400">
                    <option>--</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </form>
        </div>
        <div class="my-auto mx-4">
            <a href="{% url 'group-create' %}" class="add-button"><i class="fas fa-plus mr-2"></i>{% trans "New Group" %}</a>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Group Name" %}</th>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="ml-0">
                                    <a id="group{{ group.id }}" href="{% url 'group-update' group.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ group.name|capfirst }}
                                    </a>
                                </div>
                            </div>
                        </th>
                    </tr>
                {% empty %}
                    <tr>
                        <td>
                            <div class="text-black p-4">
                                <i class="inline fas fa-exclamation-triangle"></i>
                                <p class="inline test-gray-900">No group found. {{ model.verbose_name }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'back_office/snippets/paginator.html' %}
    </div>
</div>
{% endblock %}