{% extends 'back_office/base.html' %}
{% load i18n %}
{% block content %}
{% with page_title='Dashboard' %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div class="w-full h-full mx-auto">
    <section class="border">
        <div class="container mx-w-8xl mx-auto py-2">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap -m-4 text-center">
                    <div class="dashboard-card">
                        <h2 class="title-font font-medium sm:text-4xl text-3xl">2.7K</h2>
                        <p class="leading-relaxed">Risk Scenarios</p>
                    </div>
                    <div class="dashboard-card">
                        <h2 class="title-font font-medium sm:text-4xl text-3xl">1.8K</h2>
                        <p class="leading-relaxed">Measures</p>
                    </div>
                    <div class="dashboard-card">
                        <h2 class="title-font font-medium sm:text-4xl text-3xl">35</h2>
                        <p class="leading-relaxed">Projects</p>
                    </div>
                    <div class="dashboard-card">
                        <h2 class="title-font font-medium sm:text-4xl text-3xl">4</h2>
                        <p class="leading-relaxed">Exceptions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}