{% extends 'back_office/base.html' %}
{% load i18n static %}
{% block content %}
{% with page_title=project %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<div class="mb-4">
    <form method="post" id="analysis_form">{% csrf_token %}
        <div class="bg-white rounded-lg shadow px-8 py-6">
            <section class="flex flex-col space-y-4 mb-2">
                <div class="flex flex-row space-x-6">
                    <div class="flex flex-col w-full">
                        <div class="inline"></div>
                        <p class="text-sm font-semibold">{% trans "Project Name" %}</p>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="text-sm font-semibold">{% trans "Internal ID" %}</p>
                        {{ form.internal_id.errors }}
                        {{ form.internal_id }}
                    </div>

                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Domain" %}</p>
                    {{ form.parent_group.errors }}
                    {{ form.parent_group }}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Status" %}</p>
                    {{ form.lc_statuserrors }}
                    {{ form.lc_status}}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Summary" %}</p>
                    {{ form.summary.errors }}
                    {{ form.summary }}
                </div>
            </section>
            <div class="flex justify-end space-x-2">
                <button onclick="window.history.back()" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
                <input type="hidden" name="next" value={{ request.GET.next }}>
                <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>
<div class="bg-white rounded-lg shadow px-4 py-6 w-full">
    <div class="grid justify-items-stretch grid-cols-2 mb-2">
        <h2 class="text-xl font-semibold">{% trans "Associated risk analyses" %}</h2>
        {% include 'back_office/snippets/add_button_modal.html' with form=analysis_create_form header=_("Add Analysis") model="analysis" content=_("New risk analysis") %}
    </div>
    </div>
    {% include 'back_office/snippets/ra_list_nested.html' %}
</div>

{% endblock %}