{% extends 'back_office/base.html' %}
{% load i18n %}
{% block content %}
{% with page_title=_("New project") %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<div>
    <form method="post" id="analysis_form" x-data="{ submitDisabled: true }" @change="submitDisabled = !submitDisabled">{% csrf_token %}
        <div class="bg-white rounded-lg shadow px-8 py-6">
            <section class="flex flex-col space-y-4">
                <div class="flex flex-row space-x-6">
                    <div class="flex flex-col w-full">
                        <p class="text-sm font-semibold">{% trans "Project Name" %}</p>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="text-sm font-semibold">{% trans "Internal ID" %}</p>
                        {{ form.internal_id.errors }}
                        {{ form.internal_id }}
                    </div>

                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Domain" %}</p>
                    {{ form.folder.errors }}
                    {{ form.folder }}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Status" %}</p>
                    {{ form.lc_status.errors }}
                    {{ form.lc_status}}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Summary" %}</p>
                    {{ form.summary.errors }}
                    {{ form.summary }}
                </div>
            </section>

        </div>
        <a href="{% url 'project-list' %}" class="bg-red-700 text-white font-semibold p-2 py-2.5 rounded-lg hover:bg-red-600">{% trans "Cancel" %}</a>
        <button action="submit" class="bg-blue-700 text-white font-semibold p-2 rounded-lg hover:bg-blue-600">{% trans "Save" %}</button>
    </form>
</div>

{% endblock %}