{% extends 'back_office/base.html' %}
{% load i18n %}
{% block content %}
{% with page_title=project %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<div>
    <form method="post" id="project_form">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="bg-white rounded-lg shadow mb-4">
        <div class="flex flex-row space-x-4 mb-4 divide-x">
            <div class="px-4 py-6">
                <h2 class="text-xl font-semibold mb-4">Summary</h2>
                <section class="flex flex-col space-y-4">
                    <div class="flex flex-row space-x-6">
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-sm">Status</p>
                            <p class="text-md font-semibold">{{ project.lc_status }}</p>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-sm">Internal ID</p>
                            <p class="text-md font-semibold">{{ project.internal_id }}</p>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-sm">Parent Domain</p>
                            <p class="text-md font-semibold">{{ project.parent_group }}</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="px-4 py-6 w-full">
                <h2 class="text-xl font-semibold mb-4">Project</h2>
                <p class="text-sm font-semibold">Summary</p>
                {{ form.summary.errors }}
                {{ form.summary }}
                <p class="text-xs text-gray-400">{{ form.comments.help_text|striptags|capfirst }}</p>
            </div>
        </div>
        <a href="{% url 'ra-list' %}" class="bg-red-700 text-white font-semibold p-2 py-2.5 rounded-lg hover:bg-red-600">Cancel</a>
        <button action="submit" class="bg-blue-700 text-white font-semibold p-2 rounded-lg hover:bg-blue-600">Submit</button>
    </div>
    </div>
    </form>
    <div class="bg-white rounded-lg shadow px-4 py-6 w-full">
        <h2 class="text-xl font-semibold mb-4">Associated Risk Analyses</h2>
        <div class="grid mb-4">
            <a href="{% url 'ra-create' %}"
                   class="justify-self-end rounded bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2">
                   <i class="fas fa-plus"></i>
                   New Risk Analysis
            </a>
        </div>
        {% include 'back_office/snippets/ra_list_nested.html' %}
    </div>
</div>
{% endblock %}