{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title=_('Projects domains') %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div class="">
    <div class="flex flex-row justify-start space-x-4 h-fit">
        <!-- Ordering, Searchbar and Dropdown Form -->
        <form method="get">
            <div class="flex flex-row space-x-4">
                <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                        <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ filter.form.name }}
                </div>
                <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-sort"></i>
                    </div>
                    {{ filter.form.orderby }}
                </div>        
            </div>
        </form>
        {% url 'pd-list' as short_path %}
        {% if request.get_full_path != short_path %}
        <div class="flex items-center h-10 w-full">
            <a href="{% url 'pd-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
                <span>{% trans "Clear Filters" %}</span>
            </a>
        </div>
        {% endif %}
        <!-- End Filters Dropdown Form -->
        <div class="grid mb-4 w-full"
        x-data="modal()">
            <a id="modal" x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
                class="add-button">
                <i class="fas fa-plus"></i>
                {% trans "New projects domain" %}
            </a>
            {% include "back_office/snippets/projects_domain_create_modal.html" %}
        </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Domain" %}</th>
                <th class="px-6 py-3">{% trans "Department" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for domain in page_obj %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <div class="flex items-center">
                                <div>
                                    <a id="domain{{ domain.id }}" href="{% url 'pd-update' domain.id %}?next={{ request.path|urlencode }}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ domain }}
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {% if domain.department %}{{ domain.department }}{% else %}--{% endif %}
                            </p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="">
                                {% comment %} <span><a href="#" class="table-action"><i class="far fa-eye"></i></a></span> {% endcomment %}
                                <span>
                                    <a href="{% url 'pd-update' domain.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>
    
                                <span x-data="modal()">
                                    <a x-on:click="open()" type="button" class="cursor-pointer table-action" data-toggle="modal" data-target="#exampleModalTwo">
                                        <i class="fas fa-trash"></i>
                                        
                                    </a>
                                        
                                {% include 'back_office/snippets/projects_domain_delete_modal.html' %}
                                
                                </span>
                                        
                                        <script src="{% static 'js/modal.js' %}"></script>
    
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="text-black p-4 text-center">
                        <td colspan="8" class="py-2">
                            <i class="inline fas fa-exclamation-triangle"></i>
                            <p class="inline test-gray-900">{% trans "No projects domain found." %}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'back_office/snippets/paginator.html' %}
    </div>
</div>
{% endblock %}