{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title='Projects Domains' %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div class="">
    <div class="grid mb-4"
        x-data="modal()">
        <a x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
               class="justify-self-end rounded cursor-pointer bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2">
               <i class="fas fa-plus"></i>
               New Projects Domain
        </a>
        {% include "back_office/snippets/projects_domain_create_modal.html" %}
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    <div class="inline-block min-w-full shadow rounded-lg overflow-visible px-4 bg-white">
        <table class="min-w-full leading-normal">
            <thead>
                <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    {% trans "Domain" %}
                </th>
                <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    {% trans "Department" %}
                </th>
                <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    {% trans "Actions" %}
                </th>
            </thead>
            <tbody>
                {% for domain in page_obj %}
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                <div class="ml-3">
                                    <a id="domain{{ domain.id }}" href="{% url 'pd-update' domain.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ domain }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {% if domain.department %}{{ domain.department }}{% else %}--{% endif %}
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm overflow-visible">
                            <div class="relative" x-data="{
                                open: false,
                                toggle() {
                                    if (this.open) {
                                        return this.close()
                                    }
                     
                                    this.$refs.button.focus()
                     
                                    this.open = true
                                },
                                close(focusAfter) {
                                    if (! this.open) return
                     
                                    this.open = false
                     
                                    focusAfter && focusAfter.focus()
                                }
                            }"
                            x-on:keydown.escape.prevent.stop="close($refs.button)"
                            x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                            x-id="['dropdown-button']">
                                <!-- Button -->
                                <button 
                                    x-ref="button"
                                    x-on:click="toggle()"
                                    :aria-expanded="open"
                                    :aria-controls="$id('dropdown-button')"
                                    type="button"
                                    class="border border-gray-400 px-4 py-2 rounded shadow hover:bg-gray-100" 
                                >
                                <span aria-hidden="true">&darr;</span>
                                </button>
    
                                <!-- Panel -->
                                <ul 
                                    x-ref="panel"
                                    x-show="open"
                                    x-transition.origin.top.left
                                    x-on:click.outside="close($refs.button)"
                                    :id="$id('dropdown-button')"
                                    style="display: none;"
                                    class="absolute font-normal bg-white shadow overflow-hidden rounded w-24 border mt-2 py-1 z-20"
                                >
                                    <li>
                                        <a href="{% url 'project-update' domain.id %}" class="flex items-center px-3 py-3 hover:bg-gray-100">
                                            <i class="fas fa-edit"></i>
                                            <span class="ml-2">Edit</span>
    
                                        </a>
                                    </li>
                                    <li>
                                        <div x-data="modal()">
                                            <a x-on:click="open()" type="button" class="flex items-center px-3 py-3 hover:bg-gray-100 cursor-pointer" data-toggle="modal" data-target="#deleteModal">
                                                <i class="fas fa-trash"></i>
                                                <span class="ml-2">Delete</span>
                                            </a>
                                          
                                            {% include 'back_office/snippets/projects_domain_delete_modal.html' %}
                                            
                                          </div>
                                          
                                          <script src="{% static 'js/modal.js' %}"></script>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'back_office/snippets/paginator.html' %}
    </div>
</div>
{% endblock %}