{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title=_('Quick start') %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<main class="h-screen">

    <div class="p-4">
        <div class="flex-row">
            <div class="flex w-full rounded-lg shadow bg-white border-t-4 border-violet-700 p-4 mb-2">
                <div class="w-1/5 bg-white mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 0</div>
                    <div class="font-semibold mb-4">{% trans "Libraries" %}</div>
                    <div class="text-sm mb-2 rounded">
                        {% trans "If you have just started the application for the first time, don't forget to import some" %}
                        <a href="{% url 'library-list' %}" class="simple-link">{% trans "libraries" %}</a> 
                        {% trans "(yours or the ones provided by default) before doing anything." %}
                </div>
            </div>
            <div class="mt-28 mr-4">
                <div class="h-0 w-0 border-y-8 border-y-transparent border-l-[16px] border-l-violet-700"></div>
            </div>
            <div class="flex w-full rounded-lg shadow bg-white p-4">
                <div class="w-1/5 bg-white border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 1</div>
                    <div class="font-semibold mb-4">{% trans "Projects" %}</div>
                    <div class="text-sm mb-2 rounded">{% trans "Setup a" %}
                        <div class="inline" x-data="{ open: false }">
                            <a @click="open = ! open"
                                   class="simple-link cursor-pointer">
                                   {% trans "domain" %}
                            </a>
                                {% include "back_office/snippets/modal.html" with modal_action="create" model="pd" form=projects_domain_create_form header=_("Add projects domain") %}
                        </div>
                        {% trans "to organize projects and" %} 
                        <div class="inline" x-data="{ open: false }">
                            <a @click="open = ! open"
                                   class="simple-link cursor-pointer">
                                   {% trans "create one" %}
                            </a>
                                {% include "back_office/snippets/modal.html" with modal_action="create" model="project" form=project_create_form header=_("Add project") %}
                        </div>
                        {% trans "Start identifying your" %}
                        <div class="inline" x-data="{ open: false }">
                            <a @click="open = ! open"
                                   class="simple-link cursor-pointer">
                                   {% trans "assets" %}
                            </a>
                                {% include "back_office/snippets/modal.html" with modal_action="create" model="asset" form=asset_create_form header=_("Add asset") %}
                        </div>
                        {%trans "to keep focus" %}.
                    </div>    
                </div>

                <div class="w-1/5 bg-white border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 2</div>
                    <div class="font-semibold mb-4">{% trans "Threats" %}</div>
                    <div class="text-sm mb-2 rounded  ">{% trans "Identify what and who are the" %}
                        <div class="inline" x-data="{ open: false }">
                            <a @click="open = ! open"
                                   class="simple-link cursor-pointer">
                                   {% trans "threat" %}
                            </a>
                                {% include "back_office/snippets/modal.html" with modal_action="create" model="threat" form=threat_create_form header=_("Add threat") %}
                        </div> 
                        {% trans "factors and agents that can be relevant to your organization and how they apply to your case." %}</div>
                </div>

                <div class="w-1/5 bg-white border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 3</div>
                    <div class="font-semibold mb-4">{% trans "Security functions" %}</div>
                    <div class="text-sm mb-2 rounded ">{% trans "Understand and inventory the" %}
                        <div class="inline" x-data="{ open: false }">
                            <a @click="open = ! open"
                                   class="simple-link cursor-pointer">
                                   {% trans "security functions" %}
                            </a>
                                {% include "back_office/snippets/modal.html" with modal_action="create" model="security-function" form=security_function_create_form header=_("Add security function") %}
                        </div>
                        {% trans "that your organization have. They can be technical or organizational." %}</div>
                </div>

                <div class="w-1/5 bg-white border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 4</div>
                    <div class="font-semibold mb-4">{% trans "Risk analyses" %}</div>
                    <div class="text-sm mb-2 rounded">{% trans "You need to select a scoring" %} <a href="{% url 'matrix' %}" class="simple-link">{% trans "matrix" %}</a> {% trans "or import a new one with the library manager. Now you can start a new" %} 
                        <span x-data="modal()">
                            <div class="inline" x-data="{ open: false }">
                                <a @click="open = ! open"
                                       class="simple-link cursor-pointer">
                                       {% trans "risk analysis" %}
                                </a>
                                    {% include "back_office/snippets/modal.html" with modal_action="create" model="analysis" form=analysis_create_form header=_("Add analysis") %}
                            </div>
                        {% trans "and combine the previous items." %}</div>
                </div>

                <div class="w-1/5 bg-white border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 5</div>
                    <div class="font-semibold mb-4">{% trans "Scenarios and Remediations" %}</div>
                    <div class="text-sm mb-2 rounded  ">{% trans "Enrich" %} <a href="{% url 'ra-list' %}" class="simple-link">{% trans "your analysis" %}</a> {% trans "by identifying the potential risk scenarios and the security measures to mitigate them." %}</div>
                </div>


            </div>




        </div>
    </div>


</main>
{% endblock %}