{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title=_('Quick Start') %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<main class="h-screen">

    <div class="p-4">
        <div class="">
            <div class="flex w-full rounded shadow bg-white p-4">
                <div class="w-1/5 bg-white h-96 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 1</div>
                    <div class="font-semibold mb-4">{% trans "Projects" %}</div>
                    <div class="text-sm mb-2 rounded">{% trans "Setup a" %}
                        <span x-data="modal()">
                            <a href="#" x-on:click="open()" data-toggle="modal" data-target="#createModal"
                               class="simple-link">{% trans "domain" %}</a>
                            {% include "back_office/snippets/projects_domain_create_modal.html" %}
                        </span>
                        {% trans "to organize projects and" %} 
                        <span x-data="modal()">
                            <a href="#" x-on:click="open()" data-toggle="modal" data-target="#createModal"
                               class="simple-link">{% trans "create one" %}</a>.
                            {% include "back_office/snippets/project_create_modal.html" %}
                        </span>
                        {% trans "Start identifying your" %} <a href="#"
                        class="simple-link">{% trans "assets" %}</a> {%trans "to keep focus" %}.
                    </div>    
                    <script src="{% static 'js/modal.js' %}"></script>      
                </div>

                <div class="w-1/5 bg-white h-96 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 2</div>
                    <div class="font-semibold mb-4">{% trans "Threats" %}</div>
                    <div class="text-sm mb-2 rounded  ">{% trans "Identify what and who are the" %}
                        <span x-data="modal()">
                        <a href="#" x-on:click="open()" data-toggle="modal" data-target="#createModal"
                           class="simple-link">{% trans "threat" %}</a>
                           {% include "back_office/snippets/threat_create_modal.html" %}
                        </span> {% trans "factors and agents that can be relevant to your organization and how they apply to your case." %}</div>
                    <script src="{% static 'js/modal.js' %}"></script> 
                </div>

                <div class="w-1/5 bg-white h-96 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 3</div>
                    <div class="font-semibold mb-4">{% trans "Security Functions" %}</div>
                    <div class="text-sm mb-2 rounded ">{% trans "Understand and inventory the" %}
                        <span x-data="modal()">
                        <a href="#" x-on:click="open()" data-toggle="modal" data-target="#createModal"
                           class="simple-link">{% trans "security functions" %}</a>
                           {% include "back_office/snippets/security_function_create_modal.html" %}
                        </span> {% trans "that your organization have. They can be technical or organizational." %}</div>
                    <script src="{% static 'js/modal.js' %}"></script> 
                </div>

                <div class="w-1/5 bg-white h-96 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 4</div>
                    <div class="font-semibold mb-4">{% trans "Risk Analyses" %}</div>
                    <div class="text-sm mb-2 rounded  ">{% trans "You need to define a scoring" %} <a href="#" class="simple-link">{% trans "matrix" %}</a> {% trans "or use a preset. Now you can start a new" %} <span x-data="modal()">
                        <a href="#" x-on:click="open()" data-toggle="modal" data-target="#createModal"
                           class="simple-link">{% trans "risk analysis" %}</a>
                           {% include "back_office/snippets/analysis_create_modal.html" %}
                        </span> {% trans "and combine the previous items." %}</div>
                    <script src="{% static 'js/modal.js' %}"></script> 
                </div>

                <div class="w-1/5 bg-white h-96 border-t-4 border-violet-700 mx-4 py-2">
                    <div class="text-indigo-800 text-sm font-semibold">{% trans "Step" %} 5</div>
                    <div class="font-semibold mb-4">{% trans "Scenarios and Remediations" %}</div>
                    <div class="text-sm mb-2 rounded  ">{% trans "Enrich" %} <a href="#" class="simple-link">{% trans "your analysis" %}</a> {% trans "by identifying the potential risk scenarios and the security measures to mitigate them." %}</div>
                    <script src="{% static 'js/modal.js' %}"></script> 
                </div>


            </div>




        </div>
    </div>


</main>
{% endblock %}