{% extends 'back_office/base.html' %}
{% block content %}
{% load i18n %}
{% with page_title='New Risk Scenario' %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div>
    <form method="post" id="instance_create_form">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="flex flex-row space-x-4">
            <div class="flex flex-col space-y-4">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Summary" %}</h2>
                    <section class="flex flex-col space-y-4">
                        <div class="flex flex-row space-x-6">
                            <div class="flex flex-col">
                                <p class="text-gray-400 text-xs">{% trans "Parent Analysis" %}</p>
                                <p class="text-xs font-semibold">{{ analysis }}</p>
                            </div>
                            <div class="flex flex-col">
                                <p class="text-gray-400 text-xs">{% trans "Auditor" %}</p>
                                <p class="text-xs font-semibold">{{ analysis.auditor.get_full_name }}</p>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Scenario Title" %}</p>
                            {{ form.title.errors }}
                            {{ form.title }}
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Parent Risk" %}</p>
                            {{ form.parent_risk.errors }}
                            {{ form.parent_risk }}
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Scenario" %}</p>
                            {{ form.scenario.errors }}
                            {{ form.scenario }}
                        </div>
                    </section>
                </div>
                <div class="flex flex-col space-y-4">
                    <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                        <h2 class="text-lg font-semibold mb-4">{% trans "Residual Risk Level" %}</h2>
                        <div class="flex flex-row space-x-4 mt-4">
                            <div>
                                <p class="text-sm font-semibold whitespace-nowrap">{% trans "Residual Probability" %}</p>
                                {{ form.residual_proba.errors }}
                                {{ form.residual_proba }}
                            </div>
                            <div>
                                <p class="text-sm font-semibold">{% trans "Residual Impact" %}</p>
                                {{ form.residual_impact.errors }}
                                {{ form.residual_impact }}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-4 px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                        <div>
                            <h2 class="text-lg font-semibold mb-4">{% trans "Follow up" %}</h2>
                            <p class="text-sm font-semibold">{% trans "Treatment Status" %}</p>
                            {{ form.treatment.errors }}
                            {{ form.treatment }}
                        </div>
                        <div>
                            <p class="text-sm font-semibold">{% trans "Comments" %}</p>
                            {{ form.comments.errors }}
                            {{ form.comments }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-3 w-full">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Current Risk Level" %}</h2>
                    <p class="text-sm font-semibold">{% trans "Existing Measures" %}</p>
                    {{ form.existing_measures.errors }}
                    {{ form.existing_measures }}
                    <p class="text-xs text-gray-400">{{ form.existing_measures.help_text|striptags|capfirst }}</p>
                    
                    <div class="flex flex-row space-x-8 mt-4">
                        <div>
                            <p class="text-sm font-semibold">{% trans "Current Probability" %}</p>
                            {{ form.current_proba.errors }}
                            {{ form.current_proba }}
                        </div>
                        <div>
                            <p class="text-sm font-semibold">{% trans "Current Impact" %}</p>
                            {{ form.current_impact.errors }}
                            {{ form.current_impact }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-row space-x-4 mb-4">
                    <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                        <h2 class="text-lg font-semibold mb-4">{% trans "Associated Measures" %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex space-x-2 mt-4">
            <a href="{% url 'ra-update' analysis.id %}" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</a>
            <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">{% trans "Save" %}</button>
        </div>
    </form>
</div>
{% endblock content %}