{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
<div class="">
    {% with page_title='Risk Scenarios' %}
    {% include 'back_office/snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="grid mb-4"
        x-data="modal()">
            <a x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
            class="add-button">
                <i class="fas fa-plus"></i>
                {% trans "New Risk Scenario" %}
            </a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <th class="px-6 py-3">{% trans "Title" %}</th>
                <th class="px-6 py-3">{% trans "Parent Risk" %}</th>
                <th class="px-6 py-3">{% trans "Parent Project" %}</th>
                <th class="px-6 py-3">{% trans "Treatment Status" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for scenario in scenarios %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="">
                                    <a id="scenario{{ scenario.id }}" href="{% url 'ri-update' scenario.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ scenario.title|capfirst }}
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {% if scenario.parent_risk %}{{ scenario.parent_risk }}{% else %}--{% endif %}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ scenario.parent_project }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ scenario.get_treatment_display }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <div class="">
                                <span><a href="#" class="table-action"><i class="far fa-eye"></i></a></span>
                                <span>
                                    <a href="{% url 'ri-update' scenario.id %}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>

                                <span x-data="modal()">
                                    <a x-on:click="open()" type="button" class="cursor-pointer table-action" data-toggle="modal" data-target="#exampleModalTwo">
                                        <i class="fas fa-trash"></i>
                                        
                                    </a>
                                        
                                {% include 'back_office/snippets/risk_scenario_delete_modal.html' %}
                                
                                </span>
                                        
                                        <script src="{% static 'js/modal.js' %}"></script>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'back_office/snippets/paginator.html' %}
    </div>
</div>

{% endblock %}