{% extends 'back_office/base.html' %}
{% load i18n static %}
{% block content %}
{% with page_title=instance %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div>
    <form method="post" id="instance_update_form">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="flex flex-col space-y-8">
        <section class="flex flex-row space-x-8 w-full">
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                <h2 class="text-lg font-semibold mb-4">Risk Scenario</h2>
                <section class="flex flex-col space-y-4">
                    <div class="flex flex-row space-x-6">
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-xs">Project</p>
                            <p class="text-xs font-semibold">{{ instance.analysis.project }}</p>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-xs">Auditor</p>
                            <p class="text-xs font-semibold">{{ instance.analysis.auditor.get_full_name }}</p>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-gray-400 text-xs">Version</p>
                            <p class="text-xs font-semibold">{{ instance.analysis.version }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-gray-400 text-xs">Analysis</p>
                        {{ form.analysis.errors }}
                        {{ form.analysis }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">Threat</p>
                        {{ form.parent_risk.errors }}
                        {{ form.parent_risk }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">Subject</p>
                        {{ form.title.errors }}
                        {{ form.title }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">Scenario</p>
                        {{ form.scenario.errors }}
                        {{ form.scenario }}
                    </div>
                </section>
            </div>
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                <h2 class="text-lg font-semibold mb-4">Current Profile</h2>
                <p class="text-sm font-semibold">Existing Measures</p>
                {{ form.existing_measures.errors }}
                {{ form.existing_measures }}
                <p class="text-xs text-gray-400">{{ form.existing_measures.help_text|striptags|capfirst }}</p>
                
                <div class="flex flex-row space-x-8 mt-4">
                    <div>
                        <p class="text-sm font-semibold">Current Probability</p>
                        {{ form.current_proba.errors }}
                        {{ form.current_proba }}
                    </div>
                    <div>
                        <p class="text-sm font-semibold">Current Impact</p>
                        {{ form.current_impact.errors }}
                        {{ form.current_impact }}
                    </div>
                    <div>
                        <p class="text-sm font-semibold">Current Level</p>
                        {{ instance.get_current_level_display }}
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-row-reverse w-full">
            <div class="flex flex-col space-y-4 w-full mb-4">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <h2 class="text-lg font-semibold mb-4">Treatment</h2>
                    <div class="flex flex-row space-x-4 mt-4">
                        <div>
                            <p class="text-sm font-semibold whitespace-nowrap">Residual Probability</p>
                            {{ form.residual_proba.errors }}
                            {{ form.residual_proba }}
                        </div>
                        <div>
                            <p class="text-sm font-semibold">Residual Impact</p>
                            {{ form.residual_impact.errors }}
                            {{ form.residual_impact }}
                        </div>
                        <div>
                            <p class="text-sm font-semibold">Residual Level</p>
                            {{ instance.get_residual_level_display }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-4 px-4 pb-4 bg-white rounded-lg shadow">
                    <div>
                        <h2 class="text-lg font-semibold mb-4">Follow up</h2>
                        <p class="text-sm font-semibold">Treatment Status</p>
                        {{ form.treatment.errors }}
                        {{ form.treatment }}
                    </div>
                    <div>
                        <p class="text-sm font-semibold">Comments</p>
                        {{ form.comments.errors }}
                        {{ form.comments }}
                    </div>
                </div>
            </div>
    </form>
            <div class="flex flex-col justify-center w-20 space-y-4">
                <div class="items-center pl-5 pb-20">
                    <i class="scale-[5] scale-y-[3] fas fa-caret-right text-warmgray-700 drop-shadow-xs"></i>
                </div>
            </div>
            <div class="flex flex-row space-x-4 mb-4 w-full">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                    <h2 class="text-lg font-semibold mb-4">Associated Measures</h2>
                    <div x-data="modal()">
                        <a id="newMeasures" x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
                        class="add-button">
                            <i class="fas fa-plus mr-2"></i>New Measure</a>
                        {% include "back_office/snippets/measure_create_modal.html" %}
                    </div>
                    <script src="{% static 'js/modal.js' %}"></script>
                    {% include 'back_office/snippets/mtg_list_nested.html' %}
                </div>
            </div>
        </section>
        <div class="flex pb-4 space-x-2 justify-end"> 
            <a href="{% url 'ri-list' %}" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">Cancel</a>
            <button action="submit" form="instance_update_form" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">Save</button>
        </div>
    </div>
</div>
{% endblock %}