{% extends 'back_office/base.html' %}
{% load i18n static %}
{% block content %}
{% with page_title=scenario %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<script>
    var label_very_low = {% blocktrans %}'Very low'{% endblocktrans %};
    var label_low = {% blocktrans %}'Low'{% endblocktrans %};
    var label_medium = {% blocktrans %}'Medium'{% endblocktrans %};
    var label_high = {% blocktrans %}'High'{% endblocktrans %};
    var label_very_high = {% blocktrans %}'Very high'{% endblocktrans %};
    
    window.onload = function() {
        var current_proba = document.getElementById("id_riskscenario_current_proba").value;
        var current_impact = document.getElementById("id_riskscenario_current_impact").value;
        var current_level = document.getElementById("current_risk_level").value;

        var residual_proba = document.getElementById("id_riskscenario_residual_proba").value;
        var residual_impact = document.getElementById("id_riskscenario_residual_impact").value;
        var residual_level = document.getElementById("residual_risk_level").value;
    };
    
    function refresh() {
        var current_proba = document.getElementById("id_riskscenario_current_proba").value;
        var current_impact = document.getElementById("id_riskscenario_current_impact").value;
        var current_level = document.getElementById("current_risk_level").value;
        CRL = riskLevel(getValueIndex(current_proba), getValueIndex(current_impact));
        CRL_lbl = document.getElementById("current_risk_level");
        CRL_lbl.innerHTML = `${CRL}`;
        CRL = riskLevel(getValueIndex(current_proba), getValueIndex(current_impact));
        CRL_lbl.classList.remove('VL','L','M','H','VH');
        CRL_lbl.classList.add(rl_class(CRL));

        var residual_proba = document.getElementById("id_riskscenario_residual_proba").value;
        var residual_impact = document.getElementById("id_riskscenario_residual_impact").value;
        var residual_level = document.getElementById("residual_risk_level").value;
        RRL = riskLevel(getValueIndex(residual_proba), getValueIndex(residual_impact));
        RRL_lbl = document.getElementById("residual_risk_level");
        RRL_lbl.innerHTML = `${RRL}`;
        RRL = riskLevel(getValueIndex(residual_proba), getValueIndex(residual_impact));
        RRL_lbl.classList.remove('VL','L','M','H','VH');
        RRL_lbl.classList.add(rl_class(RRL));
    }

    function getValueIndex(label) {
      if (label == 'VL') return 0;
      if (label == 'L') return 1;
      if (label == 'M') return 2;
      if (label == 'H') return 3;
      if (label == 'VH') return 4;
    }
    
    function riskLevel(p, i) {
        var matrix = [];
        matrix[0] = [];
        matrix[1] = [];
        matrix[2] = [];
        matrix[3] = [];
        matrix[4] = [];
        matrix[0][0] = label_very_low;
        matrix[1][0] = label_very_low;
        matrix[2][0] = label_low;
        matrix[3][0] = label_low;
        matrix[4][0] = label_medium;
        matrix[0][1] = label_very_low;
        matrix[1][1] = label_low;
        matrix[2][1] = label_low;
        matrix[3][1] = label_medium;
        matrix[4][1] = label_medium;
        matrix[0][2] = label_low;
        matrix[1][2] = label_low;
        matrix[2][2] = label_medium;
        matrix[3][2] = label_medium;
        matrix[4][2] = label_high;
        matrix[0][3] = label_low;
        matrix[1][3] = label_medium;
        matrix[2][3] = label_medium;
        matrix[3][3] = label_high;
        matrix[4][3] = label_very_high;
        matrix[0][4] = label_medium;
        matrix[1][4] = label_medium;
        matrix[2][4] = label_high;
        matrix[3][4] = label_very_high;
        matrix[4][4] = label_very_high;
        console.log(i);
        return matrix[p][i];
    }
    
    function rl_class(label) {
        if (label == label_very_low) return 'VL';
        if (label == label_low) return 'L';
        if (label == label_medium) return 'M';
        if (label == label_high) return 'H';
        if (label == label_very_high) return 'VH';
    }
    
    </script>
<div>
    <form method="post" id="scenario_update_form">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="flex flex-col space-y-8">
        <section class="flex flex-row space-x-8 w-full">
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                <h2 class="text-lg font-semibold mb-4">{% trans "Risk scenario" %}</h2>
                <section class="flex flex-col space-y-4">
                    <div class="flex flex-row space-x-6">
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Project" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.project }}</p>
                        </div>
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Auditor" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.auditor.get_full_name }}</p>
                        </div>
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Version" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.version }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Analysis" %}</p>
                        {{ form.analysis.errors }}
                        {{ form.analysis }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Threat" %}</p>
                        {{ form.threat.errors }}
                        {{ form.threat }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Title" %}</p>
                        {{ form.title.errors }}
                        {{ form.title }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Scenario" %}</p>
                        {{ form.scenario.errors }}
                        {{ form.scenario }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Security Measures" %}</p>
                        {{ form.security_measures.errors }}
                        {{ form.security_measures }}
                    </div>
                </section>
            </div>
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                <h2 class="text-lg font-semibold mb-4">{% trans "Current profile" %}</h2>
                <p class="text-sm font-semibold">{% trans "Existing measures" %}</p>
                {{ form.existing_measures.errors }}
                {{ form.existing_measures }}
                <p class="text-xs text-gray-400">{{ form.existing_measures.help_text|striptags|capfirst }}</p>
                <div class="px-4 pt-2 pb-4 flex flex-col space-x-6 mt-10 rounded-lg shadow w-full border">
                    <p class="text-lg pb-2 font-semibold">{% trans "Current indicator" %}</p>
                    <div class="px-4 pt-2 pb-4 flex flex-row space-x-6 justify-center">
                        <div>
                            <p class="pl-1 text-sm font-semibold">{% trans "Current probability" %}</p>
                            {{ form.current_proba.errors }}
                            {{ form.current_proba }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-times"></i>
                        </div>
                        <div>
                            <p class="pl-1 text-sm font-semibold">{% trans "Current impact" %}</p>
                            {{ form.current_impact.errors }}
                            {{ form.current_impact }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-equals"></i>
                        </div>
                        <div class=""> 
                            <p class="pl-1 text-sm font-semibold">{% trans "Current risk level" %}</p>
                            <div class="">
                                <span id="current_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center
                                    {% if scenario.current_level == 'VL' %}
                                        VL 
                                    {% elif scenario.current_level == 'L' %}
                                        L
                                    {% elif scenario.current_level == 'M' %}
                                        M
                                    {% elif scenario.current_level == 'H' %}
                                        H
                                    {% elif scenario.current_level == 'VH' %}
                                        VH
                                    {% endif %}" style="margin-bottom: 10px">{{ scenario.get_current_level_display }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-row-reverse w-full">
            <div class="flex flex-col ml-1 space-y-4 w-full mb-4">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Treatment" %}</h2>
                    <div class="flex flex-row space-x-4 mt-4 justify-center">
                        <div>
                            <p class="text-sm font-semibold whitespace-nowrap">{% trans "Residual probability" %}</p>
                            {{ form.residual_proba.errors }}
                            {{ form.residual_proba }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-times"></i>
                        </div>
                        <div>
                            <p class="text-sm font-semibold">{% trans "Residual impact" %}</p>
                            {{ form.residual_impact.errors }}
                            {{ form.residual_impact }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-equals"></i>
                        </div>
                        <div class=""> 
                            <p class="pl-1 text-sm font-semibold">{% trans "Residual risk level" %}</p>
                            <div class="">
                                <span id="residual_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center
                                    {% if scenario.residual_level == 'VL' %}
                                        VL 
                                    {% elif scenario.residual_level == 'L' %}
                                        L
                                    {% elif scenario.residual_level == 'M' %}
                                        M
                                    {% elif scenario.residual_level == 'H' %}
                                        H
                                    {% elif scenario.residual_level == 'VH' %}
                                        VH
                                    {% endif %}" style="margin-bottom: 10px">{{ scenario.get_residual_level_display }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-4 px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <div>
                        <h2 class="text-lg font-semibold mb-4">{% trans "Follow-up" %}</h2>
                        <p class="text-sm font-semibold">{% trans "Treatment status" %}</p>
                        {{ form.treatment.errors }}
                        {{ form.treatment }}
                    </div>
                    <div>
                        <p class="text-sm font-semibold">{% trans "Comments" %}</p>
                        {{ form.comments.errors }}
                        {{ form.comments }}
                    </div>
                </div>
            </div>
        </form>
            <div class="flex flex-col justify-center w-20 space-y-8">
                <div class="items-center pl-5 pb-20 mt-2">
                    <i class="scale-[5] scale-y-[3] fas fa-caret-right text-warmgray-700 drop-shadow-xs"></i>
                </div>
            </div>
            <div class="mb-4 mr-1 w-full">
                <div class="px-4 pt-2 mr-2 pb-4 bg-white rounded-lg shadow w-full">
                    <div class="flex flex-row">
                        <h2 class="text-lg font-semibold mb-4">{% trans "Select security measures" %}</h2>
                        {% include 'back_office/snippets/update_button_modal.html' with form=scenario header=_("Select Security Measure") model="ri" content=_("Select security measure") %}
                    </div>
                    {% include 'back_office/snippets/mtg_list_nested.html' %}
                </div>
            </div>
        </section>
        <div class="flex space-x-2 justify-end"> 
            <button onclick="window.history.back()" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
            <input
                type="hidden" form="scenario_update_form" name="next" value={{ request.GET.next }}>
            <button action="submit" form="scenario_update_form" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">{% trans "Save" %}</button>
        </div>
    </div>
</div>
{% endblock %}