{% extends 'back_office/base.html' %}
{% load i18n %}
{% block content %}
{% with page_title=function %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}

<div class="mb-4">
    <form method="post" id="security_function_form">{% csrf_token %}
        <div class="bg-white rounded-lg shadow px-8 py-6">
            <section class="flex flex-col space-y-4 mb-2">
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Name" %}</p>
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Provider" %}</p>
                    {{ form.provider.errors }}
                    {{ form.provider}}
                </div>
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{% trans "Contact" %}</p>
                    {{ form.contact.errors }}
                    {{ form.contact }}
                </div>
            </section>
            <div class="flex justify-end space-x-2">
                <a href="{% url 'security-function-list' %}" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</a>
                <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}