{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title='Threats' %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div class="grid mb-4"
    x-data="modal()">
    <a id="newThreat" x-on:click="open()" type="button" data-toggle="modal" data-target="#createModal"
        class="add-button">
        <i class="fas fa-plus"></i>
        {% trans "New Threat" %}
    </a>
    {% include "back_office/snippets/threat_create_modal.html" %}
    <script src="{% static 'js/modal.js' %}"></script>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <th class="px-6 py-3">{% trans "Threat" %}</th>
            <th class="px-6 py-3">{% trans "Actions" %}</th>
        </thead>
        <tbody>
            {% for threat in threats %}
                <tr class="odd:bg-white even:bg-gray-50">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="">
                                <a id="instance{{ threat.id }}" href="{% url 'threat-update' threat.id %}"
                                class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                    {{ threat.title|capfirst }}
                                </a>
                            </div>
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        <div class="">
                            <span><a href="#" class="table-action"><i class="far fa-eye"></i></a></span>
                            <span>
                                <a href="{% url 'threat-update' threat.id %}" class="cursor-pointer table-action">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </span>

                            <span x-data="modal()">
                                <a x-on:click="open()" type="button" class="cursor-pointer table-action" data-toggle="modal" data-target="#exampleModalTwo">
                                    <i class="fas fa-trash"></i>
                                    
                                </a>
                                    
                            {% include 'back_office/snippets/threat_delete_modal.html' %}
                            
                            </span>
                                    
                                    <script src="{% static 'js/modal.js' %}"></script>

                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'back_office/snippets/paginator.html' %}
</div>
{% endblock %}