{% extends 'back_office/base.html' %}
{% block content %}
{% load i18n %}
{% load back_office_extras %}
{% with page_title=_('Edit user') %}
{% include 'back_office/snippets/breadcrumbs.html' %}
{% endwith %}
<div>
    <form method="post" id="user_update_form">{% csrf_token %}
        <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
            <h2 class="text-xl font-semibold mb-4">{% trans "User information" %}</h2>
            <div class="flex flex-col space-y-4">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if field.field.widget|class == "CheckboxInput" %}
                        {% include 'back_office/snippets/form_field_row.html' %}
                    {% else %}
                        <div class="flex flex-col">
                            <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
                            <div class="w-auto">
                                {% for error in field.errors %}
                                    <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                                {% endfor %}
                                {{ field }} 
                                <div class="help_text">
                                    {{ field.help_text|safe }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mt-4 flex space-x-2 justify-end">
                <a href="{% url 'user-list' %}" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</a>
            <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600">{% trans "Save" %}</button>
            </div>    
        </div>
    </form>
</div>
{% endblock content %}