{% extends 'back_office/base.html' %}
{% load i18n static %}

{% block content %}
<div class="">
    {% with page_title='Users' %}
    {% include 'back_office/snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="grid mb-4 w-full">
        <a href="{% url 'user-create' %}" class="add-button"><i class="fas fa-plus mr-2"></i>{% trans "New User" %}</a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Username" %}</th>
                <th class="px-6 py-3">{% trans "Full Name" %}</th>
                <th class="px-6 py-3">{% trans "Created At" %}</th>
                <th class="px-6 py-3">{% trans "Email Address" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <div class="flex items-center">
                                {% if not user.is_active %}
                                <span class="bg-orange-300 p-1 rounded-lg text-xs">{% trans "inactive" %}</span>
                                {% endif %}
                                {% if user.is_superuser %}
                                <span class="bg-red-300 p-1 rounded-lg text-xs">{% trans "superuser" %}</span>
                                {% endif %}
                                <div class="ml-3">
                                    <a id="user{{ user.id }}" href="{% url 'user-update' user.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ user.get_username }}
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td cclass="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ user.get_full_name }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ user.date_joined|date }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            {{ user.email }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="">
                                <span>
                                    <a href="{% url 'user-update' user.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>

                                <span x-data="modal()">
                                    <a x-on:click="open()" type="button" class="cursor-pointer table-action" data-toggle="modal" data-target="#exampleModalTwo">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% include 'back_office/snippets/user_delete_modal.html' %}
                                </span>  
                                <script src="{% static 'js/modal.js' %}"></script>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <div class="text-black p-4">
                                <i class="inline fas fa-exclamation-triangle"></i>
                                <p class="inline test-gray-900">{% trans "No user found." %}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="px-5 py-3 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
            <span class="text-xs xs:text-sm text-gray-900">
                    {% trans "Showing Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
            <div class="inline-flex mt-2 xs:mt-0 space-x-2">
                {% if page_obj.has_previous %}
                <a href="?page=1"
                   class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i class="fas fa-angle-double-left"></i>
                    {% trans "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i class="fas fa-angle-left"></i> {% trans "Prev" %}</a>
                {% endif %} {% if page_obj.has_next %}
                <a id ="next" class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                   href="?page={{ page_obj.next_page_number }}">{% trans "Next" %} <i class="fas fa-angle-right"></i></a>
                <a class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                   href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} <i class="fas fa-angle-double-right"></i></a> {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}