.DS_Store
node_modules
dist
tests/results/
tests/reports/
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
/build
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
.testhistory
.testbackendoutput.out
symlink-from
coverage/**
