[data-theme='cisotheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: inherit;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(92.46% 0.03 289.62deg);
	--color-primary-100: oklch(83.98% 0.07 287.48deg);
	--color-primary-200: oklch(75.25% 0.11 286.34deg);
	--color-primary-300: oklch(66.85% 0.15 284.07deg);
	--color-primary-400: oklch(58.49% 0.19 281.34deg);
	--color-primary-500: oklch(51.06% 0.23 276.97deg);
	--color-primary-600: oklch(47.35% 0.21 277.11deg);
	--color-primary-700: oklch(43.48% 0.19 277.38deg);
	--color-primary-800: oklch(39.46% 0.17 277.8deg);
	--color-primary-900: oklch(35.4% 0.15 278.26deg);
	--color-primary-950: oklch(31.33% 0.13 278.72deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.95% 0.03 264.43deg);
	--color-secondary-100: oklch(84.81% 0.07 265.82deg);
	--color-secondary-200: oklch(76.88% 0.1 264.76deg);
	--color-secondary-300: oklch(68.95% 0.14 264.48deg);
	--color-secondary-400: oklch(61.51% 0.18 263.37deg);
	--color-secondary-500: oklch(54.61% 0.22 262.88deg);
	--color-secondary-600: oklch(50.56% 0.2 262.84deg);
	--color-secondary-700: oklch(46.43% 0.18 262.78deg);
	--color-secondary-800: oklch(42.23% 0.16 262.92deg);
	--color-secondary-900: oklch(37.9% 0.14 262.85deg);
	--color-secondary-950: oklch(33.45% 0.12 262.76deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.42% 0.03 2.04deg);
	--color-tertiary-100: oklch(84.1% 0.07 4.11deg);
	--color-tertiary-200: oklch(76.05% 0.12 5.69deg);
	--color-tertiary-300: oklch(68.76% 0.16 8.79deg);
	--color-tertiary-400: oklch(62.73% 0.2 12.3deg);
	--color-tertiary-500: oklch(58.59% 0.22 17.59deg);
	--color-tertiary-600: oklch(54.11% 0.2 17.25deg);
	--color-tertiary-700: oklch(49.52% 0.19 17.23deg);
	--color-tertiary-800: oklch(44.84% 0.17 16.75deg);
	--color-tertiary-900: oklch(40.03% 0.15 16.66deg);
	--color-tertiary-950: oklch(35.09% 0.13 15.92deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.15% 0.04 123.64deg);
	--color-success-100: oklch(91.85% 0.08 124.79deg);
	--color-success-200: oklch(87.93% 0.12 126.24deg);
	--color-success-300: oklch(83.94% 0.16 127.29deg);
	--color-success-400: oklch(80.39% 0.19 128.93deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(70.9% 0.19 130.64deg);
	--color-success-700: oklch(64.8% 0.17 130.64deg);
	--color-success-800: oklch(58.88% 0.15 130.5deg);
	--color-success-900: oklch(52.47% 0.14 130.49deg);
	--color-success-950: oklch(45.93% 0.12 130.07deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.66% 0.04 92.8deg);
	--color-warning-100: oklch(92.85% 0.07 92.93deg);
	--color-warning-200: oklch(89.28% 0.11 92.19deg);
	--color-warning-300: oklch(85.8% 0.14 91.57deg);
	--color-warning-400: oklch(82.61% 0.16 89.43deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(73.44% 0.15 86.42deg);
	--color-warning-700: oklch(67.23% 0.14 86.89deg);
	--color-warning-800: oklch(60.78% 0.12 86.11deg);
	--color-warning-900: oklch(54.25% 0.11 86.67deg);
	--color-warning-950: oklch(47.51% 0.1 87.45deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.7% 0.03 17.73deg);
	--color-error-100: oklch(86.61% 0.06 18.47deg);
	--color-error-200: oklch(79.82% 0.1 19.53deg);
	--color-error-300: oklch(73.82% 0.14 20.97deg);
	--color-error-400: oklch(68.23% 0.18 22.93deg);
	--color-error-500: oklch(63.69% 0.21 25.33deg);
	--color-error-600: oklch(58.89% 0.19 25.26deg);
	--color-error-700: oklch(53.82% 0.17 25.14deg);
	--color-error-800: oklch(48.82% 0.16 25.03deg);
	--color-error-900: oklch(43.5% 0.14 24.83deg);
	--color-error-950: oklch(38.2% 0.12 24.62deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.02% 0 247.8deg);
	--color-surface-100: oklch(91.15% 0.01 258.36deg);
	--color-surface-200: oklch(86.14% 0.02 257.21deg);
	--color-surface-300: oklch(81.34% 0.02 254.93deg);
	--color-surface-400: oklch(76.2% 0.03 255.12deg);
	--color-surface-500: oklch(71.07% 0.04 256.79deg);
	--color-surface-600: oklch(63.98% 0.03 258.37deg);
	--color-surface-700: oklch(56.69% 0.03 260.69deg);
	--color-surface-800: oklch(49.12% 0.02 262.91deg);
	--color-surface-900: oklch(41.29% 0.02 268.27deg);
	--color-surface-950: oklch(33.07% 0.01 279.27deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
