*migrations/
!__init__.py
*.pyc
*.DS_Store
*~$*
staticfiles/*
*.mo
*.env
dump.json
theme/static/css/dist/styles.css
node_modules/
.vscode
asf_rm/build.json
*.sqlite3
k8s/scaleway/kubeconfig-k8s-mira.yaml
k8s/mira-cluster-controller/venv
db/django_secret_key
k8s/mira-cluster-controller/controller/db/django_secret_key
styles.css
