!__init__.py
*.pyc
__pycache__
*.DS_Store
*~$*
staticfiles/*
*.mo
.env
dump.json
node_modules/
.vscode
*.sqlite3
backend/staticfiles/
backend/venv/
temp/
backend/db/attachments/
backend/db/django_secret_key
backend/db/pg_password.txt
./db/
