# u24.proxmox.lan is an example for a remote host, adjust to your case when using this variant
u24.proxmox.lan:8443 {
    reverse_proxy frontend:3000
    tls internal
}

u24.proxmox.lan:9443 {
    reverse_proxy backend:8000
    tls internal
}
