services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    environment:
      - ALLOWED_HOSTS=backend,localhost
      - CISO_ASSISTANT_URL=https://localhost:8443
      - DJANGO_DEBUG=True
      - HOME=/tmp
      - XDG_CACHE_HOME=/tmp/.cache
      - XDG_CONFIG_HOME=/tmp/.config
      - XDG_DATA_HOME=/tmp/.local/share
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev
    volumes:
      - ./db:/code/db
    user: "1001:1001"

  huey:
    container_name: huey
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - backend
    restart: always
    environment:
      - ALLOWED_HOSTS=backend,localhost
      - CISO_ASSISTANT_URL=https://localhost:8443
      - DJANGO_DEBUG=False
      - HOME=/tmp
      - XDG_CACHE_HOME=/tmp/.cache
      - XDG_CONFIG_HOME=/tmp/.config
      - XDG_DATA_HOME=/tmp/.local/share
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev
    volumes:
      - ./db:/code/db
    entrypoint:
      - /bin/sh
      - -c
      - |
        poetry run python manage.py run_huey -w 2 --scheduler-interval 60
    user: "1001:1001"

  frontend:
    container_name: frontend
    environment:
      - PUBLIC_BACKEND_API_URL=http://backend:8000/api
      - PUBLIC_BACKEND_API_EXPOSED_URL=https://localhost:8443/api
      - PROTOCOL_HEADER=x-forwarded-proto
      - HOST_HEADER=x-forwarded-host
      - HOME=/tmp
      - XDG_CACHE_HOME=/tmp/.cache
      - XDG_CONFIG_HOME=/tmp/.config
      - XDG_DATA_HOME=/tmp/.local/share
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    user: "1001:1001"

  caddy:
    container_name: caddy
    image: caddy:2.10.0
    environment:
      - CISO_ASSISTANT_URL=https://localhost:8443
    restart: unless-stopped
    ports:
      - 8443:8443
    volumes:
      - ./db/caddy:/data/caddy
    command: |
      sh -c 'echo $$CISO_ASSISTANT_URL "{
      reverse_proxy /api/* backend:8000
      reverse_proxy /* frontend:3000
      }" > Caddyfile && caddy run'
