django==4.2.7
pandas==2.1.1
weasyprint==60.1
django-tailwind==3.6.0
django-import-export==3.3.1
django-admin-csvexport==2.2
django-fieldsets-with-inlines==0.6
psycopg2-binary==2.9.9
gunicorn==21.2.0
pytest-django==4.5.2
playwright==1.38.0
pytest-playwright==0.4.3
django-filter==23.3
whitenoise==6.6.0
django-recaptcha==3.0.0
django-passkeys==1.2.5
argon2-cffi==23.1.0
django-cleanup==8.0.0
