django==4.1.5
pandas==1.5.3
weasyprint==57.2
django-tailwind==3.4.0
django-import-export==3.0.2
django-admin-csvexport==1.11
django-fieldsets-with-inlines==0.6
psycopg2-binary==2.9.5
gunicorn==20.1.0
pytest-django==4.5.2
playwright==1.30
pytest-playwright==0.3.0
django-filter==22.1
whitenoise==6.3.0
