django==4.1.7
pandas==1.5.3
weasyprint==58.0
django-tailwind==3.5.0
django-import-export==3.1.0
django-admin-csvexport==2.0
django-fieldsets-with-inlines==0.6
psycopg2-binary==2.9.5
gunicorn==20.1.0
pytest-django==4.5.2
playwright==1.31.1
pytest-playwright==0.3.1
django-filter==22.1
whitenoise==6.4.0
django-recaptcha==3.0.0
passkeys