!__init__.py
*.pyc
__pycache__
*.DS_Store
*~$*
staticfiles/*
static/
*.mo
.env
.vscode
*.sqlite3
staticfiles/
venv/
temp/
db/attachments/
db/django_secret_key
db/pg_password.txt
./db/
.coverage
pytest-report.html