django==5.0.4
weasyprint==61.2
psycopg2-binary==2.9.9
gunicorn==22.0.0
pytest-django==4.8.0
pytest-html==4.1.1
django-filter==24.2
whitenoise==6.6.0
argon2-cffi==23.1.0
typing-extensions==4.11.0
djangorestframework==3.15.1
django-stubs==4.2.7
coverage==7.5.0
django-tailwind==3.8.0
pyyaml==6.0.1
django-structlog==8.0.0
structlog==24.1.0
python-dotenv==1.0.1
drf-spectacular==0.27.2
django-rest-knox==4.2.0
pre-commit==3.7.0
