django==5.1.1
weasyprint==62.3
psycopg2-binary==2.9.9
gunicorn==23.0.0
pytest-django==4.9.0
pytest-html==4.1.1
django-filter==24.3
whitenoise==6.7.0
argon2-cffi==23.1.0
typing-extensions==4.12.2
djangorestframework==3.15.2
django-stubs==5.0.4
coverage==7.6.1
django-tailwind==3.8.0
pyyaml==6.0.2
django-structlog==8.1.0
structlog==24.4.0
python-dotenv==1.0.1
drf-spectacular==0.27.2
django-rest-knox==5.0.1
django-allauth[socialaccount]==64.2.1
pre-commit==3.8.0
django-allauth[saml]==64.2.1
django-allauth==64.2.1
