{% extends 'core/base.html' %}

{% load i18n static %}

{% block content %}

<div>
    {% with page_title=object %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    {% block above %}{% endblock above %}
    <div class="flex flex-row justify-between bg-white rounded-xl shadow-lg px-6 py-4">
        <div class="flex flex-col space-y-2">
            {% for key, values in data.items %}
            <div class="flex flex-col">
                <div class="text-sm font-medium text-gray-800">
                    {{ key|capfirst }}
                </div>
                <ul class="text-sm">
                    {% for value in values %}
                    <li class="text-gray-600 list-none">
                        {% if value %} {{ value }} {% else %} -- {% endif %}
                    </li>
                    {% empty %}
                    <li class="text-gray-600 list-none">--</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% if change and not risk_acceptance_accepted and not risk_acceptance_rejected and not risk_acceptance_revoked %}
        <a href="{{ object.edit_url }}?next={{ request.path|urlencode }}" class="bg-indigo-700 px-4 py-2 cursor-pointer text-white hover:bg-indigo-600 rounded-lg w-fit h-fit font-medium">
            <i class="fas fa-edit mr-2"></i>{% trans "Edit" %}
        </a>         
        {% endif %}
    </div>
    {% block below %}{% endblock below %}
</div>

{% endblock content %}