{% load i18n %}
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h2 class="text-lg font-semibold mb-2">1. Introduction</h2>
	<p class="mb-2">Merci de visiter notre site web de vente en ligne (ci-après, le "Site"). En accédant ou en utilisant le Site, vous acceptez de vous conformer aux présentes Conditions générales d'utilisation ("CGU"). Si vous n'êtes pas d'accord avec ces CGU, veuillez ne pas utiliser le Site.</p>
	<h2 class="text-lg font-semibold mb-2">2. Utilisation du Site</h2>
	<p class="mb-2">Vous êtes responsable de l'utilisation du Site et de tout contenu que vous publiez. Vous acceptez de ne pas utiliser le Site à des fins illégales ou de manière qui viole les droits d'autrui.</p>
	<h2 class="text-lg font-semibold mb-2">3. Contenu du Site</h2>
	<p class="mb-2">Nous nous efforçons de maintenir le contenu du Site à jour et précis, mais nous ne pouvons pas garantir son exhaustivité ou son exactitude. Le contenu du Site est fourni à titre informatif uniquement et ne doit pas être considéré comme des conseils professionnels ou médicaux. Vous êtes seul responsable de l'utilisation de ces informations et de la prise de décisions en conséquence.</p>
	<h2 class="text-lg font-semibold mb-2">4. Compte utilisateur</h2>
	<p class="mb-2">Pour utiliser certaines fonctionnalités du Site, vous devez créer un compte utilisateur. Vous acceptez de fournir des informations exactes et à jour lors de la création de votre compte, et de mettre à jour ces informations en cas de modification. Vous êtes responsable de la sécurité de votre compte utilisateur et de toute activité qui se produit sur votre compte.</p>
	<h2 class="text-lg font-semibold mb-2">4. Compte utilisateur</h2>
	<p class="mb-2">Pour utiliser certaines fonctionnalités du Site, vous devez créer un compte utilisateur. Vous acceptez de fournir des informations exactes et à jour lors de la création de votre compte, et de mettre à jour ces informations en cas de modification. Vous êtes responsable de la sécurité de votre compte utilisateur et de toute activité qui se produit sur votre compte.</p>
	<h2 class="text-lg font-semibold mb-2">4. Compte utilisateur</h2>
	<p class="mb-2">Pour utiliser certaines fonctionnalités du Site, vous devez créer un compte utilisateur. Vous acceptez de fournir des informations exactes et à jour lors de la création de votre compte, et de mettre à jour ces informations en cas de modification. Vous êtes responsable de la sécurité de votre compte utilisateur et de toute activité qui se produit sur votre compte.</p>
	<h2 class="text-lg font-semibold mb-2">4. Compte utilisateur</h2>
	<p class="mb-2">Pour utiliser certaines fonctionnalités du Site, vous devez créer un compte utilisateur. Vous acceptez de fournir des informations exactes et à jour lors de la création de votre compte, et de mettre à jour ces informations en cas de modification. Vous êtes responsable de la sécurité de votre compte utilisateur et de toute activité qui se produit sur votre compte.</p>
</body>
</html>
