{% comment %} {% extends 'core/base.html' %} {% endcomment %}
{% block content %}
{% load i18n %}
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script defer src="https://unpkg.com/alpinejs@3.9.2/dist/cdn.min.js"></script>

<body class="bg-gradient-to-br from-slate-200 h-full w-full max-w-screen bg-no-repeat m-0 bg-fixed">
	<style>
		[x-cloak] { display: none }
	</style>
    <div x-data="{ modalOpen: false }" class="flex h-screen">
        <div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
            <div class="flex p-10 space-x-4 ">
                <div id="hellothere" class="w-3/4 py-5  pl-5 pr-10">
                    <div class="text-4xl py-4 font-black uppercase">{% trans "Hello there" %} 👋</div>
                    <div class="text-xl">
                        <p class="py-1">{% trans "This is MIRA. Your streamlined" %} <span class="font-semibold">{% trans "one-stop shop" %}</span>
                        {% trans "for risk assessment and management." %}
                        </p>
                        <p class="py-1">{% trans "In order to log in, you must create a password for your account." %}
                    </div>
                </div>
                <div class="w-2/4 p-6 shadow-lg rounded-lg bg-white ">
                    <div id="login-form" class="flex flex-col">
                        <form method="post" x-data="{ submitDisabled: true }" @change="submitDisabled = false">{% csrf_token %}
                                <div class="flex flex-col space-y-4">
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                    {% if field.name == "terms_service" %}
                                    <div class="">
                                        <label class="text-md font-small">
                                            {% include 'snippets/link_modal.html' with header=_("Terms and conditions of use") content=_("Terms and conditions of use") %} Yes, I accept: {{field}}</label>
                                        <div class="w-auto">
                                            {% for error in field.errors %}
                                                <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                                            {% endfor %}
                                            <div class="mt-1 text-xs text-gray-400">
                                                {{ field.help_text|safe }}
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="flex flex-col">
                                        <label class="text-lg font-small">{{ field.label|striptags }} :</label>
                                        <div class="w-auto">
                                            {% for error in field.errors %}
                                                <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                                            {% endfor %}
                                            {{ field }}
                                            <div class="mt-1 text-xs text-gray-400">
                                                {{ field.help_text|safe }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="mt-4 flex space-x-2 justify-end">
                                    <button action="submit" class="bg-indigo-500 text-white font-semibold text-lg hover:bg-indigo-300 px-2 py-2 rounded shadow w-full my-2"
                                    :disabled="submitDisabled">{% trans "Confirm password" %}</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}