{% load i18n %}
<script src="/static/cache/jquery-3.6.3.min.js"></script>
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}


<div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
    <div class="flex p-10 space-x-4 ">
        <div id="hellothere" class="w-2/4 py-5  pl-5 pr-10">
            <div class="text-4xl py-4 font-black uppercase">{% trans "Hello there" %} 👋</div>
            <div class="text-xl">
                <p class="py-1">{% trans "This is MIRA. Your streamlined" %} <span class="font-semibold">{% trans "one-stop shop" %}</span>
                {% trans "for risk assessment and management." %}
                </p>
                <p class="py-1">{% trans "You need to" %} <span class="font-semibold">{% trans "login" %}</span> {% trans "to access all the features." %}</p>
            </div>
        </div>
        <div class="w-2/4 p-6 shadow-lg rounded-lg bg-white ">
                {% if invalid %}
                    <div class="alert alert-danger">Invalid Username or password</div>
                {% endif %}
                <div id="login-div" class="flex flex-col">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="passkeys" id="passkeys"/>
                    <button id="login" type="submit"
                            class="bg-indigo-500 text-white font-semibold text-lg hover:bg-indigo-300 px-2 py-2 rounded shadow w-full my-2">
                            {% trans "Login" %}
                    </button>
                    <button id="login-passkeys" type="button"
                            class="bg-indigo-500 text-white font-semibold text-lg hover:bg-indigo-300 px-2 py-2 rounded shadow w-full my-2 flex space-x-4 items-center justify-center"
                            onclick="authn('login-form')">
                            <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 24px"><span>{% trans "Login with passkeys" %}</span>
                    </button>
                    {%include 'passkeys.js' %}
                </form>
                <label class="label">
                    <a href="{% url 'password_reset' %}" class="text-sg font-small underline text-indigo-500 hover:text-indigo-700 mb-4">Forgot password?</a>
                </label>
            </div>
        </div>


    </div>

</div>

<div>


</div>
