{% load i18n %}

{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
    <div class="flex p-10 space-x-4 ">
        <div class="w-3/4 py-5  pl-5 pr-10">
            <div class="text-4xl py-4 font-black uppercase">{% trans "Password reset sent" %} 📨</div>
            <div class="text-xl">
                <p class="py-1">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}<br>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>
        </div>
    </div>
</div>