{% load i18n %}

{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
    <div class="flex p-10 space-x-4 ">
        <div class="w-3/4 py-5  pl-5 pr-10">
            <div class="text-4xl py-4 font-black uppercase">{% trans "Password reset" %} 🔒</div>
            <div class="text-xl">
                <p class="py-1">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            </div>
        </div>
        <div class="w-1/4 p-6 shadow-lg rounded-lg bg-white ">
            <div class="flex flex-col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="flex flex-col">
                        <p class="text-lg font-small">{% trans "Email :" %}</p>
                        {{ password_reset_form.email.errors }}
                        {{ password_reset_form.email }}
                    </div>
                    <button type="submit"
                            class="bg-indigo-500 text-white font-semibold text-lg hover:bg-indigo-300 px-2 py-2 rounded shadow w-full my-2">
                        {% trans "Send Email" %}
                    </button>
                </form>
            </div>
        </div>


    </div>

</div>