{% block content %}
{% load i18n %}
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
    <div class="w-1/4 p-6 shadow-lg rounded-lg bg-white ">
        <div id="login-form" class="flex flex-col">
            <form method="post" x-data="{ submitDisabled: true }" x-on:keyup="submitDisabled = false" @change="submitDisabled = false">{% csrf_token %}
                    <div class="flex flex-col space-y-4">
                        <p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}</p>
                        {% for field in form %}
                        <div class="flex flex-col">
                            <label class="text-lg font-small">{{ field.label|striptags }} :</label>
                            <div class="w-auto">
                                {% for error in field.errors %}
                                    <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                                {% endfor %}
                                {{ field }}
                                <div class="mt-1 text-xs text-gray-400">
                                    {{ field.help_text|safe }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mt-4 flex space-x-2 justify-end">
                        <button id="reset_button" action="submit" class="bg-indigo-500 text-white font-semibold text-lg hover:bg-indigo-300 px-2 py-2 rounded shadow w-full my-2"
                        :disabled="submitDisabled">{% trans "Reset password" %}</button>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}