{% load i18n %}

{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<div class="flex mx-auto justify-center items-center h-screen w-screen bg-gray-50">
    <div class="flex p-10 space-x-4 ">
        <div class="w-full py-5  pl-5 pr-10">
            <div class="text-4xl py-4 font-black uppercase">{% trans "Password reset complete" %} ✅</div>
            <div class="text-xl">
                <p class="py-1">{% trans "Your password has been set. You may go ahead and" %} <a href="/accounts/login" class="text-indigo-500 font-semibold text-lg hover:texte-indigo-300 hover:underline">log in</a> {% trans "now." %}</p>
            </div>
        </div>
    </div>
</div>