{% load i18n %}

<div class="overflow-x-auto shadow-md sm:rounded-lg mt-2">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-3 py-3">
                    {% trans "Measure" %}
                </th>
                <th scope="col" class="px-3 py-3">
                    {% trans "Project" %}
                </th>
                <th scope="col" class="px-3 py-3">
                    {% trans "Status" %}
                </th>
                <th scope="col" class="px-3 py-3">
                    {% trans "ETA" %}
                </th>
                <th scope="col" class="px-3 py-3">
                    <span class="sr-only">{% trans "Jump" %}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for measure in measures_to_review %}
            <tr class="bg-white border-b">
                <th scope="row" class="px-3 py-4 font-medium text-gray-900">
                    {{ measure }}
                </th>
                <td class="px-3 py-4">
                    {{ measure.parent_project }}
                </td>
                <td class="px-3 py-4">
                    {{ measure.get_status_display }}
                </td>
                <td class="px-3 py-4">
                    {% if measure.eta < today %}
                        <span class="rounded bg-red-400 text-white p-1 text-xs mr-1">{% trans "expired" %}</span>
                    {% endif %}
                    {{ measure.eta }}
                </td>
                <td class="px-3 py-4 text-right">
                    <a href="{% url 'mtg-update' measure.id %}" class="font-medium text-blue-600 hover:underline">{% trans "Jump" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>