{% load i18n %}
{% load static tailwind_tags %}
<div class="grid grid-rows-3 grid-cols-1 -mx-8 h-28 bg-white px-4 py-2 mb-8">
    <h1 class="text-2xl font-bold">{{ page_title }}
    </h1>
    <div class="flex flex-grow ml-72 w-3/5">
        <search class="flex-grow">
            <form action="{% url 'search' %}" class="">
                <span class="h-10 m-0 bg-gray-200 hover:bg-gray-300 cursor-pointer border border-gray-300 text-sm rounded-full flex">
                    <input id="search" required type="search" name="q" placeholder="{% trans "Search Risk instance, mitigation, analysis ..." %}" value="{{request.GET.q}}"
                            class="flex-grow px-4 rounded-l-full rounded-r-full text-sm focus:outline-none border-none overflow-ellipsis">
                    <button id="submit" type="submit" class="text-gray-700">
                            <i class="fas fa-search text-lg w-4 h-4 ml-2 mr-4"></i>
                    </button>
                </span>
            </form>
        </search>
        <div class="mr-5 my-auto sm:hidden border border-gray-300 py-2 px-3 rounded-lg">
            <i class="fas fa-bars text-gray-100"></i>
        </div>
    </div>
</div>