{% load i18n %}
{% load static tailwind_tags %}
<div class="-mx-8 h-fit bg-white px-4 py-2 mb-8">
    <h1 class="text-2xl font-bold pb-1 max-w-screen-lg">{{ page_title }}</h1>
    <div class="w-full h-0 border-b my-auto"></div>
    <div class="inline-flex items-center text-sm font-semibold antialiased pt-1.5 text-ellipsis w-full overflow-hidden">
        <span class="inline-flex justify-center items-center mr-1">
            <i class="far fa-compass"></i>
        </span>
        <a href="{% url 'overview' %}" class="hover:text-blue-600">{% trans "Home" %}</a>
        <svg class="inline-flex justify-center items-center w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        {% for url, name in crumbs.items %}<a href="{% url url %}" class="hover:text-blue-600 whitespace-nowrap">{{ name }}</a> 
        <svg class="inline-flex justify-center items-center w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        {% endfor %}
        <p id="page_title" class="text-sm font-semibold antialiased text-gray-400">{{ page_title }}</p>
    </div>
</div>