<div class="flex flex-col mb-4 space-y-1">
    <div class="flex flex-col">
        <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
        <div class="w-fit border border-gray-300 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 py-2 px-4 max-h-56 overflow-y-scroll">
            <div class="flex flex-col">
                <div>
                    {{ field }}
            
                    {% for error in field.errors %}
                        <li class="text-red-500 text-xs font-semibold">{{ error|striptags }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="help_text -mt-1">
        {{ field.help_text|safe }}
    </div>
</div>