<div id="scatter_div" style="width:800px; height:600px;" class="bg-white"></div>
<script type="text/javascript">

        var scatter_ch = echarts.init(document.getElementById('scatter_div'), null, {renderer: 'svg'});

        var data = {{mitigation_priority|safe}};

 option = {

    grid: {
        left: '8%',
        top: '10%'
    },
    xAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        },
        scale: true,
        min: -3,
        max: 4,
        show: true,
        name: 'Risk level',
        silent: true,
        axisLabel: {show: false},
    },
    yAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        },
        scale: true,
        min: -3,
        max: 3,
        name: 'Effort',
        silent: true,
        axisLabel: {show: false},
    },
    series: [{
        name: '1990',
        data: data,
        type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data[2]) * 20;
        },
        emphasis: {
            focus: 'series',
            label: {
                show: true,
                formatter: function (param) {
                    return param.data[3] + ': ' + param.data[2];
                },
                position: 'top'
            }
        }
    }]
};

        // use configuration item and data specified to show chart
        scatter_ch.setOption(option);


</script>