{% load i18n %}

<main class="p-2 m-2 main">
    <div class="bg-white p-2 m-2 shadow overflow-hidden rounded-lg flex">
        <table class="w-full p-2 m-2 border">
            <thead>
            </thead>
            <tbody>
            {% if not context %}
            <tr class="">
                <td colspan="" class="p-4 m-2 text-xl text-center"><i class="fas fa-exclamation-circle"></i> 
                {% trans "Risk analysis seems to be empty. Measure Plan cannot be generated." %}
                </td>
            </tr>
            {% endif %}
            {% for scenario in context %}
            <tr class="bg-gray-100">
                <td class="text-lg p-3" colspan="9">
                    <a class="hover:text-indigo-800" href="{% url 'riskscenario-update' scenario.id %}?next={{ request.path|urlencode }}">{{ scenario.rid }}: {{ scenario.name }}</a> 
                    <span class="text-xs text-center p-1 mx-1 rounded
                    {% if scenario.treatment == 'open' %}
                    bg-orange-200 
                    {% elif scenario.treatment == 'mitigated' %}
                    bg-green-200 
                    {% elif scenario.treatment == 'accepted' %}
                    bg-sky-200 
                    {% else %}
                    bg-red-300 
                    {% endif %}">{{ scenario.get_treatment_display|lower}}
                    </span>
                </td>
            </tr>
            {% if not scenario.security_measures.all %}
            <tr>
                <td colspan="9" class="p-2 text-left"><i class="fas fa-exclamation-circle"></i> {% trans "No associated measure" %}
                </td>
            </tr>
            {% else %}
            <tr class="text-sm uppercase">
                <td class="px-2 text-center">#</td>
                <td class="px-2 font-semibold">{% trans "Name" %}</td>
                <td class="px-2 font-semibold">{% trans "Description" %}</td>
                <td class="px-2 font-semibold">{% trans "Type" %}</td>
                <td class="px-2 font-semibold">{% trans "Security function" %}</td>
                <td class="px-2 font-semibold">{% trans "ETA" %}</td>
                <td class="px-2 font-semibold">{% trans "Effort" %}</td>
                <td class="px-2 font-semibold text-center">{% trans "Link" %}</td>
                <td class="px-2 font-semibold text-center">{% trans "Status" %}</td>
            </tr>
            {% endif %}
            {% for securitymeasure in scenario.security_measures.all %}
            <tr class="border-b text-sm even:bg-white odd:bg-slate-50">
                <td class="px-2 py-3 text-center"><a class="hover:text-indigo-800" id="{{ securitymeasure.id }}" href="{% url 'securitymeasure-update' securitymeasure.id %}?next={{ request.path|urlencode }}">{{ securitymeasure.mid }}</a></td>
                <td class="px-2 py-3"><a class="hover:text-indigo-800" href="{% url 'securitymeasure-update' securitymeasure.id %}?next={{ request.path|urlencode }}">{{ securitymeasure.name }}</a></td>
                <td class="px-2 py-3">{% if securitymeasure.description %}{{ securitymeasure.description }}{% endif %}</td>
                <td class="px-2 py-3">{{ securitymeasure.get_type_display }}</td>
                <td class="px-2 py-3">{% if securitymeasure.security_function %}{{ securitymeasure.security_function }}{% else %}--{% endif %}</td>
                <td class="px-2 py-3">{% if securitymeasure.eta %}{{ securitymeasure.eta }}{% else %}--{%endif%}</td>
                <td class="px-2 py-3">{% if securitymeasure.effort %}{{ securitymeasure.effort }}{% else %}--{%endif%}</td>
                <td class="px-2 py-3 text-center">{% if securitymeasure.link %}<a href="{{ securitymeasure.link }}"
                                                                   class="hover:text-blue-400"><i
                        class="fas fa-external-link-square-alt"></i></a>{% else %}--{% endif %}
                </td>
                <td class="text-center"><span class="text-xs text-center p-1 mx-1 rounded
                    {% if securitymeasure.status == 'open' %}
                    bg-orange-200 
                    {% elif securitymeasure.status == 'in_progress' %}
                    bg-blue-200 
                    {% elif securitymeasure.status == 'on_hold' %}
                    bg-red-300 
                    {% else %}
                    bg-green-200 
                    {% endif %}">{{ securitymeasure.get_status_display|lower }} 
                    </span></td>
            </tr>
            {% endfor %}


            {% endfor %}

            </tbody>
        </table>
    </div>

</main>