{% load i18n %}
{% load static tailwind_tags %}

<table class="min-w-full leading-normal">
    <thead>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Name" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Description" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Status" %}
        </th>
    </thead>
    <tbody>
        {% for project in projects %}{% if project.folder == domain %}
            <tr class="hover:text-indigo-500 cursor-pointer hover:scale-[0.99] duration-500" onclick="window.location='{% url 'project-update' project.id %}?next={{ request.path|urlencode }}'">
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">

                        <div>
                            <a id="project{{ project.id }}" class="text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                {{ project.name }}
                            </a>
                        </div>
                    </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="whitespace-no-wrap capitalize">
                        {% if project.description %}{{ project.description }}{% else %}--{% endif %}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="whitespace-no-wrap">
                        {{ project.get_lc_status_display }}
                    </p>
                </td>
            </tr>
        {% endif %}
        {% empty %}
            <tr class="text-black p-4 text-center">
                <td colspan="3" class="pt-4">
                <i class="inline fas fa-exclamation-triangle"></i>
                <p class="inline test-gray-900">{% trans "No project found." %}</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
