{% load i18n %}

<main class="flex-grow main">
    <!--Information banner-->
    <div class="">
        <div class="bg-white py-4 px-12 m-4 shadow rounded-lg flex space-x-2 relative">
            {% if object_ids_change %}
            <a href="{% url 'analysis-update' analysis.id %}?next={{ request.path|urlencode }}" class="absolute right-2 top-2 py-2 px-4 m-1 add-button">
                <i class="fas fa-edit"></i>
                {% trans "Edit" %}</a>
            {% endif %}
            <div class="container w-1/3 ">
                <div class="text-sm font-semibold ">{% trans "Risk analysis" %}</div>
                <div id="name" class="text-lg font-semibold ">{{ analysis }}</div>
                <br>
                <div class="text-sm">
                    <ul class="">
                        <li class="pb-1"><span class="font-semibold">{% trans "Audited by:" %}</span> {{ analysis.auditor }}</li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Status:" %}</span> {% if analysis.is_draft %} 
                        <span class="bg-blue-200 py-1 px-2 rounded-lg">{% trans "Draft" %}</span> {% else %} <span class="bg-green-200 py-1 px-2 rounded-lg">{% trans "Ready" %} </span>{% endif %}
                        </li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Created at:" %}</span> {{ analysis.created_at|date }}</li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Updated at:" %}</span> {{ analysis.updated_at|date }}</li>
                    </ul>
                </div>
            </div>
            <div class="container w-2/3 rounded">
                <div class="text-sm"><span class="font-semibold">{% trans "Matrix:" %}</span> <a href="{% url 'riskmatrix-detail' analysis.rating_matrix.id %}?next={{ request.path|urlencode }}" class="py-1 px-2 text-blue-600 hover:text-blue-500">{{ analysis.rating_matrix }}</a>
                </div>
                <br>
                <div class="text-sm"><span class="font-semibold">{% trans "Description" %}</div>
                <div class="text-sm"> {{ analysis|linebreaksbr }}</div>
            </div>

        </div>
    </div>
    <!--Risk analysis-->
    <div class="m-4 px-4 py-10 shadow rounded-lg bg-white">
        <div class="text-lg pb-2"> {% trans "Risk scenarios" %} ({{ context|length }})</div>
        {% include 'snippets/ri_list_nested.html' %}
    </div>
    <!--Matrix view-->
    <div class="m-4 px-4 py-8 shadow rounded-lg bg-white page-break">
        <div class="text-xl pb-4">{% trans "Matrix view" %}</div>
        <div class="flex space-x-3">
            <div class="w-1/2 shadow rounded-lg p-6">
                <h3 class="font-bold p-2 m-2 text-lg">{% trans "Current" %}</h3>
                {% if pdf %}
                    {% include 'snippets/risk_matrix.html' with enriched_data=ri_clusters.current %}
                {% else %}
                    {% include 'snippets/risk_matrix.html' with data=ri_clusters.current %}
                {% endif %}
            </div>
            <div class="w-1/2 shadow rounded-lg p-6">
                <h3 class="font-bold p-2 m-2 text-lg">{% trans "Residual" %}</h3>
                {% if pdf %}
                    {% include 'snippets/risk_matrix.html' with enriched_data=ri_clusters.residual %}
                {% else %}
                    {% include 'snippets/risk_matrix.html' with data=ri_clusters.residual %}
                {% endif %}
            </div>


        </div>

    </div>

</main>