{% load i18n %}
{% load static tailwind_tags %}

{% for key, value in tree.items %}
    <li>
        {% if value.style == "node" %}
        {% if open_tree %}
        <div id="{{page}}_{{value.urn}}" x-data="{ show: $persist(true).using(sessionStorage).as($el.id) }">
        {% else %}
        <div id="{{page}}_{{value.urn}}" x-data="{ show: $persist(false).using(sessionStorage).as($el.id) }">
        {% endif %}
            <div class="bg-white" id="headingOne">
                <div class="flex flex-row space-x-4 px-8 py-4 w-full hover:text-indigo-700 cursor-pointer items-center" @click="show=!show">
                    <div class="">
                        <i x-show="!show" class="fas fa-angle-down"></i>
                        <i x-show="show" class="fas fa-angle-up text-indigo-700"></i>
                    </div>
                    <div class="flex items-center w-full justify-between">
                        <button class="flex flex-row items-center" type="button">
                            {% if value.description %}
                                <p x-show="show" class="font-bold text-indigo-700 whitespace-nowrap">{{ value.name }} {{ value.description }}</p>
                                <p x-show="!show" class="font-bold whitespace-nowrap">{{ value.name }} {{ value.description }}</p>
                            {% else %}
                                <p x-show="show" class="font-bold text-indigo-700 whitespace-nowrap">{{ value.name }}</p>
                                <p x-show="!show" class="font-bold whitespace-nowrap">{{ value.name }}</p>
                            {% endif %}
                        </button>
                        {% if assessment %}
                        {% for requirement_group_id, stats in requirement_group_stats.items %}
                            {% if requirement_group_id == key %}
                                <div class="flex bg-gray-200 rounded-full overflow-hidden w-1/2">
                                    {% for stat in stats reversed %}
                                    {% if stat.2 > 0 %}
                                        <div class="flex flex-col justify-center overflow-hidden text-black text-xs text-center
                                        {% if stat.0 == 'in_progress' %}
                                        bg-blue-500
                                        {% elif stat.0 == 'non_compliant' %}
                                        bg-red-500
                                        {% elif stat.0 == 'partially_compliant' %}
                                        bg-yellow-400
                                        {% elif stat.0 == 'compliant' %}
                                        bg-green-500
                                        {% elif stat.0 == 'not_applicable' %}
                                        bg-black text-white dark:bg-white dark:text-black
                                        {% endif %} 
                                        " style="width: {{stat.2}}%"> {{stat.2}}%</div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div x-show="show" x-transition.origin.top class="border-t px-1 py-1 bg-white flex flex-row space-x-4">
                    <div class="w-full">
                        <ul class="ml-4">
                            {%  include "snippets/tree.html" with tree=value.children %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {% if assessment %}
                <div class="flex flex-col shadow-md rounded-lg px-4 py-2 m-2 cursor-pointer border transition-all duration-300
                {% if value.status == 'to_do' %}
                border-t-2 border-t-gray-500 hover:text-gray-700 hover:border-gray-300 hover:shadow-gray-500/70
                {% elif value.status == 'in_progress' %}
                border-t-2 border-t-blue-500 hover:text-blue-700 hover:border-blue-500 hover:shadow-blue-500/70
                {% elif value.status == 'non_compliant' %}
                border-t-2 border-t-red-500 hover:text-red-700 hover:border-red-400 hover:shadow-red-500/70
                {% elif value.status == 'partially_compliant' %}
                border-t-2 border-t-yellow-400 hover:text-yellow-700 hover:border-yellow-300 hover:shadow-yellow-400/70
                {% elif value.status == 'compliant' %}
                border-t-2 border-t-green-500 hover:text-green-700 hover:border-green-300 hover:shadow-green-500/70
                {% elif value.status == 'not_applicable' %}
                border-t-2 border-t-black hover:border-black hover:shadow-black
                {% endif %}
                "
                onclick="window.location='{% url 'requirementassessment-update' value.ra_id %}?next={{ request.path|urlencode }}'">
                    <div class="flex flex-row mb-2 items-center {% if value.name != "-" and value.name != "" %} justify-between">
                        <p class="font-normal mr-2">{{ value.name }}:</p>
                        {% else %}
                        justify-end">
                        {% endif %}
                        <p class="rounded-lg px-2 py-1 text-center text-black
                        {% if value.status == 'to_do' %}
                        bg-gray-300
                        {% elif value.status == 'in_progress' %}
                        bg-blue-500
                        {% elif value.status == 'non_compliant' %}
                        bg-red-500
                        {% elif value.status == 'partially_compliant' %}
                        bg-yellow-400
                        {% elif value.status == 'compliant' %}
                        bg-green-500
                        {% elif value.status == 'not_applicable' %}
                        bg-black text-white border-white
                        {% endif %}
                        ">
                        {{ value.status_display  }}
                        </p>
                    </div>
                    <p class="font-light">{{ value.description }}</p>
                </div>
            {% else %}
                <div class="flex flex-row ml-4 space-x-2">
                    <p class="font-normal">-</p>
                    {% if value.name != "-" and value.name != "" %}
                    <p class="font-normal">{{ value.name }}:</p>
                    {% endif %}
                    <p class="font-light">{{ value.description }}</p>
                </div>
            {% endif %}
            {% if not assessment %}
            {% if value.threats or value.security_functions %}
            <div class="ml-6">
                <div id="{{page}}_hint_{{value.urn}}" x-data="{ show: $persist(false).using(sessionStorage).as($el.id) }">
                    <div class="overflow-hidden" id="headingOne">
                        <div class="flex flex-row w-fullcursor-pointer items-center" @click="show=!show">
                            <div class="flex flex-row items-center space-x-2 cursor-pointer hover:text-indigo-700">
                                <p x-show="!show" class="font-light text-sm underline">{% trans "Learn more" %}</p>
                                <p x-show="show" class="font-light text-sm text-indigo-700 underline">{% trans "Learn more" %}</p>
                            </div>
                        </div>
                        <div x-show="show" x-transition.origin.top class="bg-white flex flex-row space-x-4">
                            <div class="w-full font-light text-sm">
                                <div class="bg-indigo-200 p-4 my-2 rounded-lg text-sm flex">
                                    <div class="w-1/2 mx-2">
                                        <p class="font-semibold"><i class="fas fa-life-ring"></i> {% trans 'Suggested functions' %}</p>
                                        <ul class="list-disc list-inside">
                                        {% for function in value.security_functions %}
                                        <li>
                                            {% if page == 'library' %}
                                            <span>{{function}}</span>
                                            {% else %}
                                            <a class="hover:text-indigo-700" href="{% url 'securityfunction-detail' function.id %}?next={{ request.path|urlencode }}">{{function}}</a>
                                            {% endif %}
                                        </li>
                                        {% empty %}
                                            <p>--</p>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="w-1/2 mx-2 ">
                                        <p class="font-semibold"><i class="fas fa-virus"></i>{% trans 'Threats covered' %}</p>
                                        <ul class="list-disc list-inside">
                                            {% for threat in value.threats %}
                                            <li>
                                                {% if page == 'library' %}
                                                <span>{{threat}}</span>
                                                {% else %}
                                                <a class="hover:text-indigo-700" href="{% url 'threat-detail' threat.id %}?next={{ request.path|urlencode }}">{{threat}}</a>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                                <p>--</p>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        {% endif %}
    </li>
{% empty %}
    <tr class="text-black p-4 text-center">
        <td colspan="4">
        <i class="inline fas fa-exclamation-triangle"></i>
        <p class="inline test-gray-900">{% trans "No requirement found." %}</p>
        </td>
    </tr>
{% endfor %}
