{% if item.obj_type == 'assessment' %}
<a class="text-violet-800 hover:text-gray-400" href="{% url 'assessment-detail' item.object.id %}"> <i class="far fa-eye"></i> </a> | <a class="text-violet-800 hover:text-gray-400" href="{% url 'assessment-update' item.object.id %}"> <i class="far fa-edit"></i> </a>

{% elif item.obj_type == 'securitymeasure' %}
<a class="text-violet-800 hover:text-gray-400" href="{% url 'securitymeasure-detail' item.object.id %}"> <i class="far fa-eye"></i> </a> | <a class="text-violet-800 hover:text-gray-400" href="{% url 'securitymeasure-update' item.object.id %}"> <i class="far fa-edit"></i> </a>

{% elif item.obj_type == 'requirementassessment' %}
<a class="text-violet-800 hover:text-gray-400" href="{% url 'requirementassessment-detail' item.object.id %}"> <i class="far fa-eye"></i> </a> | <a class="text-violet-800 hover:text-gray-400" href="{% url 'requirementassessment-update' item.object.id %}"> <i class="far fa-edit"></i> </a>

{% elif item.obj_type == 'evidence' %}
<a class="text-violet-800 hover:text-gray-400" href="{% url 'evidence-detail' item.object.id %}"> <i class="far fa-eye"></i> </a> | <a class="text-violet-800 hover:text-gray-400" href="{% url 'evidence-update' item.object.id %}"> <i class="far fa-edit"></i> </a>

{% endif %}