{% extends 'core/base.html' %}

{% load i18n %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
{% endblock %}
{% block content %}
<div class="p-2 m-2 h-screen">
    <div id="header" class="flex flex-shrink space-x-10 pb-4 mx-2 mb-4 items-center">

        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Risk scenarios" %}</span>
            <h1 id="riskinstances" class="text-2xl font-bold text-orange-400">{{counters.RiskInstance}}</h1>
          </div>
        </div>
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Measures" %}</span>
            <h1 id="mitigations" class="text-2xl font-bold text-green-600">{{counters.Mitigation}}</h1>
          </div>
        </div>
        <!--
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">Projects</span>
            <h1 class="text-2xl font-bold">{{counters.Project}}</h1>
          </div>
        </div>
        -->
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Show-stoppers" %}</span>
            <h1 class="text-2xl font-bold text-red-500">{{counters.ShowStopper}}</h1>
          </div>
        </div>
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Analyses" %}</span>
            <h1 id="analysis" class="text-2xl font-bold">{{counters.Analysis}}</h1>
          </div>
        </div>
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Security functions" %}</span>
            <h1 class="text-2xl font-bold">{{counters.Solution}}</h1>
          </div>
        </div>
        <div class="flex items-center p-6 bg-white rounded-xl mt-10 shadow-lg w-1/6">
          <div>
            <span class="text-sm font-semibold text-gray-400">{% trans "Risk Acceptances" %}</span>
            <h1 class="text-2xl font-bold text-blue-400">{{counters.RiskAcceptance}}</h1>
          </div>
        </div>

    </div>
    <div class="px-4 py-10 m-2 bg-white shadow-lg rounded-lg space-x-2 flex flex-row">
        <div class="w-1/2 rounded-lg shadow p-2 content-center">
            <div class="text-xl">{% trans "Break down per Threat" %}</div>
            <div class="p-2">
                {% include 'snippets/rose_chart.html' with name='instance_per_parent_risk' data=rose %}

            </div>
        </div>

        <div class="w-1/2 rounded-lg shadow p-2 content-center">
            <div class="text-xl">{% trans "Risks status" %}</div>
            <br>
            <div class="p-2">
                {% include 'snippets/bar_chart.html' with name='rsk' labels=risk_status.labels values=risk_status.values %}
            </div>
        </div>
    </div>
    <div class="px-4 py-10 m-2 bg-white shadow-lg rounded-lg">
        <div>{% trans "Risks breakdown per level: Current (with the existing measures) Versus Residual (Once all measures implemented)" %}
        </div>
        <div class="px-4 py-10 m-2 flex space-x-2 w-auto">
            <div class="w-1/2 rounded-lg shadow p-2 items-center justify-center">
                {% trans "Current Risk" as cur_rsk_label %}
                {% include 'snippets/donut_chart.html' with name='cur_rsk' s_label=cur_rsk_label values=risks_level.current %}


            </div>
            <div class="w-1/2 rounded-lg shadow p-2 items-center justify-center">
                {% trans "Residual Risk" as rsd_rsk_label %}
                {% include 'snippets/donut_chart.html' with name='rsd_rsk' s_label=rsd_rsk_label values=risks_level.residual %}

            </div>

        </div>

    </div>

    <div class="p-2 m-2 bg-white shadow-lg rounded-lg">
        <div class="text-lg py-4 px-2">
            {% trans "Measures Overview" %}           
        </div>
        <div class="flex-row">
            <div class="px-4 m-2 flex space-x-2 w-auto">
                <div class="w-1/2 rounded-lg shadow p-2 items-center justify-center">
                    <div>{% trans "Breakdown per Status" %}</div>
                    {% include 'snippets/bar_chart.html' with name='mtg' labels=mitigation_status.labels values=mitigation_status.values %}
                </div>
                <div class="w-1/2 rounded-lg shadow p-2 items-center justify-center">
                    <div>{% trans "Pending measure per associated risk level (current)" %}</div>
                    {% include 'snippets/donut_chart.html' with name='mtg_rsk' s_label=cur_rsk_label values=mitigation_per_cur_risk.values %}
                </div>
            </div>
            <div class="px-4 m-2 space-x-2">
                <div class="rounded-lg shadow p-2 items-center justify-center"> 
                    {% trans "Breakdown per security function" %}
                    {% trans "Measures per security function" as mitigations_per_solution_label %}
                    {% include 'snippets/radar_chart.html' with name='mtg_sol' s_label=mitigations_per_solution_label data=mitigation_per_solution %}
                </div>            
            </div>
        </div>
    </div>


    <div class="p-2 m-2 bg-white shadow-lg rounded-lg">
        <div>
            <div></div>
            <div class="m-2 p-2 text-lg">{% trans "Measures priority quadrants" %}</div>
            <div>

            </div>
            <div class="p-2 flex items-center justify-center bg-white">
                <table>
                    <tr>
                        <td class="p-2 m-2 w-96 h-96 border">
                            <span class="text-lg font-semibold p-1 bg-green-500 text-white rounded">{% trans "4th" %}</span>
                            <div class="text-xs">
                                <ul>{% for mtg in mitigation_priority.4th %}
                                    <li><a class="text-indigo-500 hover:text-indigo-300" href="#"><span class="font-semibold">[{{mtg.parent_project}}]</span> {{mtg}}</a></li>
                                    {% endfor %}</ul>
                            </div>
                        </td>
                        <td class="p-2 m-2 w-96 h-96 border relative">
                            <div class="absolute top-0 -left-2 bg-white"><i class="fas fa-arrow-up"></i> {% trans "Effort" %}</div>
                            <span class="text-lg font-semibold p-1 bg-green-500 text-white rounded">{% trans "2nd" %}</span>
                            <div class="text-xs">
                                <ul>{% for mtg in mitigation_priority.2nd %}
                                    <li><a class="text-indigo-500 hover:text-indigo-300" href="#"><span class="font-semibold">[{{mtg.parent_project}}]</span> {{mtg}}</a></li>
                                    {% endfor %}</ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 m-2 w-96 h-96 border">
                            <span class="text-lg font-semibold p-1 bg-green-500 text-white rounded">{% trans "3rd" %}</span>
                            <div class="text-xs">
                                <ul>{% for mtg in mitigation_priority.3rd %}
                                    <li><a class="text-indigo-500 hover:text-indigo-300" href="#"><span class="font-semibold">[{{mtg.parent_project}}]</span> {{mtg}}</a></li>
                                    {% endfor %}</ul>
                            </div>
                        </td>
                        <td class="p-2 m-2 w-96 h-96 border relative">
                            <div class="absolute -top-3 -right-0 bg-white"> {% trans "Risk level" %} <i class="fas fa-arrow-right"></i> </div>
                            <span class="text-lg font-semibold p-1 bg-green-500 text-white rounded">{% trans "1st" %}</span>
                            <div class="text-xs">
                                <ul>{% for mtg in mitigation_priority.1st %}
                                    <li><a class="text-indigo-500 hover:text-indigo-300" href="#"><span class="font-semibold">[{{mtg.parent_project}}]</span> {{mtg}}</a></li>
                                    {% endfor %}</ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-2 m-2 text-md"><i class="fas fa-info-circle"></i> {% trans "Note" %}: <b>{{mitigation_priority.undefined|length}}</b> {% trans "measure(s) have not been processed because the estimated effort is not set." %}</div>

        </div>
    </div>

    <div class="p-2 m-2 bg-white shadow-lg rounded-lg">
        <div class="text-lg p-2 m-2">{% trans "Risks per project domain(category)" %}</div>
        <div class="text-sm p-2 m-2">{% trans "Current vs Residual" %}</div>
        <div class="p-2">
            {% include 'snippets/dual_bar_stacked.html' with ch_context=extra %}
        </div>

    </div>
</div>
{% endblock %}