{% extends 'core/base.html' %}
{% load i18n static core_extras %}


{% block content %}
<div>
    {% with page_title=_('Assets') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="flex flex-row justify-start space-x-4 h-fit">
        <!-- Ordering, Searchbar and Dropdown Form -->
        <form method="get">
            <div class="flex flex-row space-x-4">
                <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                        <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ filter.form.name }}
                </div>
                <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-sort"></i>
                    </div>
                    {{ filter.form.orderby }}
                </div>        
            </div>
        </form>
        {% url 'asset-list' as short_path %}
        {% if request.get_full_path != short_path %}
        <div class="flex items-center h-10 w-full">
            <a href="{% url 'asset-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
                <span>{% trans "Clear Filters" %}</span>
            </a>
        </div>
        {% endif %}
        <!-- End Filters Dropdown Form -->
        {% if add_asset %}
        {% include 'snippets/add_button_modal.html' with form=asset_create_form header=_("Add asset") model="asset" content=_("New asset") %}
        {% endif %}
    
    </div>

    <div class="relative overflow-x-auto overflow-y-auto shadow-md sm:rounded-lg mt-2">
        <table class="w-full text-sm text-left">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Name" %}</th>
                <th class="px-6 py-3">{% trans "Description" %}</th>
                <th class="px-6 py-3">{% trans "Business value" %}</th>
                <th class="px-6 py-3">{% trans "Type" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for asset in page_obj %}
                    <tr class="odd:bg-white even:bg-gray-100 hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer" onclick="window.location='{% url 'asset-detail' asset.id %}?next={{ request.path|urlencode }}'">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="ml-3">
                                    <p id="asset{{ asset.id }}" href=""
                                    class="text-md font-semibold whitespace-no-wrap">
                                        {{ asset }}
                                    </p>
                                </div>
                            </div>
                        </th>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">
                                {{ asset.description|linebreaksbr }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">
                                {{ asset.business_value|linebreaksbr }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap capitalize">
                                {{ asset.get_type_display }}
                            </p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">

                            <div class="">
                                <span><a href="{% url 'asset-detail' asset.id %}" class="table-action"><i class="far fa-eye"></i></a></span>
                                {% if asset.id in object_ids_change %}
                                <span>
                                    <a href="{% url 'asset-update' asset.id %}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>
                                {% endif %}
                                {% if asset.id in object_ids_delete %}
                                {% include 'snippets/delete_button_modal.html' with object=asset header=_("Delete asset?") model='asset' %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                <tr class="text-black p-4 text-center">
                    <td colspan="8" class="py-2">
                        <i class="inline fas fa-exclamation-triangle"></i>
                        <p class="inline test-gray-900">{% trans "No asset found." %}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'snippets/paginator.html' %}
    </div>
</div>


{% endblock %}