{% extends 'core/base.html' %}

{% load i18n %}

{% block head %}
<title>Mira - Viewer</title>

{% endblock %}

{% block content %}
<div class="m-2 bg-gray-50 max-h-screen p-5 rounded-xl shadow-lg">


    <div>
        <div class="text-lg py-2"><i class="fab fa-searchengin"></i> {% blocktrans with type=context.type %} Browsing {{ type }} {% endblocktrans %} {% blocktrans with filter=context.filter %} with filter: <b>{{ filter }}</b>{% endblocktrans %}</div>

    {% if context.type == "Risk scenarios" %}
        <table id="mytable" class="hover w-full p-2 m-2" >
            <thead>
            <tr>
                <th class="text-left">{% trans "Project" %}</th>
                <th class="text-left">{% trans "Name" %}</th>
                <th class="text-left">{% trans "Current level" %}</th>
                <th class="text-left">{% trans "Residual level" %}</th>
                <th class="text-left">{% trans "Treatment status" %}</th>
                <th class="text-center">{% trans "Locate" %}</th>
            </tr>
            </thead>
            <tbody>
                {% for item in context.items %}
                  <tr class="p-1">
                    <td class=" px-1 py-2">{{ item.analysis.project }}</td>
                    <td class="">{{ item.name }}</td>
                      <td class="">{{ item.get_current_risk }}</td>
                      <td class="">{{ item.get_residual_risk }}</td>
                      <td class="">{{ item.get_treatment_display }}</td>
                      <td class=" text-center"><a href="#"><i class="fas fa-external-link-square-alt"></i></a></td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <table id="mytable" class="hover w-full p-2 m-2">
            <thead>
            <tr>
                <th class="text-left px-1">{% trans "Name" %}</th>
                <th class="text-left px-1">{% trans "Domain" %}</th>
                <th class="text-left px-1">{% trans "ETA" %}</th>
                <th class="text-left px-1">{% trans "Associated risk scenarios" %}</th>
                <th class="text-left px-1">{% trans "Status" %}</th>
                <th class="text-center px-1">{% trans "Locate" %}</th>
            </tr>
            </thead>
            <tbody>
                {% for item in context.items %}
                  <tr class="p-1">
					<td class="px-1">{{ item.name }}</td>
					<td class="px-1">{{ item.folder }}</td>
                    <td class="px-1">{{ item.eta }}</td>
					<td class="px-1">
					{% for risk in item.risk_scenarios %}
						{{ risk }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
					</td>
					<td class="px-1">{{ item.get_status_display }}</td>
					<td class="px-1 text-center"><a href="{% url 'securitymeasure-detail' item.id %}"><i class="fas fa-external-link-square-alt"></i></a></td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}


</div>

</div>

{% endblock %}