{% load i18n %}

{% block content %}
<main class="p-2 bg-white rounded-lg shadow-lg mb-6">
    <div class="py-4 px-3 relative">
        <h1 class="text-2xl font-extrabold text-slate-700">{% trans 'Overall compliance' %}</h1>
        {% for project in projects %}
            <div class="px-4 py-3 w-full mt-2 flex flex-col space-y-2 items-center">
                <div class="flex flex-row w-1/2 justify-between space-x-2 items-center">
                    <a href="{% url 'project-detail' project.id %}?next={{ request.path|urlencode }}" class="text-xl font-semibold text-gray-600 hover:text-indigo-600 cursor-pointer">{{ project }}</a>
                    <div class="flex bg-gray-300 rounded-full overflow-hidden text-center text-gray-900 w-full h-4">
                        <div class="flex flex-col justify-center overflow-hidden
                        {% if project.overall_compliance <= 25 and project.overall_compliance > 0 %}
                            bg-red-500 
                        {% elif project.overall_compliance > 25 and project.overall_compliance <= 75 %}
                            bg-yellow-400 
                        {% elif project.overall_compliance > 75 %}
                            bg-green-500 
                        {% endif %}
                        " style="width: {% if project.overall_compliance == 0 %}100{% else %}{{ project.overall_compliance }}{% endif %}%"> {{ project.overall_compliance }}%
                        </div>
                    </div>
                </div>
                {% for assessment in project.assessment_set.all %}
                <div class="relative w-full h-40 border shadow-md rounded-lg">
                    <div class="flex flex-row h-full">
                        <div class="p-2 w-1/5">
                            <div class="flex flex-col space-y-2">
                                <div class="flex flex-col w-fit">
                                    <p class="text-gray-800 font-medium">{% trans "Assessment Name" %}</p>
                                    <p class="text-gray-600">{{ assessment.name }}</p>
                                </div>
                                <div class="flex flex-col w-fit">
                                    <p class="text-gray-800 font-medium">{% trans "Framework" %}</p>
                                    <p class="text-gray-600">{{ assessment.framework }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 w-3/5">
                            {% include 'core/fragments/basic_donut.html' with labels=assessment.donut_render.labels values=assessment.donut_render.values name=assessment %}
                        </div>
                        <div class="absolute top-0 right-0 mt-4 space-x-2 mr-2">
                            <a href="{% url "export-assessment" assessment.id %}"
                                class="whitespace-nowrap bg-indigo-700 px-4 py-2 cursor-pointer text-white hover:bg-indigo-600 rounded-lg w-fit h-fit font-medium">
                                <i class="fas fa-download mr-2"></i>{% trans "Export" %}
                            </a>
                            {% if assessment.id in change_assessment %}
                            <a href="{{ assessment.edit_url }}?next={{ request.path|urlencode }}"
                                class="whitespace-nowrap bg-indigo-700 px-4 py-2 cursor-pointer text-white hover:bg-indigo-600 rounded-lg w-fit h-fit font-medium">
                                <i class="fas fa-edit mr-2"></i>{% trans "Edit" %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="flex items-center justify-center space-x-2 p-4">
                    <i class="inline fas fa-exclamation-triangle"></i>
                    <p class="inline test-gray-900">{% trans "No assessment found." %}</p>
                </div>
                {% endfor %}
            </div>
        {% empty %}
            <div class="flex items-center justify-center space-x-2 p-4">
                <i class="inline fas fa-exclamation-triangle"></i>
                <p class="inline test-gray-900">{% trans "No project." %}</p>
            </div>
        {% endfor%}
    </div>
</main>
{% endblock %}
