{% extends 'core/base.html' %}

{% load i18n %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
{% endblock %}
{% block content %}
<div class="p-4 mx-auto min-h-screen">
    <div class="p-2 m-2 font-semibold text-xl">{% trans "Your selection" %}</div>
    <div class="p-2 m-2 text-sm"><i class="fas fa-info-circle"></i> {% trans "Hint: you can bookmark this page for future usage" %}</div>
    <div class="p-4 m-2 bg-white shadow rounded-xl">
        <div class="p-2 m-2 text-semibold text-lg">{% trans "Here is the overview for the" %} {{context.analysis_objects|length}} {% trans "selected projects" %}:</div>
        <div class="flex space-x-2">
            <div class="w-1/3 ">

                <div>
                    <div class="p-2">{% trans "Current risk level" %}</div>

                    <div class="items-center">
                        {% trans "Current risk" as cur_rsk_label %}
                        {% include 'snippets/donut_chart.html' with name='cur_rsk' s_label=cur_rsk_label values=context.current_level %}
                    </div>
                </div>
            </div>
            <div class="w-1/3 ">
                <div class="p-2 m-2">{% trans "Status of associated measures" %}</div>
                <div>
                    <div class="items-center justify-center">
                        {% include 'snippets/bar_chart.html' with name='mtg' labels=context.security_measure_status.labels values=context.security_measure_status.values %}
                    </div>
                </div>
            </div>
            <div class="w-1/3 ">
                <div class="p-2">{% trans "Residual risk level" %}</div>
                <div class="items-center">
                    {% trans "Residual risk" as rsd_rsk_label %}
                    {% include 'snippets/donut_chart.html' with name='rsd_rsk' s_label=rsd_rsk_label values=context.residual_level %}
                </div>

            </div>
        </div>
        <div class="mt-4 bg-gradient-to-br from-slate-200 shadow-lg rounded-lg p-2 ">
            <i class="fas fa-hand-point-right"></i> <span class="font-semibold">{% trans "For the selected scope, you have:" %}</span>
            <ul class="list-disc py-2 px-6 m-2">
                <li><b>{{context.counters.untreated}}</b> {% trans "untreated risk scenario(s)," %}</li>
                <li>{% trans "among which," %} <b>{{context.counters.untreated_h_vh}}</b> {% trans "currently of level high or above," %}</li>
                <li>{% trans "and" %} <b>{{context.counters.accepted}}</b> {% trans "risk scenario(s) accepted." %}</li>
            </ul>

        </div>
    </div>
    <div class="px-2">
{% for item in context.analysis_objects %}

    <div x-data={show:false} class="rounded">
          <div class="border border-b-0 bg-gradient-to-r from-violet-800 to-violet-600 px-6 py-4 rounded-t-lg" id="headingOne">
              <button @click="show=!show" class=" text-white font-semibold hover:text-gray-300 focus:outline-none" type="button">
                {{item.analysis}}
              </button>
          </div>
          <div x-show="show" class="border border-1 px-10 py-6 bg-white flex flex-row space-x-4 rounded-b-lg">
              <div class="">
                <div class="my-4"> <span class="font-semibold">{% trans "Risk analysis status:" %}</span> {% if item.analysis.quality_check.count > 0 %} <span class="text-xs px-2 py-1 rounded bg-orange-200 shadow">{% trans "Review needed" %}</span><br>➡️ <span class="text-sm py-2 my-2">{% trans "Found" %}
                    <b>{{item.analysis.quality_check.count}}</b> {% trans "inconsistencies that you need to check (use x-rays)." %}</span>  {% else %} <span class="text-xs px-2 py-1 rounded bg-green-200 shadow">{% trans "Ok" %}</span> {% endif %}</div>
                <div>
                    <table class="border border-collapse m-2 p-2 rounded">
                        <tr class="">
                            <th class="border p-2 bg-gray-200"></th>
                            <th class="border p-2 bg-gray-200">{% trans "Current" %}</th>
                            <th class="border p-2 bg-gray-200">{% trans "Residual" %}</th>
                        </tr>
                        {% for lvl in item.synth_table %}

                        <tr>
                            <td class="border p-2">{{lvl.lvl}}</td>
                            <td class="border p-2 text-center">{{lvl.current}}</td>
                            <td class="border p-2 text-center">{{lvl.residual}}</td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>

                <div>
                    <a class="text-violet-800 hover:text-violet-600 py-2 my-2" href="{% url 'RA' item.analysis.id %}"><i class="fas fa-external-link-square-alt"></i> {% trans "Jump to full risk analysis" %}</a>
                </div>
              </div>

              <div class="pt-14">
                  <div class="mt-4">
                      <span class="font-semibold">{% trans "High or very high risk based on the" %} <span class="underline">{% trans "current level" %}</span>:</span>
                    {% if item.hvh_risks %}
                  <ul class="p-2 m-2 list-disc">
                      {% for ri in item.hvh_risks %}
                      <li>[{{ri.get_current_level_display}}][{{ri.get_treatment_display}}] {{ri}}</li>
                      {% endfor %}
                  </ul>
                      {% else %}
                      <p class="p-2 m-2"><i class="fas fa-check-square"></i> {% trans "Nothing to show here." %}</p>
                      {% endif %}
              </div>
              </div>
          </div>
    </div>

{% endfor %}
        </div>
</div>
{% endblock %}
