{% extends 'core/base.html' %}
{% block content %}
{% load i18n %}
{% with page_title=_('Edit user_group') %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}
<div class="mb-4">
    <form method="post" id="group_create_form" x-data="{ submitDisabled: true }" @change="submitDisabled = false">{% csrf_token %}
        <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
            <h2 class="text-xl font-semibold mb-4">{% trans "Group information" %}</h2>
            <div class="flex flex-col space-y-4">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="">
                    <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
                    <div class="w-auto">
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                        {% endfor %}
                        {{ field }}
                        <div class=" mt-1 text-xs text-gray-400">
                            {{ field.help_text|safe }}
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-4 flex space-x-2 justify-end">
                <a href="{% url 'user_group-list' %}" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</a>
            <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-300"
                :disabled="submitDisabled"">{% trans "Save" %}</button>
            </div>    
        </div>
    </form>
</div>
<div class="flex flex-col w-full">
    <div class="bg-white border mr-2 rounded-lg shadow px-4 py-6 w-full mb-4">
        <div class="grid justify-items-stretch grid-cols-2 mb-2">
            <h2 class="text-xl font-semibold">{% trans "Associated users" %}</h2>
        </div>
        {% include 'snippets/associated_users_list_nested.html' %}
    </div>
    <div class="bg-white border rounded-lg shadow px-4 py-6 w-full">
        <div class="grid justify-items-stretch grid-cols-2 mb-2">
            <h2 class="text-xl font-semibold">{% trans "Other users" %}</h2>
        </div>
        {% include 'snippets/users_list_nested.html' %}
    </div>
</div>

{% endblock content %}