{% extends 'core/base.html' %}
{% load i18n static core_extras %}

{% block content %}
<div class="">
    {% with page_title=_('Groups') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="flex flex-row justify-start space-x-4 h-fit">
        <form method="get">
            <div class="flex flex-row space-x-4">
                <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                        <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ filter.form.name }}
                </div>
                <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-sort"></i>
                    </div>
                    {{ filter.form.orderby }}
                </div>        
            </div>
        </form>
        {% url 'usergroup-list' as short_path %}
        {% if request.get_full_path != short_path %}
        <div class="flex items-center h-10 w-full">
            <a href="{% url 'usergroup-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
                <span>{% trans "Clear Filters" %}</span>
            </a>
        </div>
        {% endif %}
        {% comment %} {% if add_usergroup %}
        <div class="grid mb-4 w-full">
                <a href="{% url 'usergroup-create' %}" class="add-button"><i class="fas fa-plus mr-2"></i>{% trans "New Group" %}</a>
        </div>
        {% endif %} {% endcomment %}
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Group Name" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for user_group in user_groups %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="ml-0">
                                    {% if user_group.builtin %}
                                    <span class="bg-red-300 p-1 rounded-lg text-xs mr-2">{% trans "built-in" %}</span>
                                    {% endif %}
                                    {% if object_ids_change %}
                                    <a id="user_group{{ user_group.id }}" href="{% url 'usergroup-update' user_group.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ user_group|capfirst }}
                                    </a>
                                    {% else %}
                                    <a id="user_group{{ user_group.id }}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap">
                                        {{ user_group|capfirst }}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div>
                            {% if user_group.id in object_ids_change %}
                                <span>
                                    <a href="{% url 'usergroup-update' user_group.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if user_group.id in object_ids_delete %}
                                {% include 'snippets/delete_button_modal.html' with object=user_group header=_("Delete user group?") model="usergroup" %}
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>
                            <div class="text-black p-4">
                                <i class="inline fas fa-exclamation-triangle"></i>
                                <p class="inline test-gray-900">{% trans "No user group found." %}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'snippets/paginator.html' %}
    </div>
</div>
{% endblock %}