{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}

<div class="w-full h-full mx-auto">
    <section class="">
        <div class=" flex items-center content-center">
            <div class="flex-grow mx-14 my-14">
                <search>
                    <form action="{% url 'search' %}" class="">
                        <span class="h-10 m-0 bg-gray-200 hover:bg-gray-300 cursor-pointer border border-gray-300 text-sm rounded-full flex">
                            <input id="search" required type="search" name="q" placeholder="{% trans "Search risk scenario, measure, analysis ..." %}" value="{{request.GET.q}}"
                                    class="flex-grow px-4 rounded-l-full rounded-r-full text-sm focus:outline-none border-none overflow-ellipsis">
                            <button id="submit" type="submit" class="text-gray-700">
                                    <i class="fas fa-search text-lg w-4 h-4 ml-2 mr-4"></i>
                            </button>
                        </span>
                    </form>
                </search>
            </div>
        </div>
        <div>
            <h2 id="title" class="text-2xl ml-2 font-bold leading-tight">{% trans "Analyses Registry" %}</h2>
        </div>

        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th class="px-6 py-3">
                                {% trans "ID" %}
                            </th>
                            <th class="px-6 py-3">
                                {% trans "Assignee" %}
                            </th>
                            <th class="px-6 py-3">
                                {% trans "Last Update" %}
                            </th>
                            <th class="px-6 py-3">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for analysis in page_obj %}
                        <tr class="border-b  odd:bg-white even:bg-gray-50 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                <div class="flex items-center">

                                    {% if analysis.is_draft %}
                                    <span class="bg-blue-100 p-1 rounded-lg text-xs">{% trans "draft" %}</span>

                                    {% else %}
                                    <span class="bg-green-200 p-1 rounded-lg text-xs ">{% trans "ready" %}</span>

                                    {% endif %}


                                    <div class="ml-3">
                                        <a id="analysis{{analysis.id}}" href="{% url 'RA' analysis.id %}"
                                            class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                            {{analysis}}
                                        </a>
                                    </div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                <p class="text-gray-900 whitespace-no-wrap capitalize">
                                    {%if analysis.auditor%}{{analysis.auditor}}{% else %}--{% endif %}
                                </p>
                            </td>
                            <td class="px-6 py-4">
                                <p class="text-gray-900 whitespace-no-wrap">
                                    {{analysis.updated_at|date}}
                                </p>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">


                                    <div class="flex justify-center">
                                        <div class="flex items-center">
                                            <a href="{% url 'MP' analysis.id %}">
                                                <span class="table-action" data-tooltip-target="tooltip-rp"><i class="fas fa-heartbeat"></i></span>
                                                <div id="tooltip-rp" role="tooltip" class="inline-block absolute invisible z-10 p-2 text-2xs text-white bg-gray-600 rounded-xl shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                                                    Remediation Plan
                                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                                </div>
                                            <a>
                                            <div x-data="{ dropdownOpen: false }" class="relative">
                                                <button @click="dropdownOpen = !dropdownOpen" class="" data-tooltip-target="tooltip-export">
                                                    <span class="table-action"><i class="fas fa-download"></i></span>
                                                    <div id="tooltip-export" role="tooltip" class="inline-block absolute invisible z-10 p-2 text-2xs text-white bg-gray-600 rounded-xl shadow-sm opacity-0 transition-opacity duration-300 tooltip ">
                                                        Export
                                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                                    </div>
                                                    
                                                </button>

                                                <div x-show="dropdownOpen" @click="dropdownOpen = false"
                                                    class="fixed inset-0 h-full w-full z-10"></div>

                                                <div x-show="dropdownOpen"
                                                    class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20">
                                                    <a class="block px-4 py-2 text-sm text-gray-800">{% trans "Risk Analysis" %}</a>
                                                    <a href="{% url 'RA-PDF' analysis.id %}"
                                                        class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200">{% trans "... as PDF" %}</a>
                                                    <a href="{% url 'RA-CSV' analysis.id %}"
                                                        class="block px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200">{% trans "... as csv" %}</a>
                                                    <a class="block px-4 py-2 text-sm text-gray-800">{% trans "Treatment Plan" %}</a>
                                                    <a href="{% url 'MP-PDF' analysis.id %}"
                                                        class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200">{% trans "... as PDF" %}</a>
                                                    <a href="{% url 'MP-CSV' analysis.id %}"
                                                        class="block px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200">{% trans "... as csv" %}</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% empty %}
                    <tr>
                        <td>
                            <div class="text-black p-4">
                                <i class="inline fas fa-exclamation-triangle"></i>
                                <p class="inline test-gray-900">{% trans "No analysis found." %} {{ model.verbose_name }}</p>
                            </div>
                        </td>
                    </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="px-5 py-3 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                    <span id="pagenum" class="text-xs xs:text-sm text-gray-900">
                        {% trans "Showing Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                    </span>
                    <div class="inline-flex mt-2 xs:mt-0 space-x-2">
                        {% if page_obj.has_previous %}
                        <a href="?page=1"
                            class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i
                                class="fas fa-angle-double-left"></i>
                            {% trans "First" %}</a>
                        <a href="?page={{ page_obj.previous_page_number }}"
                            class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i
                                class="fas fa-angle-left"></i> {% trans "Prev" %}</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <a id="next"
                            class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                            href="?page={{ page_obj.next_page_number }}">{% trans "Next" %} <i class="fas fa-angle-right"></i></a>
                        <a class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                            href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} <i class="fas fa-angle-double-right"></i></a> {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}