{% extends 'core/base.html' %}
{% load i18n static core_extras %}

{% block content %}
<div class="">
    {% with page_title=_('Security measures') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    <!-- Ordering, Searchbar and Dropdown Form -->
    <div class="flex flex-row justify-start space-x-4 h-fit">
        <form method="get">
            <div class="flex flex-row space-x-4">
                <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                        <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ filter.form.name }}
                </div>
                <div class="flex justify-center">
                    <div
                        x-data="{
                            open: false,
                            toggle() {
                                if (this.open) {
                                    return this.close()
                                }
                    
                                this.$refs.button.focus()
                    
                                this.open = true
                            },
                            close(focusAfter) {
                                if (! this.open) return
                    
                                this.open = false
                    
                                focusAfter && focusAfter.focus()
                            }
                        }"
                        x-on:keydown.escape.prevent.stop="close($refs.button)"
                        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                            x-id="['dropdown-button']"
                        class="relative"
                    >
                        <!-- Button -->
                        <button
                            x-ref="button"
                            x-on:click="toggle()"
                            :aria-expanded="open"
                            :aria-controls="$id('dropdown-button')"
                            type="button"
                            class="px-4 py-2 rounded-lg shadow w-fit flex flex-row items-center space-x-1.5"
                            :class="open === true ? 'bg-indigo-600 hover:bg-indigo-700 text-white' : 'bg-white hover:bg-indigo-600 hover:text-white'"
                        >
                            <i class="fas fa-filter"></i>
                            <span>{% trans "Filters" %}</span>
                        </button>
                    
                        <!-- Panel -->
                        <div
                            x-ref="panel"
                            x-show="open"
                            x-transition.origin.top.left
                            x-on:click.outside="close($refs.button)"
                            :id="$id('dropdown-button')"
                            style="display: none;"
                            class="absolute left-0 mt-2 z-10 w-96 max-h-96 p-2 bg-white rounded shadow-2xl overflow-y-scroll"
                        >
                    
                            <div class="flex flex-col space-y-2 w-full overflow-visible px-4 py-2">
                                {% for field in filter.form %}
                                {% if field.field.widget|class != "TextInput" and field.field.label != "Ordering" %}
                                <div>
                                    <p class="block text-sm font-medium text-gray-900">{{ field.label }}</p>
                                    {{ field }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                <button type="submit" class="sticky bottom-0 mt-4 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg px-4 py-2">{% trans "Apply" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-sort"></i>
                    </div>
                    {{ filter.form.orderby }}
                </div>        
            </div>
        </form>
        {% url 'securitymeasure-list' as short_path %}
        {% if request.get_full_path != short_path %}
        <div class="flex items-center h-10 w-full">
            <a href="{% url 'securitymeasure-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
                <span>{% trans "Clear Filters" %}</span>
            </a>
        </div>
        {% endif %}
        <!-- End Filters Dropdown Form -->
        {% if add_securitymeasure%}
        {% include 'snippets/add_button_modal.html' with form=measure_create_form header=_("Add security measure") model="securitymeasure" content=_("New security measure") %}
        {% endif %}

    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
        <table class="w-full text-sm text-left">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Measure" %}</th>
                <th class="px-6 py-3">{% trans "Domain" %}</th>
                <th class="px-6 py-3">{% trans "Type" %}</th>
                <th class="px-6 py-3">{% trans "ETA" %}</th>
                <th class="px-6 py-3">{% trans "Security function" %}</th>
                <th class="px-6 py-3 text-center">{% trans "Analyses" %}</th>
                <th class="px-6 py-3 text-center">{% trans "Projects" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for measure in measures %}
                    <tr class="odd:bg-white even:bg-gray-100 hover:text-indigo-500 transition ease-in-out duration-100 hover:bg-gray-200 cursor-pointer" onclick="window.location='{% url 'securitymeasure-detail' measure.id %}?next={{ request.path|urlencode }}'">
                        <td scope="row" class="px-6 py-4 font-medium">
                            <div class="flex items-center">                           
                                <span class="whitespace-nowrap p-1 rounded-lg text-xs
                                {% if measure.status == 'open' %}
                                bg-blue-200 
                                {% elif measure.status == 'in_progress' %}
                                bg-orange-200 
                                {% elif measure.status == 'on_hold' %}
                                bg-red-300 
                                {% else %}
                                bg-green-200 
                                {% endif %} text-gray-900">{{ measure.get_status_display|lower}}
                                </span>
                                <div class="ml-3">
                                    <p id="measure{{ measure.id }}" class="text-md font-semibold whitespace-no-wrap">
                                        {{ measure.name|capfirst }}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">
                                {{ measure.folder }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">
                                {% if measure.type %}
                                {{ measure.get_type_display }}
                                {% endif %}
                            </p>                     
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">
                                {% if measure.eta %}
                                {{ measure.eta }}
                                {% else %}
                                  --
                                {% endif %}
                            </p>                     
                        </td>
                        <td class="px-6 py-4">
                            <p class="whitespace-no-wrap">       
                            {% if measure.security_function %}
                            {{ measure.security_function }}
                            {% else %}
                                --
                            {% endif %}
                            </p> 
                        </td>
                        <td class="px-6 py-4 text-center">
                            <p class="whitespace-no-wrap">       
                            {{ measure.analyses|length}}
                            </p> 
                        </td>
                        <td class="px-6 py-4 text-center">
                            <p class="whitespace-no-wrap">       
                            {{ measure.projects|length }}
                            </p> 
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="">
                                <span><a href="{% url 'securitymeasure-detail' measure.id %}" class="table-action"><i class="far fa-eye"></i></a></span>
                                {% if measure.id in object_ids_change %}
                                <span>
                                    <a href="{% url 'securitymeasure-update' measure.id %}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>
                                {% endif %}
                                {% if measure.id in object_ids_delete %}
                                {% include 'snippets/delete_button_modal.html' with object=measure header=_("Delete security measure?") model='securitymeasure' %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="text-black p-4 text-center">
                        <td colspan="8" class="py-2">
                            <i class="inline fas fa-exclamation-triangle"></i>
                            <p class="inline test-gray-900">{% trans "No measure found." %}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'snippets/paginator.html' %}
    </div>
</div>

{% endblock %}