{% extends 'core/base.html' %}

{% load i18n %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
{% endblock %}
{% block content %}
<div class="h-screen" x-data="{ openTab: 1 }">
    {% with page_title=_('Overview') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}

    <div class="px-4 flex flex-row mb-0">
        <div @click="openTab = 1" class="space-x-1 flex flex-row cursor-pointer px-4 py-1 w-fit border-slate-500 hover:bg-gray-100 rounded-t-lg hover:border-slate-700 text-center" :class="openTab !== 1 ? 'border-b' : ' bg-white border-b-0'">
            <span class="">
                <i class="fas fa-chart-pie"></i>
            </span>
            <div class="w-full">{% trans "Overview" %}</div>
        </div>
        <div @click="openTab = 2" class="space-x-1 flex flex-row cursor-pointer px-4 py-1 w-fit border-slate-500 hover:bg-gray-100 rounded-t-lg hover:border-slate-700 text-center" :class="openTab !== 2 ? 'border-b' : ' bg-white border-b-0'">
            <span class="">
                <i class="fas fa-star"></i>
            </span>
            <div class="w-full">{% trans "Treatment" %}</div>
        </div>
        <div @click="openTab = 3" class="space-x-1 flex flex-row cursor-pointer px-4 py-1 w-fit border-slate-500 hover:bg-gray-100 rounded-t-lg hover:border-slate-700 text-center" :class="openTab !== 3 ? 'border-b' : ' bg-white border-b-0'">
            <span class="">
                <i class="fas fa-drafting-compass"></i>
            </span>
            <div class="w-full">{% trans "Composer" %}</div>
        </div>
    </div>

    <div x-show="openTab === 1">
        <section class="p-2 bg-white rounded-lg shadow-lg mb-6" id="stats">
            <div class="p-2 m-2">
                <span class="text-2xl font-extrabold text-slate-700">{% trans "Statistics" %}</span>
            </div>
            <div class="flex items-center content-center">
                <div class="w-1/4 p-2 m-2  flex content-center bg-white">
                    <div class="text-5xl text-yellow-500 mr-2"><i class="fas fa-biohazard"></i></div>
                    <div class=" text-left"><div class="text-4xl font-bold">{{ counters.Threat }}</div> <div class="font-semibold text-slate-500 text-sm">{% trans "Threats" %}</div></div>
                </div>
                <div class="w-1/4 p-2 m-2  flex content-center bg-white">
                    <div class="text-5xl text-blue-500 mr-2"><i class="fas fa-glasses"></i></div>
                    <div class=" text-left"><div class="text-4xl font-bold">{{ counters.Analysis }}</div> <div class="font-semibold text-slate-500 text-sm">{% trans "Analyses" %}</div></div>
                </div>
                <div class="w-1/4 p-2 m-2  flex content-center bg-white">
                    <div class="text-5xl text-green-500 mr-2"><i class="fas fa-clone"></i></div>
                    <div class=" text-left"><div class="text-4xl font-bold">{{ counters.RiskScenario }}</div> <div class="font-semibold text-slate-500 text-sm">{% trans "Scenarios" %}</div></div>
                </div>
                <div class="w-1/4 p-2 m-2  flex content-center bg-white">
                    <div class="text-5xl text-red-500 mr-2"><i class="fas fa-fire-extinguisher"></i></div>
                    <div class=" text-left"><div class="text-4xl font-bold">{{ counters.SecurityMeasure }}</div> <div class="font-semibold text-slate-500 text-sm">{% trans "Security measures" %}</div></div>
                </div>
            </div>
        </section>

        <section class="p-2 bg-white rounded-lg shadow-lg mb-6" id="">
            <div class="p-2 m-2">
                <div class="text-2xl font-extrabold text-slate-700">{% trans "My projects" %}</div>
                <div class="text-sm text-slate-500 font-semibold">{% trans "Assigned to" %} <span class="font-bold text-slate-700">{{ counters.Project }}</span> {% trans "projects" %}</div>
            </div>
            <div class="flex items-center content-center">
                <div class=" p-2 m-2 w-1/2">
                    <span class="text-sm font-semibold">{% trans "Risk scenarios overview" %}</span>
                    <!--Chart starts here-->
                    {% include 'snippets/donut_chart.html' with name='cur_rsk' s_label=cur_rsk_label values=risks_level.current %}
                    <!--Chart ends here-->
                </div>
                <div class="p-2 m-2 w-1/2">
                    <span class="text-sm font-semibold">{% trans "Security measures status" %}</span>
                    {% include 'core/fragments/measures_status.html' with name='security_measures_status' labels=security_measure_status.labels values=security_measure_status.values %}
                </div>
            </div>
        </section>

        <section class="p-2 bg-white rounded-lg shadow-lg mb-6" id="">
            <div class="p-2 m-2">
                <div class="text-2xl font-extrabold text-slate-700">{% trans "Watch list" %}</div>
                <div class="text-sm text-slate-500 font-semibold">{% trans "Items that have expired or with close ETA" %}</div>
            </div>
            <div class="p-2 m-2 flex flex-col space-y-5 items-center content-center">
                <div class="w-full">
                    <span class="text-md font-semibold">{% trans "Measures to review" %}</span>
                    <div>{% include 'core/fragments/watchlist_measures.html' %}</div>
                </div>
                <div class="w-full">
                    <span class="text-md font-semibold">{% trans "Exceptions to review" %}</span>
                    <div>{% include 'core/fragments/watchlist_exceptions.html' %}</div>
                </div>
            </div>
        </section>
    </div>
    <div x-show="openTab === 2" class="h-full">
        {% include 'core/treatment.html' with agg_data=agg_data measures=ord_security_measures %}
    </div>
    <div x-show="openTab === 3">
        {% include 'core/project_select.html' with analyses=analyses %}
    </div>
</div>
</div>
{% endblock %}