{% extends 'core/base.html' %}
{% load i18n static %}
{% block head %}
{% endblock %}
{% block content %}
{% with page_title=scenario %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}


<div x-data="{ submitDisabled: true }" @change="submitDisabled = false">
    <form method="POST" id="scenario_update_form" action="">{% csrf_token %}
    <p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}
    </p>
    <div class="flex flex-col space-y-2">
        <section class="flex flex-col w-full">
            <div class="flex flex-row">
                <div class="px-4 pt-2 pb-4 mb-2 mr-2 bg-white rounded-lg shadow w-3/4">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Scope" %}</h2>
                    <section class="flex flex-col space-y-4">
                        <div class="flex flex-row justify-between space-x-4">
                            <div class="flex-col w-3/12">
                                <p class="text-gray-400 text-sm font-semibold">{% trans "Project" %}: </p>
                                <p class="text-sm font-semibold break-words">{{ scenario.analysis.project }}</p>
                            </div>
                            <div class="flex-col w-4/12">
                                <p class="text-gray-400 text-sm font-semibold">{% trans "Analysis" %}: </p>
                                <p class="text-red-500 text-xs font-semibold">{{ form.analysis.errors|striptags }}</p>
                                <p class="text-sm font-semibold break-words">{{ form.analysis }}</p>
                                {% if form.analysis.field.widget.attrs.disabled %}
                                        <input type="hidden" name="{{ form.analysis.name }}" value="{{ form.analysis.value }}">
                                {% endif %}
                            </div>
                            <div class="flex-col w-3/12">
                                <p class="text-gray-400 text-sm font-semibold">{% trans "Auditor" %}: </p>
                                {% if scenario.analysis.auditor.get_full_name %}
                                    <p class="text-sm font-semibold break-words">{{ scenario.analysis.auditor.get_full_name }}</p>
                                {% else %}
                                    <p class="text-sm font-semibold break-words">{{ scenario.analysis.auditor }}</p>
                                {% endif %}
                            </div>
                            <div class="flex-col w-2/12">
                                <p class="text-gray-400 text-sm font-semibold">{% trans "Version" %}: </p>
                                <p class="text-sm font-semibold break-words">{{ scenario.analysis.version }}</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="px-4 pt-2 pb-4 mb-2 bg-white rounded-lg shadow w-1/4">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Status" %}</h2>
                    <div class="flex flex-row">
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-sm font-semibold">{% trans "Last update" %}:</p>
                            <p class="text-sm font-semibold">{{ scenario.updated_at }}</p>
                        </div>
                        <div class="flex-1 flex-col">
                            <p class="text-sm font-semibold">{% trans "Treatment status" %}</p>
                            <p class="text-red-500 text-xs font-semibold">{{ form.treatment.errors|striptags }}</p>
                            {{ form.treatment }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="px-4 pt-2 pb-4 mb-2 mr-2 bg-white rounded-lg shadow w-1/2">
                    <section class="flex flex-col space-y-4">
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Threat" %}</p>
                            <p class="text-red-500 text-xs font-semibold">{{ form.threat.errors|striptags }}</p>
                            {{ form.threat }}
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Name" %}</p>
                            <p class="text-red-500 text-xs font-semibold">{{ form.name.errors|striptags }}</p>
                            {{ form.name }}
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold">{% trans "Description" %}</p>
                            <p class="text-red-500 text-xs font-semibold">{{ form.description.errors|striptags }}</p>
                            {{ form.description }}
                            <p class="help_text">{{ form.description.help_text }}</p>
                        </div>
                    </section>
                </div>
                <div class="px-4 pt-2 pb-4 mb-2 bg-white rounded-lg shadow w-1/2">
                    <div class="flex flex-col mb-4 space-y-1 h-full">
                        <div class="flex flex-col h-full">
                            <label class="text-sm font-semibold">{{ form.assets.label|striptags }}</label>
                            {{ form.assets }}
                            {% for error in form.assets.errors %}
                                <li class="text-red-500 text-xs font-semibold">{{ error|striptags }}</li>
                            {% endfor %}
                        </div>
                        <div class="help_text -mt-1">
                            {{ form.assets.help_text|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                <div class="flex flex-row">
                    <div class="w-1/2 mr-2">
                        <h2 class="text-lg font-semibold mb-4">{% trans "Current risk" %}</h2>
                        <p class="text-sm font-semibold">{% trans "Existing measures" %}</p>
                        <p class="text-red-500 text-xs font-semibold">{{ form.existing_measures.errors|striptags }}</p>
                        {{ form.existing_measures }}
                        <p class="text-xs text-gray-400">{{ form.existing_measures.help_text|striptags|capfirst }}</p>
                    </div>
                    <div class="flex items-center w-1/2">
                        <div class="px-4 pt-2 pb-4 flex flex-col w-full">
                            <p class="text-lg pb-2 font-semibold">{% trans "Current Assessment" %}</p>
                            <div class="px-4 pt-2 pb-4 flex flex-row space-x-6 justify-center">
                                <div>
                                    <p class="pl-1 text-sm font-semibold">{% trans "Current probability" %}</p>
                                    <p class="text-red-500 text-xs font-semibold">{{ form.current_proba.errors|striptags }}</p>
                                    {{ form.current_proba }}
                                </div>
                                <div class="items-center pt-7">
                                    <i class="fas fa-times"></i>
                                </div>
                                <div>
                                    <p class="pl-1 text-sm font-semibold">{% trans "Current impact" %}</p>
                                    <p class="text-red-500 text-xs font-semibold">{{ form.current_impact.errors|striptags }}</p>
                                    {{ form.current_impact }}
                                </div>
                                <div class="items-center pt-7">
                                    <i class="fas fa-equals"></i>
                                </div>
                                <div class=""> 
                                    <p class="pl-1 text-sm font-semibold">{% trans "Current risk level" %}</p>
                                    <div class="">
                                        <span id="current_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center"
                                            style="background-color: {{ scenario.get_current_risk.hexcolor }};">
                                            {{ scenario.get_current_risk.name }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-row-reverse w-full">
            <div class="flex flex-col-reverse w-full mb-4">
                <div class="flex flex-col space-y-2 px-4 pt-2 pb-4 mt-2 bg-white rounded-lg shadow">
                    <div>
                        <h2 class="text-lg font-semibold mb-4">{% trans "Comments" %}</h2>
                        
                    </div>
                    <div>
                        <p class="text-red-500 text-xs font-semibold">{{ form.comments.errors|striptags }}</p>
                        {{ form.comments }}
                    </div>
                </div>
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                    <div class="flex flex-row-reverse">
                        <div class="flex items-center w-1/2">
                            <div class="px-4 pt-2 pb-4 flex flex-col w-full">
                                <p class="text-lg font-semibold mb-4">{% trans "Target Assessment" %}</p>
                                <div class="flex flex-row space-x-4 mt-4 justify-center">
                                    <div>
                                        <p class="text-sm font-semibold whitespace-nowrap">{% trans "Residual probability" %}</p>
                                        <p class="text-red-500 text-xs font-semibold">{{ form.residual_proba.errors|striptags }}</p>
                                        {{ form.residual_proba }}
                                    </div>
                                    <div class="items-center pt-7">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div>
                                        <p class="text-sm font-semibold white">{% trans "Residual impact" %}</p>
                                        <p class="text-red-500 text-xs font-semibold">{{ form.residual_impact.errors|striptags }}</p>
                                        {{ form.residual_impact }}
                                    </div>
                                    <div class="items-center pt-7">
                                        <i class="fas fa-equals"></i>
                                    </div>
                                    <div class=""> 
                                        <p class="pl-1 text-sm font-semibold">{% trans "Residual risk level" %}</p>
                                        <div class="">
                                            <span id="residual_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center"
                                                style="background-color: {{ scenario.get_residual_risk.hexcolor }}">
                                                {{ scenario.get_residual_risk.name }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="w-1/2 mr-2">
                            <div class=" pb-6 mb-4 mr-1 w-full">
                                <h2 class="text-lg font-semibold mb-4">{% trans "Residual risk" %}</h2>
                                <div class="text-sm font-semibold">{% trans "Additional measures" %}</div>
                                <div class="px-4 pt-2 mr-2 pb-4 w-full border-x-2 border-t-2">
                                    <div class="flex">
                                        <div>
                                            {% include 'snippets/update_button_modal.html' with form=measures_select_form header=_("Select security measures") model="riskscenario" content=_("Select") %}
                                            {% include 'snippets/add_button_modal.html' with form=measure_create_form header=_("Add security measure") model="securitymeasure" content=_("New") %}
                                        </div>
                                    </div>
                                    {% include 'snippets/mtg_list_nested.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex space-x-2 justify-end"> 
            <button onclick="cancel()" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
            <input
                type="hidden" form="scenario_update_form" name="next" value={{ request.GET.next }}>
            <button action="submit" form="scenario_update_form" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-400"
            :disabled="submitDisabled">{% trans "Save" %}</button>
        </div>
        </section>
    </div>

</div>

<script>
    function cancel() {
        // unclean but works
        const fallbackURL = "{% url 'riskscenario-list' %}";
        if (window.history.length <= 2){
            window.location.href = fallbackURL;
            return false;
        }
        const prevURL = new URL(document.referrer).pathname;
        const curURL = window.location.pathname;
        if (prevURL === curURL)
        {
            window.history.go(-2);
            return false;
        }
        window.history.back();
        return false;
    }
</script>

<script>
    // patch for *THAT* risk scenario update form issue:
    $(document).ready(function() {
        $('button#securitymeasure_save').click(function(event) {
            event.preventDefault(); // prevent 1st submit (modal) from firing right away, without this only the modal will be submitted
            $('#scenario_update_form, #securitymeasure-create-form').each(function() {
                valuesToSend = $(this).serialize();
                $.ajax($(this).attr('action'),
                    {
                        type: $(this).attr('method'),
                        data: valuesToSend,
                        success: function(data) {
                            location.reload();
                        }
                    }
                )
            });
        });
    });
</script>

<script>
    matrix = {{ matrix|safe }}
    
    function refresh() {
        const current_proba = document.getElementById("id_current_proba").value;
        const current_impact = document.getElementById("id_current_impact").value;
        const residual_proba = document.getElementById("id_residual_proba").value;
        const residual_impact = document.getElementById("id_residual_impact").value;

        if (current_proba >= 0 && current_impact >=0)
            var current_risk = matrix.grid[current_proba][current_impact];
        if (residual_proba >= 0 && residual_impact >=0)
            var residual_risk = matrix.grid[residual_proba][residual_impact];

        if (current_risk >= 0){
            document.getElementById("current_risk_level").innerHTML = matrix.risk[current_risk].name;
            document.getElementById("current_risk_level").style.backgroundColor = matrix.risk[current_risk].hexcolor;;
        }
        else{
            document.getElementById("current_risk_level").innerHTML = "--";
            document.getElementById("current_risk_level").style.backgroundColor = '#A9A9A9';;
        }
        if (residual_risk >= 0){
            document.getElementById("residual_risk_level").innerHTML = matrix.risk[residual_risk].name;
            document.getElementById("residual_risk_level").style.backgroundColor = matrix.risk[residual_risk].hexcolor;;
        }
        else{
            document.getElementById("residual_risk_level").innerHTML = "--";
            document.getElementById("residual_risk_level").style.backgroundColor = '#A9A9A9';;
        }
        
    }

    window.onload = function() {
        refresh();
        items = document.querySelectorAll("ul#sidebar-items li.to-page a");
			items.forEach(function(element) {
				if (window.location.pathname.includes(element.getAttribute("href"))) {
					element.classList.remove("nav-link");
					element.classList.add("nav-link-active");
				}
			});
    };
</script>

{% endblock %}