{% extends 'core/base.html' %}
{% load i18n static %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% endblock %}
{% block content %}
{% with page_title=scenario %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}


<div x-data="{ submitDisabled: true }" @change="submitDisabled = false">
    <form method="POST" id="scenario_update_form", action="">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <div class="flex flex-col space-y-8">
        <section class="flex flex-row space-x-4 w-full">
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                <h2 class="text-lg font-semibold mb-4">{% trans "Risk scenario" %}</h2>
                <section class="flex flex-col space-y-4">
                    <div class="flex flex-row space-x-6">
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Project" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.project }}</p>
                        </div>
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Auditor" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.auditor.get_full_name }}</p>
                        </div>
                        <div class="flex-1 flex-col">
                            <p class="text-gray-400 text-xs">{% trans "Version" %}</p>
                            <p class="text-xs font-semibold">{{ scenario.analysis.version }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Analysis" %}</p>
                        {{ form.analysis.errors }}
                        {{ form.analysis }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Threat" %}</p>
                        {{ form.threat.errors }}
                        {{ form.threat }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Name" %}</p>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm font-semibold">{% trans "Description" %}</p>
                        {{ form.description.errors }}
                        {{ form.description }}
                        <p class="help_text">{{ form.description.help_text }}</p>
                    </div>
                    <div class="flex flex-col mb-4 space-y-1">
                        <div class="flex flex-col">
                            <label class="text-sm font-semibold">{{ form.assets.label|striptags }}</label>

                            {{ form.assets }}
                    
                            {% for error in form.assets.errors %}
                                <li class="text-red-500 text-xs font-semibold">{{ error|striptags }}</li>
                            {% endfor %}

                        </div>
                        <div class="help_text -mt-1">
                            {{ form.assets.help_text|safe }}
                        </div>
                    </div>
                </section>
            </div>
            <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow w-full">
                <h2 class="text-lg font-semibold mb-4">{% trans "Current profile" %}</h2>
                <p class="text-sm font-semibold">{% trans "Existing measures" %}</p>
                {{ form.existing_measures.errors }}
                {{ form.existing_measures }}
                <p class="text-xs text-gray-400">{{ form.existing_measures.help_text|striptags|capfirst }}</p>
                <div class="px-4 pt-2 pb-4 flex flex-col space-x-6 mt-10 rounded-lg shadow w-full border">
                    <p class="text-lg pb-2 font-semibold">{% trans "Current Assessment" %}</p>
                    <div class="px-4 pt-2 pb-4 flex flex-row space-x-6 justify-center">
                        <div>
                            <p class="pl-1 text-sm font-semibold">{% trans "Current probability" %}</p>
                            {{ form.current_proba.errors }}
                            {{ form.current_proba }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-times"></i>
                        </div>
                        <div>
                            <p class="pl-1 text-sm font-semibold">{% trans "Current impact" %}</p>
                            {{ form.current_impact.errors }}
                            {{ form.current_impact }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-equals"></i>
                        </div>
                        <div class=""> 
                            <p class="pl-1 text-sm font-semibold">{% trans "Current risk level" %}</p>
                            <div class="">
                                <span id="current_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center"
                                    style="background-color: {{ scenario.get_current_risk.hexcolor }};">
                                    {{ scenario.get_current_risk.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-row-reverse w-full">
            <div class="flex flex-col ml-1 space-y-4 w-full mb-4">
                <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Target Assessment" %}</h2>
                    <div class="flex flex-row space-x-4 mt-4 justify-center">
                        <div>
                            <p class="text-sm font-semibold whitespace-nowrap">{% trans "Residual probability" %}</p>
                            {{ form.residual_proba.errors }}
                            {{ form.residual_proba }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-times"></i>
                        </div>
                        <div>
                            <p class="text-sm font-semibold white">{% trans "Residual impact" %}</p>
                            {{ form.residual_impact.errors }}
                            {{ form.residual_impact }}
                        </div>
                        <div class="items-center pt-7">
                            <i class="fas fa-equals"></i>
                        </div>
                        <div class=""> 
                            <p class="pl-1 text-sm font-semibold">{% trans "Residual risk level" %}</p>
                            <div class="">
                                <span id="residual_risk_level" class="rounded-lg text-sm flex pb-2 pt-2 justify-center"
                                    style="background-color: {{ scenario.get_residual_risk.hexcolor }}">
                                    {{ scenario.get_residual_risk.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-4 px-4 pt-2 pb-4 bg-white rounded-lg shadow">
                    <div>
                        <h2 class="text-lg font-semibold mb-4">{% trans "Follow-up" %}</h2>
                        <p class="text-sm font-semibold">{% trans "Treatment status" %}</p>
                        {{ form.treatment.errors }}
                        {{ form.treatment }}
                    </div>
                    <div>
                        <p class="text-sm font-semibold">{% trans "Comments" %}</p>
                        {{ form.comments.errors }}
                        {{ form.comments }}
                    </div>
                </div>
            </div>
        </form>
            <div class="flex flex-col justify-center w-20 space-y-8">
                <div class="items-center pl-5 pb-20 mt-2">
                    <i class="scale-[5] scale-y-[3] fas fa-caret-right text-warmgray-700 drop-shadow-xs"></i>
                </div>
            </div>
            <div class="mb-4 mr-1 w-full">
                <div class="px-4 pt-2 mr-2 pb-4 bg-white rounded-t-lg shadow w-full">
                    <h2 class="text-lg font-semibold mb-4">{% trans "Select or create additional security measures" %}</h2>
                    <div class="flex flex-row">
                        <div class="flex">
                            {% include 'snippets/update_button_modal.html' with form=measures_select_form header=_("Select security measures") model="riskscenario" content=_("Select security measures") %}
                            {% include 'snippets/add_button_modal.html' with form=measure_create_form header=_("Add security measure") model="securitymeasure" content=_("New security measure") %}
                        </div>
                    </div>
                    {% include 'snippets/mtg_list_nested.html' %}
                </div>
            </div>
        </section>
        <div class="flex space-x-2 justify-end"> 
            <button onclick="window.history.back()" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
            <input
                type="hidden" form="scenario_update_form" name="next" value={{ request.GET.next }}>
            <button action="submit" form="scenario_update_form" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-400"
            :disabled="submitDisabled">{% trans "Save" %}</button>
        </div>
    </div>
</div>

<script> // patch for *THAT* risk scenario update form issue: 
    $(document).ready(function() {
        $('button#measure_save').click(function(event) {
            event.preventDefault(); // prevent 1st submit (modal) from firing right away, without this only the modal will be submitted
            $('#scenario_update_form, #measure-create-form').each(function() {
                valuesToSend = $(this).serialize();
                console.debug(valuesToSend);
                $.ajax($(this).attr('action'),
                    {
                        type: $(this).attr('method'),
                        data: valuesToSend,
                        success: function(data) {
                            location.reload();
                        }
                    }
                )
            });
        });
    });
</script>

<script>
    matrix = {{ matrix|safe }}
    
    function refresh() {
        const current_proba = document.getElementById("id_current_proba").value;
        const current_impact = document.getElementById("id_current_impact").value;
        const residual_proba = document.getElementById("id_residual_proba").value;
        const residual_impact = document.getElementById("id_residual_impact").value;

        if (current_proba >= 0 && current_impact >=0)
            var current_risk = matrix.grid[current_proba][current_impact];
        if (residual_proba >= 0 && residual_impact >=0)
            var residual_risk = matrix.grid[residual_proba][residual_impact];

        console.debug("current_risk", current_risk);
        console.debug("residual_risk", residual_risk);

        if (current_risk >= 0){
            document.getElementById("current_risk_level").innerHTML = matrix.risk[current_risk].name;
            document.getElementById("current_risk_level").style.backgroundColor = matrix.risk[current_risk].hexcolor;;
        }
        else{
            document.getElementById("current_risk_level").innerHTML = "--";
            document.getElementById("current_risk_level").style.backgroundColor = '#A9A9A9';;
        }
        if (residual_risk >= 0){
            document.getElementById("residual_risk_level").innerHTML = matrix.risk[residual_risk].name;
            document.getElementById("residual_risk_level").style.backgroundColor = matrix.risk[residual_risk].hexcolor;;
        }
        else{
            document.getElementById("residual_risk_level").innerHTML = "--";
            document.getElementById("residual_risk_level").style.backgroundColor = '#A9A9A9';;
        }
        
    }

    window.onload = function() {
        refresh();
        items = document.querySelectorAll("ul#sidebar-items li.to-page a");
			items.forEach(function(element) {
				if (window.location.pathname.includes(element.getAttribute("href"))) {
					element.classList.remove("nav-link");
					element.classList.add("nav-link-active");
				}
			});
    };
</script>

{% endblock %}