{% extends 'core/base.html' %}

{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
<div class="min-h-screen">
<div class="bg-white p-4 m-4 rounded-lg shadow-lg relative">
    <div class="absolute right-0 top-0 bg-indigo-500 text-sm text-white p-2 m-2 w-16 rounded shadow">{% trans "Default" %}</div>
    {% include 'snippets/risk_matrix.html' with matrix='default' data=ri_clusters.current %}
</div>
<div class="bg-white p-4 m-4 rounded-lg shadow-lg relative">
    <div class="absolute right-0 top-0 bg-indigo-500 text-sm text-white p-2 m-2 w-16 rounded shadow">{% trans "Critical" %}</div>
    {% include 'snippets/risk_matrix.html' with matrix='critical' data=ri_clusters.current %}
</div>
</div>
{% endblock %}