{% extends 'core/base.html' %}
{% load i18n static %}
{% block content %}
{% with page_title=acceptance %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}

<div class="mb-4">
    <form method="post" id="acceptance_update_form" x-data="{ submitDisabled: true }" @change="submitDisabled = false">{% csrf_token %}
        <div class="bg-white rounded-lg shadow px-8 py-6">
            <section class="flex flex-col space-y-4 mb-2">
                <div class="text-red-500 text-sm"><p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}</p></div>
                {% for field in form %}
                    <div class="flex flex-col">
                        <label class="text-sm font-semibold">{{ field.label|striptags }} {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}</label>
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                        {% endfor %}
                        {{ field }}
                        {{ field.helptext }}
                    </div>
                {% endfor %}
            </section>
            <div class="flex justify-end space-x-2 mt-4">
                <button onclick="redirectToNext(); return false;" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
                <input type="hidden" name="next" value={{ request.GET.next }}>
                <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-300"
                :disabled="submitDisabled">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>
<script>
    var field1 = document.getElementById('id_riskacceptance_folder');
    var parentDiv = document.getElementById('id_riskscenarios_select');
    var labels = parentDiv.querySelectorAll('label');

    function updateLabels() {
    var selectedText = field1.options[field1.selectedIndex].textContent;
    for (var i = 0; i < labels.length; i++) {
        var isGlobal = (selectedText === 'Global');
        var isVisible = (labels[i].innerText.includes(selectedText+"/") || isGlobal);
        labels[i].classList.toggle('hidden', !isVisible);
    }
    }

    window.onload = updateLabels;
    field1.addEventListener('change', updateLabels);
</script>
{% endblock %}