{% extends 'core/base.html' %}
{% block content %}
{% load i18n %}
{% load core_extras %}
{% with page_title=_('Edit matrix') %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}
<div>
    <form method="post" id="riskmatrix_update_form" x-data="{ submitDisabled: true }" x-on:keyup="submitDisabled = false" @change="submitDisabled = false">{% csrf_token %}
        <div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow">
            <h2 class="text-xl font-semibold mb-4">{% trans "Matrix information" %}</h2>
            <div class="flex flex-col">
                <label class="text-sm font-semibold text-gray-800">{% trans "Name" %}</label>
                <p class="text-sm text-gray-700">{{ matrix.name }}</p>
            </div>
            <div class="flex flex-col space-y-4">
                {% include 'snippets/risk_matrix.html' %}
                <p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}</p>
                {% for field in form %}
                    {% if field.field.widget|class == "CheckboxInput" %}
                        {% include 'snippets/form_field_row.html' %}
                    {% elif field.field.widget|class == "CheckboxSelectMultiple" %}
                        {% include 'snippets/form_checkbox_select_multiple.html' %}
                    {% else %}
                        <div class="flex flex-col">
                            <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
                            <div class="w-auto">
                                {% for error in field.errors %}
                                    <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                                {% endfor %}
                                {% if field.field.widget|class == "ReadOnlyPasswordHashWidget" %}
                                    {% if field.value == '' %}
                                        {{ field }}
                                    {% else %}
                                    {% endif %}
                                {% else %}
                                    {{ field }} 
                                {% endif %}
                                <div class="help_text">
                                    {{ field.help_text|safe }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mt-4 flex space-x-2 justify-end">
            <button onclick="window.history.back(); return false;" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
            <input type="hidden" name="next" value={{ request.GET.next }}>
            <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-300"
                :disabled="submitDisabled">{% trans "Save" %}</button>
            </div>    
        </div>
    </form>
</div>
{% endblock content %}