{% extends 'core/base.html' %}
{% load i18n static %}

{% block content %}
<div>
    {% with page_title=_('Role assignment') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="rounded bg-white mb-8 p-4 overflow-x-scroll shadow-md">
        <h2 class="text-xl font-semibold mb-2">{% trans "Available roles" %}</h2>
        <p class="text-xs text-gray-600 leading-tight mb-6 w-1/2">
            {% blocktrans %}
            A assignment provides access to predefined menus and features so that depending 
            on the assignment (Administrator, Domain manager, Analyst...), users 
            can have access to the resources they need.
            {% endblocktrans %}
        </p>
        <div class="flex flex-row space-x-2">
            {% for role in roles %}
                <div class="border border-gray-200 p-2 rounded-lg w-64 shadow">
                    <h2 class="text-lg text-gray-900 font-medium">{{ role }}</h2>
                    <a href="#" class="w-fit leading-relaxed text-sm text-indigo-500 cursor-pointer hover:underline">{% trans "Learn more" %}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div x-data="{ openTab: 1 }" class="bg-white rounded py-4 shadow-md">
        <div class="flex flex-row">
            <h2 class="px-4 text-xl font-semibold mb-2 whitespace-nowrap">{% trans "Role assignments" %}</h2>
            <div class="grid mb-4 w-full px-4">
                <a href="{% url 'roleassignment-create' %}" class="add-button"><i class="fas fa-plus mr-2"></i>{% trans "New role assignment" %}</a>
            </div>
        </div>
        <div class="px-4 flex flex-row">
            <div @click="openTab = 1" class="cursor-pointer px-2 w-fit border-indigo-500 hover:bg-gray-200 rounded-t hover:border-indigo-700" :class="openTab == 1 ? 'border-b-2 bg-gray-100' : 'border-b-0'">{% trans "Users" %}</div>
            <div @click="openTab = 2" class="cursor-pointer px-2 w-fit border-indigo-500 hover:bg-gray-200 rounded-t hover:border-indigo-700" :class="openTab == 2 ? 'border-b-2 bg-gray-100' : 'border-b-0'">{% trans "User groups" %}</div>
        </div>
        <div class="relative overflow-x-auto rounded-b-lg">
            <table x-show="openTab === 1" class="w-full text-sm text-left border-t">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <th class="px-6 py-3">{% trans "User" %}</th>
                    <th class="px-6 py-3">{% trans "Email address" %}</th>
                    <th class="px-6 py-3">{% trans "Role" %}</th>
                    <th class="px-6 py-gray-50">{% trans "Domains" %}</th>
                    <th class="px-6 py-3">{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    {% if assignment.user %}
                        <tr class="odd:bg-white even:bg-gray-50">
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        <a id="assignment{{ assignment.id }}" href="#"
                                        class="text-md font-semibold whitespace-no-wrap">
                                            {{ assignment.user.get_full_name|capfirst }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        <p id="assignment{{ assignment.id }}" href="#"
                                        class="whitespace-no-wrap">
                                            {{ assignment.user.email }}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        <a id="assignment{{ assignment.id }}" href="#"
                                        class="text-md font-semibold whitespace-no-wrap">
                                            {{ assignment.role|capfirst }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        {% for domain in assignment.domains.all %}
                                        <li>
                                            <a id="assignment{{ assignment.id }}" href="#"
                                            class="text-md font-semibold whitespace-no-wrap">
                                                    {{ domain.name }}
                                            </a>
                                        </li>
                                            {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="">
                                    <span>
                                        <a href="{% url 'roleassignment-update' assignment.id %}#?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </span>
    
                                    {% include 'snippets/delete_button_modal.html' with object=assignment header=_("Delete role assignment?") model="usergroup" %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% empty %}
                        <tr>
                            <td>
                                <div class="text-black p-4">
                                    <i class="inline fas fa-exclamation-triangle"></i>
                                    <p class="inline test-gray-900">{% trans "No assignment found." %}</p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table x-show="openTab === 2" class="w-full text-sm text-left border-t">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <th class="px-6 py-3">{% trans "User group" %}</th>
                    <th class="px-6 py-3">{% trans "Role" %}</th>
                    <th class="px-6 py-gray-50">{% trans "Domains" %}</th>
                    <th class="px-6 py-3">{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.user_group %}
                        <tr class="odd:bg-white even:bg-gray-50">
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        <a id="assignment{{ assignment.id }}" class="text-md font-semibold whitespace-no-wrap">
                                            {{ assignment.user_group|capfirst }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        <a id="assignment{{ assignment.id }}" class="text-md font-semibold whitespace-no-wrap">
                                            {{ assignment.role|capfirst }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="ml-0">
                                        {% for domain in assignment.perimeter_folders.all %}
                                        <li>
                                            <a id="assignment{{ assignment.id }}" class="text-md font-semibold whitespace-no-wrap">
                                                {{ domain.name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="">
                                    <span>
                                        <a href="{% url 'roleassignment-update' assignment.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </span>
    
                                    {% include 'snippets/delete_button_modal.html' with object=assignment header=_("Delete role assignment?") model="usergroup" %}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% empty %}
                        <tr>
                            <td>
                                <div class="text-black p-4">
                                    <i class="inline fas fa-exclamation-triangle"></i>
                                    <p class="inline test-gray-900">{% trans "No assignment found." %}</p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}