{% extends 'core/base.html' %}
{% load i18n static %}

{% block content %}
{% with page_title=_('Security functions') %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}
<div class="flex flex-row justify-start space-x-4 h-fit">
    <!-- Ordering, Searchbar and Dropdown Form -->
    <form method="get">
        <div class="flex flex-row space-x-4">
            <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-search"></i>
                    </div>
                    {{ filter.form.name }}
            </div>
            <div class="flex justify-center">
                <div
                    x-data="{
                        open: false,
                        toggle() {
                            if (this.open) {
                                return this.close()
                            }
                
                            this.$refs.button.focus()
                
                            this.open = true
                        },
                        close(focusAfter) {
                            if (! this.open) return
                
                            this.open = false
                
                            focusAfter && focusAfter.focus()
                        }
                    }"
                    x-on:keydown.escape.prevent.stop="close($refs.button)"
                    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                    x-id="['dropdown-button']"
                    class="relative"
                >
                    <!-- Button -->
                    <button
                        x-ref="button"
                        x-on:click="toggle()"
                        :aria-expanded="open"
                        :aria-controls="$id('dropdown-button')"
                        type="button"
                        class="px-4 py-2 rounded-lg shadow w-fit flex flex-row items-center space-x-1.5"
                            :class="open === true ? 'bg-indigo-600 hover:bg-indigo-700 text-white' : 'bg-white hover:bg-indigo-600 hover:text-white'"
                    >
                        <i class="fas fa-filter"></i>
                        <span>{% trans "Filters" %}</span>
                    </button>
                
                    <!-- Panel -->
                    <div
                        x-ref="panel"
                        x-show="open"
                        x-transition.origin.top.left
                        x-on:click.outside="close($refs.button)"
                        :id="$id('dropdown-button')"
                        style="display: none;"
                        class="absolute left-0 mt-2 z-10 max-w-xl bg-white rounded shadow-2xl overflow-hidden"
                    >
                
                        <div class="flex flex-col space-y-2 w-full overflow-visible px-4 py-2">
                            <div>
                                <p class="block text-sm font-medium text-gray-900">{% trans "Provider" %}</p>
                                {{ filter.form.provider }}
                            </div>
                            <button type="submit" class="mt-4 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg px-4 py-2">{% trans "Apply" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                    <i class="fas fa-sort"></i>
                </div>
                {{ filter.form.orderby }}
            </div>        
        </div>
    </form>
    {% url 'securityfunction-list' as short_path %}
    {% if request.get_full_path != short_path %}
    <div class="flex items-center h-10 w-full">
        <a href="{% url 'securityfunction-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
            <span>{% trans "Clear Filters" %}</span>
        </a>
    </div>
    {% endif %}
    <!-- End Filters Dropdown Form -->
    {% if add_securityfunction %}
    {% include 'snippets/add_button_modal.html' with form=security_function_create_form header=_("Add security function") model="securityfunction" content=_("New security function") %}
    {% endif %}
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
    <table class="w-full text-sm text-left">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <th class="px-6 py-3">{% trans "Name" %}</th>
            <th class="px-6 py-3">{% trans "Provider" %}</th>
            <th class="px-6 py-3">{% trans "Actions" %}</th>
        </thead>
        <tbody>
            {% for function in functions %}
                <tr class="odd:bg-white even:bg-gray-100 hover:text-indigo-500 transition duration-500 hover:ease-in-out hover:bg-gray-200 cursor-pointer" onclick="window.location='{% url 'securityfunction-detail' function.id %}?next={{ request.path|urlencode }}'">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="">
                                <p id="function{{ function.id }}" class="text-md font-semibold whitespace-no-wrap">
                                    {{ function.name|capfirst }}
                                </p>
                            </div>
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        <p class="whitespace-no-wrap">
                            {{ function.provider }}
                        </p>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="">
                            <span><a href="{% url 'securityfunction-detail' function.id %}" class="table-action"><i class="far fa-eye"></i></a></span>
                            {% if function.id in object_ids_change %}
                            <span>
                                <a href="{% url 'securityfunction-update' function.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </span>
                            {% endif %}
                            {% if function.id in object_ids_delete %}
                            {% include 'snippets/delete_button_modal.html' with object=function header=_("Delete security function?") model='securityfunction' %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr class="text-black p-4 text-center">
                    <td colspan="8" class="py-2">
                        <i class="inline fas fa-exclamation-triangle"></i>
                        <p class="inline test-gray-900">{% trans "No security function found." %}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'snippets/paginator.html' %}
</div>
{% endblock %}