
{% load static i18n %}
{% load core_extras %}
<aside
    class="flex-shrink-0 w-72 flex flex-col shadow transition-all duration-300 fixed h-screen overflow-visible top-0 left-0 z-20" :class="{ '-ml-66': !sidebarOpen }">
    <nav class="flex-1 flex flex-col overflow-y-auto bg-gray-50  py-4 px-3">
        <div class="flex flex-row space-x-4 border-b pb-3" aria-label="logo">
            <div class="flex items-center justify-left rounded">
                <img id="a" viewBox="0 0 512 512" height="64" width="64" src="/static/icons/ciso-assistant.png"/>
            </div>
            <div class="flex flex-col w-full h-full">
                <div class="flex flex-row space-x-2 w-full mt-auto">
                    <p class="font-semibold text-gray-900">CISO Assistant</p>
                </div>
                <p class="text-sm font-light text-gray-500 mb-auto">by intuitem</p>
            </div>
        </div>
        <div class="scrollbar overflow-x-visible flex-grow mr-4" id="sidebar-scroll">
            <ul class="flex flex-col py-4 space-y-1" id="sidebar-items">




                <li class="nav-separator pt-4">
                    <div class="flex flex-row items-center">
                        <div class="">{% trans "Dashboard" %}</div>
                    </div>
                </li>

                <li class="to-page">
                    <a id="overview_tab" href="{% url 'overview' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Overview" %}</span>
                    </a>
                </li>


                <li class="nav-separator pt-4">
                    <div class="flex flex-row items-center">
                        <div class="">{% trans "Compliance management" %}</div>
                    </div>
                </li>
                <li class="to-page">
                    <a id="assessment_tab" href="{% url 'assessment-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-glasses"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Assessments" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="security_measure_tab" href="{% url 'securitymeasure-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-fire-extinguisher"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Security measures" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="evidence_tab" href="{% url 'evidence-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-file"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Evidences" %}</span>
                    </a>
                </li>
                <li class="nav-separator pt-4">
                    <div class="flex flex-row items-center">
                        <div class="">{% trans "General" %}</div>
                    </div>
                </li>
                <li class="to-page">
                    <a id="folder_tab" href="{% url 'folder-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-project-diagram"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Projects domains" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="project_tab" href="{% url 'project-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-cubes"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Projects" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="threat_tab" href="{% url 'threat-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-biohazard"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Threats" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="security_function_tab" href="{% url 'securityfunction-list' %}" class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                    <span class="ml-4 w-1/12 text-center">
                        <i class="fas fa-cogs"></i>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate">{% trans "Security functions" %}</span>
                    </a>
                </li>
                <li class="to-page">
                    <a id="framework_tab" href="{% url 'framework-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-folder"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Frameworks" %}</span>
                    </a>
                </li>
                <li class="nav-separator pt-4">
                    <div class="flex flex-row items-center">
                        <div class="t">{% trans "Access management" %}</div>
                    </div>
                </li>
                {% if view_user %}
                <li class="to-page">
                    <a id="users_tab" href="{% url 'user-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Users" %}</span>
                    </a>
                </li>
                {% else %}
                <li class="to-page">
                    <a id="users_tab" class="relative flex flex-row items-center pr-6 nav-link bg-gray-100">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate text-gray-300">{% trans "Users" %} </span>
                    </a>
                </li>
                {% endif %}
                {% if change_usergroup %}
                <li class="to-page">
                    <a id="user_groups_tab" href="{% url 'usergroup-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Groups" %}</span>
                    </a>
                </li>
                {% else %}
                <li class="to-page">
                    <a id="user_groups_tab" class="relative flex flex-row items-center pr-6 nav-link bg-gray-100">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate text-gray-300">{% trans "Groups" %}</span>
                    </a>
                </li>
                {% endif %}
                <li class="to-page">
                    <a href="{% url 'role-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-sitemap"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Role assignment" %}</span>
                    </a>
                </li>

                <li class="nav-separator pt-4">
                    <div class="flex flex-row items-center">
                        <div class="">{% trans "Extra" %}</div>
                    </div>
                </li>

                <li class="to-page">
                    <a id="library_tab" href="{% url 'library-list' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-folder-plus"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Libraries" %}</span>
                    </a>
                </li>
                {% if request.user.has_backup_permission %}
                <li class="to-page">
                    <a id="backup_tab" href="{% url 'backup-restore' %}"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-save"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "Backups" %}</span>
                    </a>
                </li>

                {% endif %}
                {% comment %} <li class="to-page">
                    <a href="#"
                        class="relative flex flex-row items-center pr-6 nav-link hover:bg-gray-200">
                        <span class="ml-4 w-1/12 text-center">
                            <i class="fas fa-question-circle"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">{% trans "User guide" %}</span>
                    </a>
                </li> {% endcomment %}
            </ul>
        </div>
        <div class="border-t pt-2.5 flex flex-row">
            <div class="mr-2 w-10/12 flex flex-col">
                <p class="text-gray-900 text-sm whitespace-nowrap overflow-hidden truncate">{{ request.user.get_full_name }}</p>
                <p class="font-normal text-xs text-gray-600 mr-2 whitespace-nowrap overflow-hidden truncate w-full">{{ request.user.email }}</p>
            </div>
            <div>
            <div
                    x-data="{
                        open: false,
                        toggle() {
                            if (this.open) {
                                return this.close()
                            }

                            this.$refs.button.focus()

                            this.open = true
                        },
                        close(focusAfter) {
                            if (! this.open) return

                            this.open = false

                            focusAfter && focusAfter.focus()
                        }
                    }"
                    x-on:keydown.escape.prevent.stop="close($refs.button)"
                    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                    x-id="['dropdown-button']"
                    class="relative w-full overflow-visible"
                >
                <button id="my_menu" class="w-fit px-3 rounded-full hover:bg-gray-100 text-center my-auto cursor-pointer"
                        x-ref="button"
                        x-on:click="toggle()"
                        :aria-expanded="open"
                        :aria-controls="$id('dropdown-button')"
                        type="button">
                    <i class="fas fa-ellipsis-v text-gray-800"></i>
                </button>
                <div
                        x-ref="panel"
                        x-show="open"
                        x-transition.origin.top.left
                        x-on:click.outside="close($refs.button)"
                        :id="$id('dropdown-button')"
                        style="display: none;"
                        class="absolute right-0 bottom-full mt-2 w-fit rounded-md bg-white shadow-md overflow-visible hover:block z-50 py-2"
                    >
                    <a href="{% url 'user-detail' %}" class="flex items-center gap-2 w-full px-4 py-2.5 text-left text-sm hover:bg-gray-100 disabled:text-gray-500 text-gray-800">
                        <i class="fas fa-user"></i>
                        {% trans "My profile" %}
                    </a>

                    <div class="w-full border-t border-gray-200 my-1"></div>

                    <a href="{% url 'lic-management' %}" class="flex items-center gap-2 w-full px-4 py-2.5 text-left text-sm hover:bg-gray-100 disabled:text-gray-500 text-gray-800">
                        <i class="fas fa-file-invoice-dollar"></i>
                        License
                    </a>

                    <div class="w-full border-t border-gray-200 my-1"></div>
                    
                    <div class="flex flex-row items-center">
                        <div>
                            <a id="translation"
                            class="flex flex-row items-center">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <select id="language" class="border-none pl-4 focus:border-none block text-sm text-gray-800 bg-white focus:ring-0" name="language" onchange="this.form.submit();"> 
                                    {% get_current_language as LANGUAGE_CODE %} 
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}> 
                                        {{ language.code|country_flag }} {{ language.name_local|capfirst }} ({{ language.code }})
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                            </a>
                        </div>
                    </div>

                    <div x-data="{ open : false }" class="flex items-center cursor-pointer gap-2 w-full px-4 py-2.5 text-left text-sm hover:bg-gray-100 disabled:text-gray-500">
                        <a @click="open = !open, aboutModalOpen = !aboutModalOpen" class="relative flex flex-row whitespace-nowrap">
                            <span class="transition duration-75 text-gray-800 group">
                                <i class="fas fa-info-circle"></i>
                                {% trans "About CISO Assistant" %}
                            </span>
                        </a>
                        
                    </div>

                    <div class="w-full border-t border-gray-200 my-1"></div>

                    <a id="logout" href="{% url 'logout' %}" class="flex items-center gap-2 w-full px-4 py-2.5 text-left text-sm text-gray-800 hover:bg-gray-100 disabled:text-gray-500">
                        <i class="fas fa-sign-out-alt"></i>
                        {% trans "Log out" %}
                    </a>
                </div>
            </div>
        </div>
    </nav>
</aside>
<!-- SIDEBAR TOGGLE -->
{% comment %} 
              TODO: Find a better solution for button getting in front of modal backdrop.
              Here, we have two buttons, one with a z-index so that it is placed in front of the sidebar, and one
              with no z-index so that it does not get in front of the backdrop when a modal is opened. 
              A small issue is that by removing its z-index, the button gets behind the sidebar when a modal is opened.
{% endcomment %}
<button x-cloak x-show="!modalOpen" class="z-20 fixed left-64 w-6 h-6 rounded-full content-center self-center bg-white shadow text-indigo-900 hover:scale-105 hover:bg-indigo-700 hover:text-white transition-all duration-300"  @click="sidebarOpen = !sidebarOpen" :class="sidebarOpen == false ? '-ml-62' : 'ml-5'">
    <i class="fas fa-angle-left transition-all duration-100" :class="{ 'rotate-180': sidebarOpen == false }"></i>
</button>
<button x-cloak x-show="modalOpen" class="fixed left-64 w-6 h-6 rounded-full content-center self-center bg-white shadow text-indigo-900 hover:scale-105 hover:bg-indigo-700 hover:text-white transition-all duration-300"  @click="sidebarOpen = !sidebarOpen" :class="sidebarOpen == false ? '-ml-62' : 'ml-5'">
    <i class="fas fa-angle-left transition-all duration-100" :class="{ 'rotate-180': sidebarOpen == false }"></i>
</button>

