{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
{% with page_title=threat %}
{% include 'snippets/breadcrumbs.html' %}
{% endwith %}

<div class="mb-4">
    <form method="post" id="security_function_form" x-data="{ submitDisabled: true }" @change="submitDisabled = false">{% csrf_token %}
        <div class="bg-white rounded-lg shadow px-4 py-6 w-full mb-4">
            <div class="flex flex-col space-y-4">
                <p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}</p>
                {% for field in form %}
                <div class="">
                    <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
                    <div class="w-auto">
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
                        {% endfor %}
                        {{ field }}
                        <div class="mt-1 text-xs text-gray-400">
                            {{ field.help_text|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="flex space-x-2 mt-4 justify-end">
                <button onclick="window.history.back(); return false;" class="bg-gray-300 text-black aliased font-medium p-4 py-1.5 w-18 rounded-lg hover:bg-gray-200">{% trans "Cancel" %}</button>
                <input hidden name="next" value={{ request.GET.next }}>
                <button action="submit" class="bg-indigo-700 text-white aliased font-medium p-5 w-18 py-1 rounded-lg hover:bg-indigo-600 disabled:bg-indigo-300"
                :disabled="submitDisabled">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}