{% load i18n %}

{% block content %}
<main class="p-2 bg-white rounded-lg shadow-lg mb-6">
    <div class="py-4 px-3">
        <h1 class="text-2xl font-extrabold text-slate-700">{% trans 'Security measures summary' %}</h1>
        {% if measures %}
        <div class="m-2 p-2">
                <div class="h-96 p-2 m-2">
                    <span class="text-sm font-semibold">{% trans "Security measures status" %}</span>
                    {% include 'core/fragments/measures_status.html' with name='security_measures_status' labels=security_measure_status.labels values=security_measure_status.values %}
                </div>
        </div>
        <div class="p-4 m-2">
            <div class="text-lg font-semibold">{% trans "Your pending measures" %}:</div>
            <div class="text-sm pb-4">{% trans "ordered by ranking score" %}</div>
            <div class="flex items-center justify-center">
                <table class="p-2 m-2 w-full">
                    <tr class="bg-gray-100">
                        <th class="text-left py-2 px-4">{% trans "Domain" %}</th>
                        <th class="text-left py-2 px-4">{% trans "Measure" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "ETA" %}</th>
                        <th class="py-2 px-4">{% trans "Actions" %}</th>
                    </tr>
                    {% for mtg in measures %}
                    <tr class="border-b">
                        <td class="text-left py-2 px-4">{{ mtg.folder }}</td>
                        <td class="text-left py-2 px-4">{{ mtg.name }}</td>
                        <td class="text-center py-2 px-4 {% include 'snippets/mtg_style.html' with security_measure=mtg %}">{{ mtg.get_status_display }}</td>
                        <td class="text-center py-2 px-4">{% if mtd.eta %} {{ mtg.eta|date }} {% else %} -- {% endif %}</td>
                        <td class="text-center py-2 px-4">
                            {% if mtg.id in viewable_measures %} 
                                <a href="{% url 'securitymeasure-detail' mtg.id %}" class="text-indigo-500 hover:text-indigo-300"><i class="fas fa-eye"></i></a>
                            {% endif %}
                            {% if mtg.id in updatable_measures %}
                                <a href="{% url 'securitymeasure-update' mtg.id %}" class="text-indigo-500 hover:text-indigo-300"><i class="fas fa-pen-square"></i></a>
                            {% endif %}
                        </td>
                    {% empty %}
                    <tr class="text-black p-4 text-center">
                        <td colspan="8" class="py-2">
                            <i class="inline fas fa-exclamation-triangle"></i>
                            <p class="inline test-gray-900">{% trans "No pending measure." %}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        {% else %}
            <div class="flex items-center justify-center space-x-2 p-4">
                <i class="inline fas fa-exclamation-triangle"></i>
                <p class="inline test-gray-900">{% trans "No security measures." %}</p>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="p-2 m-2"></div>
</main>
{% endblock %}
