{% extends 'core/base.html' %}
{% load i18n static %}

{% block content %}
<div class="">
    {% with page_title=_('Users') %}
    {% include 'snippets/breadcrumbs.html' %}
    {% endwith %}
    <div class="flex flex-row justify-start space-x-4 h-fit">
        <form method="get">
            <div class="flex flex-row space-x-4">
                <div class="flex flex-row space-x-0 rounded-lg h-fit shadow focus-within:ring-2 focus-within:ring-blue-700">
                        <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ filter.form.q }}
                </div>
                <div class="flex justify-center">
                    <div
                        x-data="{
                            open: false,
                            toggle() {
                                if (this.open) {
                                    return this.close()
                                }
                    
                                this.$refs.button.focus()
                    
                                this.open = true
                            },
                            close(focusAfter) {
                                if (! this.open) return
                    
                                this.open = false
                    
                                focusAfter && focusAfter.focus()
                            }
                        }"
                        x-on:keydown.escape.prevent.stop="close($refs.button)"
                        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                        x-id="['dropdown-button']"
                        class="relative z-10"
                    >
                        <!-- Button -->
                        <button
                            x-ref="button"
                            x-on:click="toggle()"
                            :aria-expanded="open"
                            :aria-controls="$id('dropdown-button')"
                            type="button"
                            class="bg-white hover:bg-blue-600 hover:text-white px-4 py-2 rounded-lg shadow w-fit flex flex-row items-center space-x-1.5"
                            :class="{ 'bg-blue-600 hover:bg-blue-700 text-white': open }"
                        >
                            <i class="fas fa-filter"></i>
                            <span>{% trans "Filters" %}</span>
                        </button>
                    
                        <!-- Panel -->
                        <div
                            x-ref="panel"
                            x-show="open"
                            x-transition.origin.top.left
                            x-on:click.outside="close($refs.button)"
                            :id="$id('dropdown-button')"
                            style="display: none;"
                            class="absolute left-0 mt-2 w-64 bg-white rounded shadow-2xl overflow-hidden"
                        >
                    
                            <div class="flex flex-col space-y-2 w-full overflow-visible px-4 py-2">
                                <div>
                                    <p class="block mb-1 text-sm font-medium text-gray-900">{% trans "Superuser" %}</p>
                                    {{ filter.form.is_superuser }}
                                </div>
                                <div>
                                    <p class="block mb-1 text-sm font-medium text-gray-900">{% trans "Active" %}</p>
                                    {{ filter.form.is_active }}
                                </div>
                                <div>
                                    <p class="block mb-1 text-sm font-medium text-gray-900">{% trans "Groups" %}</p>
                                    {{ filter.form.user_groups }}
                                </div>
                                <button type="submit" class="mt-4 bg-blue-600 hover:bg-blue-700 text-white rounded-lg px-4 py-2">{% trans "Apply" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row space-x-0 rounded-lg h-fit overflow-hidden shadow focus-within:ring-2 focus-within:ring-blue-700">
                    <div class="h-10 rounded-l-lg bg-white py-2 pl-3 text-gray-500">
                        <i class="fas fa-sort"></i>
                    </div>
                    {{ filter.form.orderby }}
                </div>        
            </div>
        </form>
        {% url 'user-list' as short_path %}
        {% if request.get_full_path != short_path %}
        <div class="flex items-center h-10 w-full">
            <a href="{% url 'user-list' %}" class="inline-block align-middle hover:underline px-4 cursor-pointer leading-tight whitespace-nowrap">
                <span>{% trans "Clear Filters" %}</span>
            </a>
        </div>
        {% endif %}
        <div class="grid mb-4 w-full">
            <a href="{% url 'user-create' %}" class="add-button"><i class="fas fa-plus mr-2"></i>{% trans "New User" %}</a>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <th class="px-6 py-3">{% trans "Email Address" %}</th>
                <th class="px-6 py-3">{% trans "User Groups" %}</th>
                <th class="px-0 py-3">{% trans "Full Name" %}</th>
                <th class="px-6 py-3">{% trans "Created At" %}</th>
                <th class="px-6 py-3">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="odd:bg-white even:bg-gray-50">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <div class="flex items-center">
                                {% if not user.is_active %}
                                <span class="bg-orange-300 p-1 rounded-lg text-xs mr-2">{% trans "inactive" %}</span>
                                {% endif %}
                                {% if user.is_superuser %}
                                <span class="bg-red-300 p-1 rounded-lg text-xs mr-2">{% trans "superuser" %}</span>
                                {% endif %}
                                <div class="">
                                    <a id="user{{ user.id }}" href="{% url 'user-update' user.id %}?next={{ request.path|urlencode }}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                        {{ user.email }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td cclass="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {% for group in user.user_groups.all %}
                                {{ group }}/
                                {% endfor %}
                            </p>
                        </td>
                        <td cclass="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ user.get_full_name }}
                            </p>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ user.date_joined|date }}
                            </p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="">
                                <span>
                                    <a href="{% url 'user-update' user.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </span>

                                {% include 'snippets/delete_button_modal.html' with object=user header=_("Delete user?") model='user' extra_text=_("<strong>WARNING:</strong> It is <strong>STRONGLY</strong> recommended to set this user as inactive instead of deleting it, as it might break foreign-key relationship with risk analyses.") %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <div class="text-black p-4">
                                <i class="inline fas fa-exclamation-triangle"></i>
                                <p class="inline test-gray-900">{% trans "No user found." %}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="px-5 py-3 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
            <span class="text-xs xs:text-sm text-gray-900">
                    {% trans "Showing Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
            <div class="inline-flex mt-2 xs:mt-0 space-x-2">
                {% if page_obj.has_previous %}
                <a href="?page=1"
                   class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i class="fas fa-angle-double-left"></i>
                    {% trans "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"><i class="fas fa-angle-left"></i> {% trans "Prev" %}</a>
                {% endif %} {% if page_obj.has_next %}
                <a id ="next" class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                   href="?page={{ page_obj.next_page_number }}">{% trans "Next" %} <i class="fas fa-angle-right"></i></a>
                <a class="text-sm bg-indigo-500 text-white hover:bg-indigo-400 font-semibold py-2 px-4 rounded"
                   href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} <i class="fas fa-angle-double-right"></i></a> {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}