@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .VL {
        @apply bg-green-200;
    }

    .L {
        @apply bg-lime-300;
    }

    .M {
        @apply bg-yellow-200;
    }

    .H {
        @apply bg-amber-400;
    }

    .VH {
        @apply bg-red-400;
    }

    .calendar {
        @apply p-4 m-4 w-full table-fixed;
    }

    .calendar tr td {
        @apply border;
    }

    .calendar th {
        @apply text-center;

    }

    .calendar td {
        @apply hover:bg-blue-50;
    }

    .calendar td {
        @apply px-2 py-3 h-32 w-32;
    }

    .calendar ul {
        @apply h-full w-full p-1;
    }

    .calendar date {
        @apply text-black;
    }

    .calendar li {
        @apply text-indigo-600 hover:text-indigo-400 text-xs;
    }

    .month {
        @apply text-xl pt-2 pb-3 my-2 rounded;
    }

    .my-select {
        @apply my-2 block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-sm  disabled:bg-gray-50 disabled:text-gray-400;
    }

    .nav-link {
        @apply flex items-center p-2 text-sm font-normal text-gray-800 rounded-lg hover:bg-gray-100;
    }

    .nav-link-active {
        @apply flex items-center p-2 text-sm font-normal text-indigo-800 rounded-lg bg-indigo-100 hover:bg-indigo-200;
    }

    .nav-link-icon {
        @apply transition duration-75 ml-4;
    }

    .dashboard-card {
        @apply text-white bg-gradient-to-r from-indigo-500 to-indigo-800 rounded-md shadow-lg p-4 m-4 w-1/5;
    }

    .table-action{
        @apply text-xl text-slate-500 hover:text-indigo-900 mx-2;
    }
    
    .tooltip-custom {
        @apply p-2 text-white bg-gray-600 rounded-xl shadow-sm;
    }

    .nav-separator {
        @apply px-6 pt-3 text-indigo-900 font-semibold uppercase tracking-tighter text-xs;
    }

    .form-label {
        @apply mb-1 block text-sm font-medium text-gray-900;
    }

    .form-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
    }
    
    .add-button {
        @apply justify-self-end rounded-lg bg-indigo-700 hover:bg-indigo-600 text-white font-medium px-4 py-2 cursor-pointer shadow whitespace-nowrap h-fit;
    }

    .simple-link {
        @apply text-blue-800 font-semibold;
    }

    .filter-searchbar {
        @apply bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-2.5;
    }

    .help_text-link {
        @apply font-normal text-indigo-500 hover:underline;
    }

    .help_text {
        @apply mt-1 text-xs text-gray-400;
    }

    .password_update strong {
        @apply font-medium;
    }



}