{% load i18n %}

<main class="p-2 m-2 main">
    <div class="bg-white p-2 m-2 shadow rounded-lg space-x-3 flex flex-row justify-center">
        <p class="font-semibold text-lg"> {% trans "Domain" %}: {{ risk_assessment.project.folder }}</p>
        <p>/</p>
        <p class="font-semibold text-lg"> {% trans "Project" %}: {{ risk_assessment.project }}</p>
        <p>/</p>
        <p class="font-semibold text-lg"> {% trans "RiskAssessment" %}: {{ risk_assessment.name }} - {{ risk_assessment.version }}</p>
    </div>
    <p class="p-2 m-2 text-lg font-semibold"> {% trans "Associated risk scenarios" %}: </p>
    <div class="bg-white p-2 m-2 shadow overflow-hidden rounded-lg flex">
        <table class="w-full p-2 mt-2">
            <thead>    
            </thead>
            <tbody>
            {% if not context %}
            <tr class="">
                <td colspan="" class="p-4 m-2 text-xl text-center"><i class="fas fa-exclamation-circle"></i> 
                {% trans "Risk risk_assessment seems to be empty. Measure Plan cannot be generated." %}
                </td>
            </tr>
            {% endif %}
            {% for scenario in context %}
            <tr class="bg-gray-100">
                <td class="text-lg p-3" colspan="9">
                    <p class="text-indigo-500 hover:text-indigo-700">{{ scenario.rid }}: {{ scenario.name }}</p> 
                    <span class="text-xs text-center p-1 mx-1 rounded"
                    {% if scenario.treatment == 'open' %}
                    style="background-color: #fed7aa"
                    {% elif scenario.treatment == 'mitigate' %}
                    style="background-color: #bbf7d0"
                    {% elif scenario.treatment == 'accept' %}
                    style="background-color: #bae6fd"
                    {% else %}
                    style="background-color: #fca5a5"
                    {% endif %}">{{ scenario.get_treatment_display|lower}}
                    </span>
                </td>
            </tr>
            {% if not scenario.applied_controls.all %}
            <tr>
                <td colspan="9" class="p-2 text-left"><i class="fas fa-exclamation-circle"></i> {% trans "No associated measure" %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-md pl-6 pb-3 font-medium" colspan="9"> {% trans "Existing controls" %}: </td>
            </tr>
            <tr>
                <td class="text-sm pl-6 pb-3" colspan="9"> {{ scenario.existing_controls }} </td>
            </tr>
            <tr>
                <td class="text-md pl-6 pb-3 font-medium" colspan="9"> {% trans "Additional measures" %}: </td>
            </tr>
            <tr class="text-sm uppercase">
                <td class="px-2 text-center">#</td>
                <td class="px-2 font-semibold">{% trans "Name" %}</td>
                <td class="px-2 font-semibold">{% trans "Description" %}</td>
                <td class="px-2 font-semibold">{% trans "Type" %}</td>
                <td class="px-2 font-semibold">{% trans "Reference control" %}</td>
                <td class="px-2 font-semibold">{% trans "ETA" %}</td>
                <td class="px-2 font-semibold">{% trans "Effort" %}</td>
                <td class="px-2 font-semibold text-center">{% trans "Link" %}</td>
                <td class="px-2 font-semibold text-center">{% trans "Status" %}</td>
            </tr>
            {% endif %}
            {% for appliedcontrol in scenario.applied_controls.all %}
            <tr class="hover:text-indigo-500 border-b cursor-pointer hover:scale-[0.99] duration-500">
                <td class="px-2 py-3 text-center pl-4">{{ appliedcontrol.mid }}</td>
                <td class="px-2 py-3">{{ appliedcontrol.name }}</td>
                <td class="px-2 py-3 max-w-md">{% if appliedcontrol.description %}{{ appliedcontrol.description|linebreaksbr }}{% endif %}</td>
                <td class="px-2 py-3">{{ appliedcontrol.get_type_display }}</td>
                <td class="px-2 py-3">{% if appliedcontrol.reference_control %}{{ appliedcontrol.reference_control }}{% else %}--{% endif %}</td>
                <td class="px-2 py-3">{% if appliedcontrol.eta %}{{ appliedcontrol.eta }}{% else %}--{%endif%}</td>
                <td class="px-2 py-3">{% if appliedcontrol.effort %}{{ appliedcontrol.effort }}{% else %}--{%endif%}</td>
                <td class="px-2 py-3 text-center">{% if appliedcontrol.link %}<a onclick="event.stopPropagation();" href="{{ appliedcontrol.link }}"
                                                                   class="hover:text-blue-400"><i
                        class="fas fa-external-link-square-alt"></i></a>{% else %}--{% endif %}
                </td>
                <td class="text-center"><span class="text-xs text-gray-900 whitespace-nowrap text-center p-1 mx-1 rounded
                    {% if appliedcontrol.status == 'open' %}
                    bg-orange-200 
                    {% elif appliedcontrol.status == 'in_progress' %}
                    bg-blue-200 
                    {% elif appliedcontrol.status == 'on_hold' %}
                    bg-red-300 
                    {% else %}
                    bg-green-200 
                    {% endif %}">{{ appliedcontrol.get_status_display|lower }} 
                    </span></td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</main>