{% load i18n %}

<main class="flex-grow main">
    <!--Information banner-->
    <div class="">
        <div class="bg-white py-4 px-12 m-4 shadow rounded-lg flex space-x-2 relative">
            <div class="container w-1/3 ">
                <div class="text-sm font-semibold ">{% trans "Risk assessment" %}</div>
                <div id="name" class="text-lg font-semibold ">{{ risk_assessment }}</div>
                <br>
                <div class="text-sm">
                    <ul class="">
                        <li class="pb-1"><span class="font-semibold">{% trans "Authors:" %}</span>
                          <ul>
                            {% for author in risk_assessment.authors.all %}
                                <li>{{ author }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Status:" %}</span> {% if risk_assessment.is_draft %} 
                        <span class="bg-blue-200 py-1 px-2 rounded-lg">{% trans "Draft" %}</span> {% else %} <span class="bg-green-200 py-1 px-2 rounded-lg">{% trans "Ready" %} </span>{% endif %}
                        </li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Created at:" %}</span> {{ risk_assessment.created_at|date }}</li>
                        <li class="pb-1"><span class="font-semibold">{% trans "Updated at:" %}</span> {{ risk_assessment.updated_at|date }}</li>
                    </ul>
                </div>
            </div>
            <div class="container w-2/3 rounded">
                <div class="text-sm"><span class="font-semibold">{% trans "Risk matrix:" %}</span> <p>{{ risk_assessment.risk_matrix }}</p>
                </div>
                <br>
                <div class="text-sm"><span class="font-semibold">{% trans "Description" %}:</div>
                <div class="text-sm"> {% if risk_assessment.description %}{{ risk_assessment.description|linebreaksbr }}{% endif %}</div>
            </div>

        </div>
    </div>
    <!--Risk risk_assessment-->
    <div class="m-4 px-4 py-10 shadow rounded-lg bg-white">
        <div class="text-lg pb-2"> {% trans "Risk scenarios" %} ({{ context|length }})</div>
        {% include 'snippets/ri_list_nested.html' %}
    </div>
    <!--Risk matrix view-->
    <div class="m-4 px-4 py-8 shadow rounded-lg bg-white page-break">
        <div class="text-xl pb-4">{% trans "Risk matrix view" %}</div>
        <div class="flex space-x-3">
            <div class="w-1/2 shadow rounded-lg p-6">
                <h3 class="font-bold p-2 m-2 text-lg">{% trans "Current" %}</h3>
                {% if pdf %}
                    {% include 'snippets/risk_matrix.html' with enriched_data=ri_clusters.current %}
                {% else %}
                    {% include 'snippets/risk_matrix.html' with data=ri_clusters.current %}
                {% endif %}
            </div>
            <div class="w-1/2 shadow rounded-lg p-6">
                <h3 class="font-bold p-2 m-2 text-lg">{% trans "Residual" %}</h3>
                {% if pdf %}
                    {% include 'snippets/risk_matrix.html' with enriched_data=ri_clusters.residual %}
                {% else %}
                    {% include 'snippets/risk_matrix.html' with data=ri_clusters.residual %}
                {% endif %}
            </div>


        </div>

    </div>

</main>
