{% load i18n core_extras %}

<div class="node">
    {% if not node.requirement_node.assessable %}
        <div class="font-semibold">
            {{ node.requirement_node.display_long }}
        </div>
        {% if node.bar_graph %}
            {% bar_graph assessments ancestors node.requirement_node %}
        {% endif %}
    {% else %}
        <div class='flex flex-col shadow-md border rounded-lg px-4 py-2 m-2 ml-0 items-center border-t-2 border-t-{{ node.color_class }} border-{{ node.color_class }}'>
            <div class='flex flex-row justify-between w-full'>
                <div class='font-semibold'>{{ node.assessments.requirement }}</div>
                <div class='text-white text-center rounded-lg whitespace-nowrap px-2 py-1 bg-{{ node.color_class }}'>{{ node.status }}</div>
            </div>
            {% if node.assessments.requirement.description %}
                <div class='text-left w-full'>{{ node.assessments.requirement.description }}</div>
            {% endif %}
        </div>
        {% if node.bar_graph %}
            {% bar_graph assessments ancestors node.requirement_node %}
        {% endif %}
        {% if node.direct_evidences %}
            <div class="flex flex-col px-4 py-2 m-2 ml-0 rounded-lg bg-indigo-200 direct_evidences_block">
                <div class="grid grid-cols-2 justify-items-left font-semibold">
                    <div>{% trans "Associated evidence:" %}</div>
                </div>
                {% for evidence in node.direct_evidences %}
                    {% if evidence.attachment %}
                        <li><a class="text-indigo-700 hover:text-indigo-500" target="_blank" href="evidences/{{ evidence.attachment }}">{{ evidence.name }}</a></li>
                    {% else %}
                        <li>{{ evidence.name }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if node.applied_controls %}
            <div class="flex flex-col px-4 py-2 m-2 ml-0 rounded-lg bg-indigo-200 applied_controls_block">
                <div class="grid grid-cols-2 justify-items-left font-semibold">
                    <div>{% trans "Applied controls:" %}</div>
                    <div>{% trans "Evidence of applied controls:" %}</div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col items-left w-1/2">
                        {% for control in node.applied_controls %}
                            <li>{{ control.measure.name }}: {{ control.measure.get_status_display }}</li>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col items-left w-1/2">
                        {% for control in node.applied_controls %}
                            {% for evidence in control.evidences %}
                                {% if evidence.attachment %}
                                    <li><a class="text-indigo-700 hover:text-indigo-500" target="_blank" href="evidences/{{ evidence.attachment }}">{{ control.measure.name }}/{{ evidence.name }}</a></li>
                                {% else %}
                                    <li>{{ evidence.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div id="children-of-{{ node.requirement_node.urn }}">
        {% for child_node in node.children %}
            {% include "snippets/req_node.html" with node=child_node %}
        {% endfor %}
    </div>
</div>
