{% load i18n %}
{% load static tailwind_tags %}

<table class="min-w-full leading-normal">
    <thead>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "ID" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Name" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Threat" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Existing controls" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Current risk level" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Residual risk level" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Status" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Suggested measures" %}
        </th>
    </thead>
    <tbody>
        {% for scenario in scenarios %}
            <tr class="hover:text-indigo-500 cursor-pointer hover:scale-[0.99] duration-500">
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
                    {{ scenario.rid }}
                </td>
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                    <div class="flex items-center">

                        <div class="ml-0">
                            <p id="scenario{{ scenario.id }}" class="text-md font-semibold whitespace-no-wrap">
                                {{ scenario.name }}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                    <p class="whitespace-no-wrap">
                        {% if scenario.threat %}{{ scenario.threat }}{% else %}--{% endif %}
                    </p>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                    <p class="max-h-64 max-w-full box overflow-hidden">{{ scenario.existing_controls|linebreaksbr }}</p>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                {% for risk in risk_matrix.parse_json.risk %}
                    {% if risk.name == scenario.get_current_risk.name %}
                            <p class="flex justify-center whitespace-no-wrap rounded" style="background-color: {{ risk.hexcolor }}">
                                {{ scenario.get_current_risk.name }}
                            </p>
                        </td>
                    {% endif %}
                {% endfor %}
                {% if scenario.get_current_risk.name == '--' %}
                            <p class="flex justify-center whitespace-no-wrap rounded" style="background-color: #808080">
                                {{ scenario.get_residual_risk.name }}
                            </p>
                        </td>
                {% endif %}
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                {% for risk in risk_matrix.parse_json.risk %}
                    {% if risk.name == scenario.get_residual_risk.name %}
                            <p class="flex justify-center whitespace-no-wrap rounded" style="background-color: {{ risk.hexcolor }}">
                                {{ scenario.get_residual_risk.name }}
                            </p>
                        </td>
                    {% endif %}
                {% endfor %}
                {% if scenario.get_residual_risk.name == '--' %}
                            <p class="flex justify-center whitespace-no-wrap rounded" style="background-color: #808080">
                                {{ scenario.get_residual_risk.name }}
                            </p>
                        </td>
                {% endif %}
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                    {{ scenario.get_treatment_display }}
                </td>
                <td class="px-4 py-5 border-b border-gray-200 text-sm">
                    <ul class="list-disc space-y-4 ml-4">
                        {% for measure in scenario.applied_controls.all %}
                            <li class="text-gray-900">
                                <p
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-400">
                                    {{ measure }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% empty %}
            <tr class="text-black p-4 text-center">
                <td colspan="8" class="py-2">
                    <i class="inline fas fa-exclamation-triangle"></i>
                    <p class="inline test-gray-900">{% trans "No scenario found." %}</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
