{% load static i18n core_extras %}

<!-- BEGIN CREATE FORM -->
<form action="{% url model|lower|add:'-create-modal' %}" id="{{ model|lower|add:'-create-form' }}" method="POST"> {% csrf_token %}

    <p class="text-red-500 text-xs font-semibold">{{ form.non_field_errors|striptags }}</p>
    {{ form.errors }}
    <div id="new_analysis-form">
      {% for field in form %}
      {% if field.field.widget|class == "CheckboxInput" %}
        {% include 'snippets/form_field_row.html' %}
      {% else %}
      <div class="mb-6">
        <label class="form-label">{{ field.label|striptags }} {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}</label>
        <div>
          {% for error in field.errors %}
            <p class="text-red-500 text-xs font-semibold">{{ error|striptags }}</p>
          {% endfor %}
            {{ field }}
            {% if field.field.widget.attrs.disabled %}
              <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
            {% endif %}
          <p class="help_text">{{ field.help_text }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <section class="col-start-3 col-span-6 place-content-end">
        <section class="grid grid-cols-2 place-content-end">
          <button id="cancel" @click="open = !open,
modalOpen = !modalOpen" type="button"
            class="inline-block font-normal text-center px-4 py-2 leading-normal text-base rounded cursor-pointer text-black bg-gray-300 hover:bg-gray-400">{% trans "Cancel" %}</button>
          <input type="hidden" name="next" value="{{ request.path|urlencode }}">
          <button id="{{ model }}_save" {% if model == 'securitymeasure' %} {% else %} type="submit" {% endif %}
            class="inline-block font-normal text-center px-4 py-2 leading-normal text-base rounded cursor-pointer text-white bg-indigo-800 hover:bg-indigo-600 ml-2">
            {% trans "Save" %}
          </button>
        </section>
      </section>
    </div>
  </form>
  <!-- END CREATE FORM -->