{% load i18n static core_extras %}
<!-- MODAL CONTAINER WITH BACKDROP -->
<div x-show="aboutModalOpen" x-cloak
>

<!--
<div x-show="open" x-cloak
class="transition-opacity z-50 whitespace-normal"
x-transition:enter="ease-out duration-100"
x-transition:enter-start="opacity-0"
x-transition:enter-end="opacity-100"
x-transition:leave="ease-out duration-100"
x-transition:leave-start="opacity-100"
x-transition:leave-end="opacity-0"
>
-->


  <div x-cloak>

    <!-- MODAL -->
    <div
      class="fixed z-50 inset-0 w-full h-full outline-none overflow-y-auto"
      role="dialog">

      <!-- MODAL DIALOG -->
      <div
        class="relative w-auto pointer-events-none max-w-lg mt-8 mx-auto mb-8">

        <!-- MODAL CONTAINER -->
        <div class="relative flex flex-col w-full pointer-events-auto bg-white shadow-xl rounded-md overflow-hidden" id="new_{{ model|lower }}_modal">
          <div class="flex items-start justify-between p-4 bg-gradient-to-r from-slate-200">
            {% if topic == 'no_matrix' %}
            <div class="mb-4 text-xl text-gray-800"><span class="text-red-600"><i
              class="fas fa-warning"></i></span><span class="ml-2 font-medium">{{ header }}</span>
            </div>
            {% else %}
            <div class="mb-4 text-xl text-gray-800"><span class="text-indigo-900"><i
                  class="fas fa-hashtag"></i></span><span class="ml-2 font-medium">{{ header }}</span>
            </div>
            {% endif %}
            <button type="button" class="close" @click="aboutModalOpen = !aboutModalOpen">
              <span class="text-lg text-gray-600 hover:bg-gray-200 py-2 px-3 rounded">
                <i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="flex flex-col p-8">

            {% if modal_action == "create" %}
                {% include 'snippets/modal/modal_create_form.html' %}
            {% elif modal_action == "action" %}
                {% include 'snippets/modal/modal_action_form.html' %}
            {% elif modal_action == "delete" %}
                {% include 'snippets/modal/modal_delete_form.html' %}
            {% elif modal_action == "update" %}
                {% include 'snippets/modal/modal_update_form.html' %}
            {% elif modal_action == "import_library" %}
                {% include 'snippets/modal/modal_import_library_form.html' %}
            {% elif modal_action == "text" %}
                {% include 'snippets/modal/modal_text.html' %}
            {% else %}
                <p class="text-sm"><strong class="inline">{% trans "Version:" %}</strong> {% mira_version %}</p>
                <p class="text-sm whitespace-nowrap"><strong class="inline">{% trans "Build:" %}</strong> {% mira_build %}</p>
            {% endif %}

          </div>
        </div>
        <!-- END MODAL CONTAINER -->
      </div>
      <!-- END MODAL DIALOG -->
    </div>

    <!-- BACKDROP -->
    <div
    class="z-40 fixed top-0 left-0 bottom-0 right-0 bg-slate-700/50">
    </div>
  </div>
</div>