@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* (all other styles here...) */
html,
body {
	@apply h-full overflow-auto;
}
.capitalize-first:first-letter {
	@apply capitalize;
}

@layer base {
	[data-popup] {
		transition: none;
	}
}
