{% extends 'generic/detail.html' %}
{% load static i18n %}

{% block below %}
    <div class="bg-white rounded-lg shadow-lg px-4 py-6 w-full mt-2">
        <div class="flex justify-between">
            <p class="text-xl font-semibold mb-4 whitespace-nowrap">{{ evidence.filename }}</p>
            <div class="grid mb-4 w-full">
                <a class="add-button" href="{% url 'evidence-download' evidence.id %}">
                    <i class="fas fa-file-download mr-2"></i>
                    {% trans "Download" %}
                </a>
            </div>
        </div>
        {% if evidence.preview.0 == "icon" %}
        <div class="flex justify-center border-2 shadow rounded-lg">
            {{ evidence.preview.1|linebreaksbr }}
        </div>
        {% else %}
        <div class="flex justify-center h-screen border-2 shadow rounded-lg">
            {{ evidence.preview.1|linebreaksbr }}
        </div>
        {% endif %}
    </div>
{% endblock below %}