{% extends 'generic/detail.html' %}
{% load static i18n %}

{% block above %}
    {% if risk_acceptance_need_validation and validate_riskacceptance %}
        <div class="flex flex-row items-center bg-yellow-100 rounded-xl shadow-lg px-6 py-2 mb-2">
            <div class="text-yellow-900">
                {% trans "This risk acceptance is awaiting processing. Remember to <strong>review</strong> it before accepting or rejecting it, you will not be able to go back." %}
            </div>
            <div class="ml-auto flex">
                    {% include 'snippets/action_button_modal.html' with header=_("Accept risk acceptance") content=_("Accept") name="accepted" %}
                    {% include 'snippets/action_button_modal.html' with header=_("Reject risk acceptance") content=_("Reject") name="rejected" %}
            </div>
        </div>
    {% endif %}
{% endblock above %}

{% block edit_button %}
{% if change and not risk_acceptance_accepted and not risk_acceptance_rejected and not risk_acceptance_revoked %}
<a href="{{ object.edit_url }}?next={{ request.path|urlencode }}" class="bg-indigo-700 px-4 py-2 cursor-pointer text-white hover:bg-indigo-600 rounded-lg w-fit h-fit font-medium">
    <i class="fas fa-edit mr-2"></i>{% trans "Edit" %}
</a>         
{% endif %}
{% endblock edit_button %}

{% block below %}
    {% if risk_acceptance_accepted and validate_riskacceptance %}
        <div class="flex flex-row items-center bg-blue-100 rounded-xl shadow-lg px-6 py-2 mt-2">
            <div class="text-blue-900">
                {% trans "This risk acceptance is currently accepted. You can revoke it at any time, but this will be <strong>irrevocable</strong>. You will need to duplicate it with a different verison if necessary." %}
            </div>
            <div class="ml-auto whitespace-nowrap">
                {% include 'snippets/action_button_modal.html' with header=_("Revoke risk acceptance") content=_("Revoke") name="revoked" %}
            </div>
        </div>
    {% endif %}
{% endblock below %}