{% extends 'generic/detail.html' %}
{% load static i18n %}

{% block below %}
<div class="flex flex-row space-x-2">
    <div class="bg-white rounded-lg shadow-lg px-4 py-6 w-1/2 mt-2 overflow-y-auto max-h-96">
        <div class="grid grid-rows-1 grid-cols-2 mb-2">
            <h2 class="text-xl font-semibold mb-4">{% trans "Associated evidence" context "plural" %}</h2>
            {% include 'snippets/add_button_modal.html' with form=evidence_create_form header=_("Add evidence") model="evidence" content=_("New evidence") %}
        </div>
        {% include 'snippets/evidence_list_nested.html' %}
    </div>
    <div class="bg-white rounded-lg shadow-lg px-4 py-6 w-1/2 mt-2 overflow-y-auto max-h-96">
        <div class="grid grid-rows-1 grid-cols-2 mb-2">
            <h2 class="text-xl font-semibold mb-4">{% trans "Associated requirement assessments" %}</h2>
        </div>
        {% include 'snippets/requirementassessment_list_nested.html' %}
    </div>
</div>
{% endblock below %}