<div class="flex flex-col mb-4">
    <div class="flex flex-row space-x-2">
        <label class="text-sm font-semibold">{{ field.label|striptags }}</label>
        <div class="w-auto">
            <div class="flex flex-col">
                <div class="-mt-1 ">
                    {{ field }}
            
                    {% for error in field.errors %}
                        <li class="text-red-500 text-xs font-semibold">{{ error|striptags }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="help_text -mt-1">
        {{ field.help_text|safe }}
    </div>
</div>