<!-- MODAL CONTAINER WITH BACKDROP -->
<div x-cloak x-show="isOpening()">

  <!-- MODAL -->
  <div :class="{ 'opacity-0': isOpening(), 'opacity-100': isOpen() }"
    class="fixed z-50 top-0 left-0 w-full h-full outline-none transition-opacity duration-200 linear overflow-y-auto" tabindex="-1"
    role="dialog">

    <!-- MODAL DIALOG -->
    <div :class="{ 'my-4': isOpening(), 'my-8': isOpen() }"
      class="relative w-auto pointer-events-none max-w-lg mt-8 mx-auto transition-all duration-200 ease-out">

      <!-- MODAL CONTAINER -->
      <div
        class="relative flex flex-col w-full pointer-events-auto bg-white rounded-xl shadow-xl">
        <div class="flex items-start justify-between p-4 bg-indigo-700 text-white">
          <h5 class="mb-0 text-xl">
            <i class="fas fa-plus-circle"></i>
            Add Measure
          </h5>
          <button type="button" class="close" x-on:click="close()"><span class="text-lg">&times;</span></button>
        </div>
        <div class="flex p-8 flex-col border-gray-300">
          <form action="{% url 'measure-create-modal' %}" method="post">{% csrf_token %}
            {{ measure_create_form.non_field_errors }}
            {{ measure_create_form.errors }}
            <div class="grid grid-cols-8 gap-y-6 font-medium">
              {% for field in measure_create_form %}
                <div class="col-span-2">
                  <p>{{ field.label|striptags }}</p>
                </div>
                <div class="col-span-6">
                  {{ field.errors }}
                  {{ field }}
                </div>
              {% endfor %}

              <section class="col-start-3 col-span-6 place-content-end">

                <section class="grid grid-cols-2 place-content-end">
                  <button x-on:click="close()" type="button"
                    class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-black bg-gray-300 hover:bg-gray-400 mr-2">Cancel</button>
                  <input type="hidden" name="next" value="{{ request.path|urlencode }}">
                  <button id="save" type="submit"
                    class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
                    Save
                  </button>
                </section>
              </section>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- BACKDROP -->
  <div :class="{ 'opacity-25': isOpen() }"
    class="z-40 fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-200 linear"></div>
</div>