{% load i18n %}
{% load static tailwind_tags %}

<table class="min-w-full leading-normal">
    <thead>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "ID" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Auditor" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Last Update" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Actions" %}
        </th>
    </thead>
    <tbody>
        {% for analysis in analyses %}
            <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">
                        {% if analysis.is_draft %}
                        <span class="bg-blue-100 p-1 rounded-lg text-xs">{% trans "draft" %}</span>
                        {% else %}
                        <span class="bg-green-200 p-1 rounded-lg text-xs ">{% trans "ready" %}</span>
                        {% endif %}
                        <div class="ml-3">
                            <a id="analysis{{ analysis.id }}" href="{% url 'ra-update' analysis.id %}?next={{ request.path|urlencode }}"
                            class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                {{ analysis }}
                            </a>
                        </div>
                    </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap capitalize">
                        {% if analysis.auditor %}{{ analysis.auditor }}{% else %}--{% endif %}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ analysis.updated_at|date }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm overflow-visible">
                    <div class="w-full">
                        <span><a href="{% url 'RA' analysis.id %}" class="table-action"><i class="far fa-eye"></i></a></span>
                        <span>
                            <a href="{% url 'ra-update' analysis.id %}?next={{ request.path|urlencode }}" class="cursor-pointer table-action">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>

                        <span x-data="{ open: false }">
                            <a @click="open = ! open" type="button"
                            class="cursor-pointer table-action">
                                <i class="fas fa-trash"></i>
                                
                            </a>
                                  
                            {% include 'back_office/snippets/modal.html' with modal_action="delete" model="analysis" header=_("Delete risk analysis?") object=analysis %}
                        
                        </span>

                    </div>
                </td>
            </tr>
        {% empty %}
            <tr class="text-black p-4 text-center">
                <td colspan="4" class="pt-4">
                <i class="inline fas fa-exclamation-triangle"></i>
                <p class="inline test-gray-900">{% trans "No analysis found." %}</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
