{% load i18n %}
{% load static tailwind_tags %}

<table class="min-w-full leading-normal">
    <thead>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Title" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Parent Risk" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Current Risk Level" %}
        </th>
        <th class="px-5 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Residual Risk Level" %}
        </th>
    </thead>
    <tbody>
        {% for instance in instances %}{% if instance.analysis == analysis %}
            <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">

                        <div class="ml-3">
                            <a id="instance{{ instance.id }}" href="#"
                            class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                {{ instance.title }}
                            </a>
                        </div>
                    </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap capitalize">
                        {% if instance.parent_risk %}{{ instance.parent_risk }}{% else %}--{% endif %}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ instance.current_level }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    {{ instance.residual_level }}
                </td>
            </tr>
        {% endif %}{% endfor %}
    </tbody>
</table>