{% load i18n %}
{% load static tailwind_tags %}

<table class="min-w-full leading-normal">
    <thead>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "ID" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Name" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Threat" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Existing measures" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Current risk level" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Suggested measures" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Residual risk level" %}
        </th>
        <th class="px-4 py-3 border-b border-gray-200 bg-white text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            {% trans "Status" %}
        </th>
    </thead>
    <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    {{ scenario.rid }}
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">

                        <div class="ml-0">
                            <a id="scenario{{ scenario.id }}" href="{% url 'ri-update' scenario.id %}?next={{ request.path|urlencode }}"
                            class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                {{ scenario.name }}
                            </a>
                        </div>
                    </div>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap capitalize">
                        {% if scenario.threat %}{{ scenario.threat }}{% else %}--{% endif %}
                    </p>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="max-h-64 max-w-full box overflow-hidden">{{ scenario.existing_measures }}</p>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ scenario.get_current_risk.name }}
                    </p>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    <ul class="list-disc space-y-4">
                        {% for measure in scenario.security_measures.all %}
                            <li>
                                <a href="{% url 'mtg-update' measure.id %}"
                                    class="text-gray-900 text-md font-semibold whitespace-no-wrap hover:text-blue-500">
                                    {{ measure }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    {{ scenario.get_residual_risk.name }}
                </td>
                <td class="px-4 py-5 border-b border-gray-200 bg-white text-sm">
                    {{ scenario.get_treatment_display }}
                </td>
            </tr>
            {% empty %}
            <tr class="text-black p-4 text-center">
                <td colspan="8" class="py-2">
                    <i class="inline fas fa-exclamation-triangle"></i>
                    <p class="inline test-gray-900">{% trans "No scenario found." %}</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>