{% load i18n static %}
<!-- MODAL CONTAINER WITH BACKDROP -->
<div x-cloak x-show="isOpening()" class="whitespace-normal">
                                          
    <!-- MODAL -->
    <div
      :class="{ 'opacity-0': isOpening(), 'opacity-100': isOpen() }"
      class="fixed z-50 top-0 left-0 w-full h-full outline-none transition-opacity duration-200 linear"
      tabindex="-1"
      role="dialog"
    >

      <!-- MODAL DIALOG -->
      <div
        :class="{ 'my-4': isOpening(), 'my-8': isOpen() }"
        class="relative w-auto pointer-events-none max-w-lg mt-8 mx-auto transition-all duration-200 ease-out"
      >

        <!-- MODAL CONTAINER -->
        <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg shadow-xl">
          <div class="flex items-start justify-between p-4 border-b border-gray-300 rounded-t">
            <h5 class="mb-0 text-md leading-normal font-semibold">{% trans "Delete threat?" %}</h5>
            <button
              type="button"
              class="close"
              x-on:click="close()"
            >&times;</button>
          </div>
          <p class="relative p-4">
            {% trans "This action cannot be undone. This will permanently delete the following Threat: " %}<strong class="inline">{{ threat }}</strong>.
          </p>
          <div class="flex items-center justify-end p-4 border-t border-gray-300">
            <button
              x-on:click="close()"
              type="button"
              class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gray-600 hover:bg-gray-500 mr-2"
            >{% trans "No, take me back" %}</button>
            <form action="{% url 'threat-delete' threat.id %}" method="post">{% csrf_token %}
                <input id="delete{{ threat.id }}" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-red-600 hover:bg-red-700 mr-2"
                type="submit" value={% trans "Yes" %}>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- BACKDROP -->
    <div
      :class="{ 'opacity-25': isOpen() }"
      class="z-40 fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-200 linear"
    ></div>
  </div>