name: Backend Linters
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "backend/**"
      - "enterprise/backend/**"

# Cancel older in-progress runs for the same PR or the same ref (branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GITHUB_WORKFLOW: github_actions
  PYTHON_VERSION: "3.12"
  UBUNTU_VERSION: "ubuntu-24.04"

jobs:
  ruff-community:
    runs-on: ubuntu-24.04
    env:
      working-directory: ./backend

    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install ruff
        working-directory: ${{env.working-directory}}
        run: |
          python -m pip install ruff==0.9.2
      - name: Run ruff format check
        working-directory: ${{env.working-directory}}
        run: ruff format --check .
      # NOTE: The following will be uncommented once the codebase is cleaned up
      # - name: ruff
      #   working-directory: ${{env.working-directory}}
      #   run: ruff check .
  ruff-enterprise:
    runs-on: ubuntu-24.04
    env:
      working-directory: ./enterprise/backend

    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install ruff
        working-directory: ${{env.working-directory}}
        run: |
          python -m pip install ruff==0.9.2
      - name: Run ruff format check
        working-directory: ${{env.working-directory}}
        run: ruff format --check .
      # NOTE: The following will be uncommented once the codebase is cleaned up
      # - name: ruff
      #   working-directory: ${{env.working-directory}}
      #   run: ruff check .
