name: Frontend Linters

on:
  pull_request:
    paths:
      - "frontend/**"

env:
  GITHUB_WORKFLOW: github_actions

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./frontend
      PUBLIC_BACKEND_API_URL: "http://127.0.0.1:8000/api"

    strategy:
      max-parallel: 4
      matrix:
        node-version: ["20"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install latest pnpm
        working-directory: ${{env.working-directory}}
        run: |
          npm install -g pnpm &&
          pnpm --version &&
          pnpm list -g --depth 0
      - name: Install prettier
        working-directory: ${{env.working-directory}}
        run: pnpm add --save-dev prettier
      - name: Run prettier
        working-directory: ${{env.working-directory}}
        run: pnpm exec prettier --check .
      # NOTE: The following will be uncommented once the codebase is cleaned up
      # - name: Install latest npm
      #   working-directory: ${{env.working-directory}}
      #   run: |
      #     npm install -g npm &&
      #     npm --version &&
      #     npm list -g --depth 0
      # - name: Install dependencies
      #   working-directory: ${{env.working-directory}}
      #   run: npm ci
      # - name: Run prettier check & eslint
      #   working-directory: ${{env.working-directory}}
      #   run: npm run lint
      # - name: Run svelte-check
      #   working-directory: ${{env.working-directory}}
      #   run: npm run check
